title = "export"
url = "/export"
layout = "default"
is_hidden = 0

[export]

[urlaub]
==
<div class="container">
    <div class="keybutton--wrapper">
        <button class="btn--forgotkey">Anmelden</button>
        <!--        <button class="btn&#45;&#45;back">Zurück</button>-->
    </div>
    <div class="forgotkey--wrapper" style="display: none;">

        <div class="blupwrapper-2">
            <div class="blupwrapper-1">
                <label>Benutzer:</label>
                <input class="forgotkey--textinput" id="keyNameInput" type="text" name="keyName">
            </div>
            <div class="blupwrapper-4">
                <div class="blupwrapper-3">
                    <label>Passwort:</label>
                    <input class="forgotkey--textinput" id="keyPasswordInput" type="password" name="keyPassword">
                </div>
                <button id="ldapSend" class="btn--sendldap"><i class="fas fa-sign-in-alt"></i>Anmelden</button>
            </div>
        </div>
    </div>
    <div class="timetracker--container row" style="display: none">

        <div class="component-frame">{% component 'export' %}</div>
        <div class="component-frame">{% component 'urlaub' %}</div>
    </div>
</div>