title = "Demonstration"
url = "/employee"
layout = "default"
is_hidden = 0
==
<p class="text-center"><img src={{"assets/images/Hans_Natur_logo.png" | theme}} style="margin-left: auto; margin-right: auto"></p><br><br>
<div class="home-wrapper" style="background-color: #00678a; padding: 20px">
    <h1 class="text-center" style="color: #FFFFFF">Welcome to the Employee Management Tool</h1>
    <h2 class="text-center" style="color: #FFFFFF">To enter the EMT click <a href="/backend/jannesnagelschmidt/mitarbeiter/employee">here</a></h2>
    <h2 class="text-center" style="color: #FFFFFF"><a href="/employee">Zeitmanagment</a> </h2>
    <h2 class="text-center" style="color: #FFFFFF">To register yourself click <a href="/register">here</a> </h2>
</div>

<div class="admin-wrapper" style="margin-top: 100px; background-color: #00678a; padding: 20px">
    <h2 class="text-center" style="color: #FFFFFF"><a style="color: #FFFFFF" href="/export">Listenansicht</a></h2>
    <h2 class="text-center" style="color: #FFFFFF"><a style="color: #FFFFFF" href="/presence">Anwesenheit</a> </h2>
</div>