{% set user = __SELF__.user %}
{% set employ = __SELF__.employ %}
{% set department = __SELF__.department %}
{% set colleagues = __SELF__.colleagues %}

<!--<div class="emt&#45;&#45;login-wrapper">-->

    {% if user %}
    <!--<main class="main-content" id="main-content">-->
    <div class="emt--time-container">
        <input type="hidden" id="is_on_vacation">
        <h4 style="margin: 20px 0;" class="emt--headline-4 mdc-typography--headline4">Mein Urlaub</h4>
        <div class="mdc-snackbar emt-snackbar">
            <div class="mdc-snackbar__surface emt-snackbar__surface" role="status" aria-relevant="additions">
                <div class="mdc-snackbar__label" aria-atomic="false">
                </div>
                <div class="mdc-snackbar__actions" aria-atomic="true">
                    <button type="button" class="mdc-button mdc-snackbar__action">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Ok</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="mdc-touch-target-wrapper">
            <button class="mdc-button mdc-button--outlined mdc-button--touch" id="vacationRequest">
                <span class="mdc-button__ripple"></span>
                <span class="mdc-button__label">Urlaub beantragen</span>
                <span class="mdc-button__touch"></span>
            </button>
        </div>
        <div class="emt--time-output">
            <div class="emt--vacation-output_wrapper">
                <input type="hidden" id="vacationforeveremployee">
                <div id="vacationforever"></div>
                <input type="hidden" id="idForDepartment" value="{{department['id']}}">
                <input type="hidden" value="{{employ[0]['id']}}" id="idForLeader">
            </div>
        </div>
    </div>

<div class="mdc-dialog_vacation mdc-dialog">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface"
             role="alertdialog"
             aria-modal="true"
             aria-labelledby="my-dialog-title"
             aria-describedby="my-dialog-content">
            <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
            <h2 class="mdc-dialog__title" id="my-dialog-title4">Urlaubsantrag</h2>
            <div class="mdc-dialog__content" id="my-dialog-content4">
                <button class="mdc-button mdc-button--outlined mdc-button--touch" id="vacationButtonToOpenIt">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__label">Zeitraum wählen</span>
                    <span class="mdc-button__touch"></span>
                </button>
                <form class="emt--login-form" data-request="onVacationRequest">
                    <input type="hidden" name="user_id" value="{{employ[0]['id']}}">
                    <input type="hidden" name="department" value="{{employ[0]['department_relation_id_id']}}">
                    <input type="hidden" name="date_from" id="dateFrom">
                    <input type="hidden" name="date_to" id="dateTo">
                    <input type="hidden" name="substitute" id="sub">
                    <label class="mdc-text-field mdc-text-field4 emt--login-label emp--label-wrapper mdc-text-field--filled">
                        <span class="mdc-text-field__ripple"></span>
                        <span class="mdc-floating-label" id="dateFromShow">Von</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    <label class="mdc-text-field mdc-text-field4 emt--login-label emp--label-wrapper mdc-text-field--filled">
                        <span class="mdc-text-field__ripple"></span>
                        <span class="mdc-floating-label" id="dateToShow">Bis</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    <div class="mdc-select mdc-select5 mdc-select&#45;&#45;filled emt&#45;&#45;select-wrapper">
                        <div class="mdc-select__anchor">
                            <span class="mdc-select__ripple"></span>
                            <span class="mdc-floating-label mdc-floating-label&#45;&#45;float-above">Vertretung wählen</span>
                            <span class="mdc-select__selected-text-container">
                              <span class="mdc-select__selected-text"></span>
                            </span>
                            <span class="mdc-select__dropdown-icon">
                            <svg
                                    class="mdc-select__dropdown-icon-graphic"
                                    viewBox="7 10 10 5" focusable="false">
                                <polygon
                                        class="mdc-select__dropdown-icon-inactive"
                                        stroke="none"
                                        fill-rule="evenodd"
                                        points="7 10 12 15 17 10">
                                </polygon>
                                <polygon
                                        class="mdc-select__dropdown-icon-active"
                                        stroke="none"
                                        fill-rule="evenodd"
                                        points="7 15 12 10 17 15">
                                </polygon>
                              </svg>
                            </span>
                            <span class="mdc-line-ripple"></span>
                        </div>
                        <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface&#45;&#45;fullwidth">
                            <ul class="mdc-list" role="listbox" aria-label="Food picker listbox">
                                <li class="mdc-list-item mdc-list-item&#45;&#45;selected" aria-selected="true" data-value="" role="option">
                                    <span class="mdc-list-item__ripple"></span>
                                </li>
                                {% for item in colleagues %}
                                <li class="mdc-list-item" aria-selected="false" data-value="{{item['id']}}" role="option">
                                    <span class="mdc-list-item__ripple"></span>
                                    <span class="mdc-list-item__text">{{item['last_name']}} {{item['first_name']}} </span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <label class="mdc-text-field mdc-text-field_vacation emt--login-label emp--label-wrapper mdc-text-field--filled">
                        <span class="mdc-text-field__ripple"></span>
                        <span class="mdc-floating-label" >Anmerkung</span>
                        <input class="mdc-text-field__input" name="name" type="text" aria-labelledby="my-label-id">
                        <span class="mdc-line-ripple"></span>
                    </label>
            </div>
            <div class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Abbrechen</span>
                </button>
                <button type="submit" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">OK</span>
                </button>
            </div>
            </form>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</div>
    <!--</main>-->
    {% endif %}

