{% set bla = __SELF__.employee %}
<button id="logoutButton" class="btn--logout"><i class="fas fa-door-open"></i></button>
<h1 class="singleemp--headline-1">Bitte Windows Login Daten eingeben</h1>
<div class="singleemp--content">
    <div class="singleemp--wrapper">
        <div class="singleemp--wrapper-2">
            <div class="singleemp--wrapper-1">
                <label>Benutzer:</label>
                <input class="singleemp--textinput" id="keyNameInput" type="text" name="keyName">
            </div>
            <div class="singleemp--wrapper-4">
                <div class="singleemp--wrapper-3">
                    <label>Passwort:</label>
                    <input class="singleemp--textinput" id="keyPasswordInput" type="password" name="keyPassword">
                </div>
                <button id="getSingleMitarbeiter" class="singleemp--btn-sendldap"><i class="fas fa-sign-in-alt"></i></button>

            </div>
        </div>
    </div>
    <div id="timetrackingOutput" data-token="nix">
        <div class="action--wrapper action--wrapper-hidden">
            <button id="coming" data-timetrack="coming" class="action--btn btn action--btn-start btn-primary">KOMMT</button>

            <button id="leaving" data-timetrack="leaving" class="action--btn btn action--btn-leave btn-danger">GEHT</button>

            <button id="break_start" data-timetrack="break_start" class="action--btn action--btn-start break--btn btn btn-primary">PAUSE START</button>

            <button id="break_end" data-timetrack="break_end" class="action--btn btn action--btn-leave break--btn btn-danger">PAUSE ENDE</button>
        </div>
    </div>
    <div class="singleemp--searchwrapper">
        <input type="text" id="searchInput" onkeyup="searchFunc()" placeholder="Suche">
    </div>
    <div id="singleempOutput" class="singleemp--wrapper">

    </div>
</div>
