{% set user = __SELF__.user %}
{% set employ = __SELF__.employ %}
{% set requests = __SELF__.requests %}
{% set department = __SELF__.department %}
{% set types = __SELF__.type %}
{% set states = __SELF__.state %}
{% set inventory = __SELF__.inventory %}
{% set aktion = __SELF__.action %}

<!--<div class="emt&#45;&#45;login-wrapper">-->

    {% if user %}
    <!--<main class="main-content" id="main-content">-->
    <div class="emt--time-container emt--request-wrapper">
        <h4 style="margin: 20px 0;" class="emt--headline-4 mdc-typography--headline4">Mein Profil</h4>
        <div class="mdc-snackbar">
            <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
                <div class="mdc-snackbar__label" aria-atomic="false">

                </div>
                <div class="mdc-snackbar__actions" aria-atomic="true">
                    <button type="button" class="mdc-button mdc-snackbar__action">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Ok</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="emt--time-output">
            <div class="profile--entry-box">
                <div class="profile--entry-container">
                    <div class="profile--entry-row">
                        <div class="profile--entry-button">
                            {% if employ[0]['email_notification'] %}
                            <button id="email_notification" data-user_id="{{employ[0]['id']}}" class="mdc-switch mdc-switch--selected" type="button" role="switch" aria-checked="true">
                                {% else %}
                                <button id="email_notification" data-user_id="{{employ[0]['id']}}" class="mdc-switch mdc-switch--unselected" type="button" role="switch" aria-checked="false">
                                    {% endif %}
                                    <div class="mdc-switch__track"></div>
                                    <div class="mdc-switch__handle-track">
                                        <div class="mdc-switch__handle">
                                            <div class="mdc-switch__shadow">
                                                <div class="mdc-elevation-overlay"></div>
                                            </div>
                                            <div class="mdc-switch__ripple"></div>
                                            <div class="mdc-switch__icons">
                                                <svg class="mdc-switch__icon mdc-switch__icon--on" viewBox="0 0 24 24">
                                                    <path d="M19.69,5.23L8.96,15.96l-4.23-4.23L2.96,13.5l6,6L21.46,7L19.69,5.23z" />
                                                </svg>
                                                <svg class="mdc-switch__icon mdc-switch__icon--off" viewBox="0 0 24 24">
                                                    <path d="M20 13H4v-2h16v2z" />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                        </div>
                        <div class="profile--entry-half">
                            <label for="email_notification">Email Benachrichtigungen</label>
                        </div>
                    </div>
                    <div class="profile--entry-row">
                        <div class="profile--entry-button">
                            <i class="profile--icon material-icons mdc-list-item__graphic" aria-hidden="true">badge</i>
                        </div>
                        <div class="profile--entry-wrapper profile--entry-half">
                            <label>Email: {{employ['0']['email']}}</label>
                            <label>Name: {{employ['0']['first_name']}} {{employ['0']['last_name']}}</label>
                        </div>
                    </div>
                    <div class="profile--entry-row">
                        <div class="profile--entry-button">
                            <i class="profile--icon material-icons mdc-list-item__graphic" aria-hidden="true">cake</i>
                        </div>
                        <div class="profile--entry-wrapper profile--entry-half">
                            <label>Geburtstag: {{employ['0']['date_of_birth']|date('d.m.Y')}}</label>
                        </div>
                    </div>
                    <div class="profile--entry-row">
                        <div class="profile--entry-button">
                            <i class="profile--icon material-icons mdc-list-item__graphic" aria-hidden="true">business</i>
                        </div>
                        <div class="profile--entry-wrapper profile--entry-half">
                            <label>Abteilung: {{department['name']}}</label>
                        </div>
                    </div>
                    <div class="profile--entry-row">
                        <div class="profile--entry-button">
                            {% if employ[0]['birthday_is_public'] %}
                            <button id="birthday_dashboard" data-user_id="{{employ[0]['id']}}" class="mdc-switch mdc-switch--selected" type="button" role="switch" aria-checked="true">
                                {% else %}
                                <button id="birthday_dashboard" data-user_id="{{employ[0]['id']}}" class="mdc-switch mdc-switch--unselected" type="button" role="switch" aria-checked="false">
                                    {% endif %}
                                    <div class="mdc-switch__track"></div>
                                    <div class="mdc-switch__handle-track">
                                        <div class="mdc-switch__handle">
                                            <div class="mdc-switch__shadow">
                                                <div class="mdc-elevation-overlay"></div>
                                            </div>
                                            <div class="mdc-switch__ripple"></div>
                                            <div class="mdc-switch__icons">
                                                <svg class="mdc-switch__icon mdc-switch__icon--on" viewBox="0 0 24 24">
                                                    <path d="M19.69,5.23L8.96,15.96l-4.23-4.23L2.96,13.5l6,6L21.46,7L19.69,5.23z" />
                                                </svg>
                                                <svg class="mdc-switch__icon mdc-switch__icon--off" viewBox="0 0 24 24">
                                                    <path d="M20 13H4v-2h16v2z" />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </button>
                        </div>
                        <div class="profile--entry-wrapper profile--entry-half">
                            <label>Geburtstag auf Dashboards anzeigen</label>
                        </div>
                    </div>
                </div>
                <div class="profile--entry-container">
                    <h4 class="">Inventar: </h4>
                    {% for item in inventory %}

                            <p>{{item['type']}}</p>

                    {% endfor %}
                </div>
            </div>


        </div>

    </div>

    <!--</main>-->
    {% endif %}

