{% set loggedin = __SELF__.loggedIn %}
{% set user = __SELF__.employee %}
{% set employees = __SELF__.employees %}
{% set department = __SELF__.department %}
{% set corrections = __SELF__.corrections %}
{% set types = __SELF__.type %}


{% if loggedin %}
<!--<div class="emt&#45;&#45;login-wrapper">-->
<!--<main class="main-content" id="main-content">-->
<div class="emt--time-container emt--request-wrapper">
    <h4 style="margin: 20px 0;" class="emt--headline-4 mdc-typography--headline4">Berechnung</h4>
    <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
            <div class="mdc-snackbar__label" aria-atomic="false">
                Can't send photo. Retry in 5 seconds.
            </div>
            <div class="mdc-snackbar__actions" aria-atomic="true">
                <button type="button" class="mdc-button mdc-snackbar__action">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Ok</span>
                </button>
            </div>
        </div>
    </div>

    <div class="emt--calculation-wrapper noPrint">
        <div class="emt--internalcorrection-entrywrapper">

        </div>
        <button class="mdc-button mdc-button--outlined mdc-button--touch" id="calculationButtonToOpenIt">
            <span class="mdc-button__ripple"></span>
            <span class="mdc-button__label">Zeitraum wählen</span>
            <span class="mdc-button__touch"></span>
        </button>
        <div class="emt--internalcorrection-form emt--calculation-form" data-request="onCalcTime">
            <div class="mdc-select mdc-select_internalcorrection mdc-select&#45;&#45;filled emt&#45;&#45;select-wrapper">
                <div class="mdc-select__anchor">
                    <span class="mdc-select__ripple"></span>
                    <span class="mdc-floating-label mdc-floating-label&#45;&#45;float-above">Mitarbeiter wählen</span>
                    <span class="mdc-select__selected-text-container">
                              <span class="mdc-select__selected-text"></span>
                            </span>
                    <span class="mdc-select__dropdown-icon">
                            <svg
                                    class="mdc-select__dropdown-icon-graphic"
                                    viewBox="7 10 10 5" focusable="false">
                                <polygon
                                        class="mdc-select__dropdown-icon-inactive"
                                        stroke="none"
                                        fill-rule="evenodd"
                                        points="7 10 12 15 17 10">
                                </polygon>
                                <polygon
                                        class="mdc-select__dropdown-icon-active"
                                        stroke="none"
                                        fill-rule="evenodd"
                                        points="7 15 12 10 17 15">
                                </polygon>
                              </svg>
                            </span>
                    <span class="mdc-line-ripple"></span>
                </div>
                <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface&#45;&#45;fullwidth">
                    <ul class="mdc-list" role="listbox" aria-label="Food picker listbox">
                        <li class="mdc-list-item mdc-list-item&#45;&#45;selected" aria-selected="true" data-value="" role="option">
                            <span class="mdc-list-item__ripple"></span>
                        </li>

                        {% for employ in employees %}
                        <li class="mdc-list-item" aria-selected="false" data-value="{{employ['id']}}" role="option">
                            <span class="mdc-list-item__ripple"></span>
                            <span class="mdc-list-item__text">{{employ['last_name']}} {{employ['first_name']}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <input type="hidden" id="employ_id" name="user_id">
            <input type="hidden" id="thisuser" name="thisuser" value="{{user['0']['first_name']}} {{user['0']['last_name']}}">
            <input type="hidden" name="date_from" id="dateFrom">
            <input type="hidden" name="date_to" id="dateTo">
            <label class="mdc-text-field mdc-text-field4 emt--login-label emp--label-wrapper mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="dateFromShow">Von</span>
                <span class="mdc-line-ripple"></span>
            </label>
            <label class="mdc-text-field mdc-text-field4 emt--login-label emp--label-wrapper mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="dateToShow">Bis</span>
                <span class="mdc-line-ripple"></span>
            </label>
            <div class="emt--internalcorrection-buttonwrapper">
                <button type="submit" id="calculation_button" class="mdc-button mdc-dialog__button mdc-button--outlined" data-mdc-dialog-action="accept">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">OK</span>
                </button>
            </div>
        </div>
    </div>

    <div id="calculation_out">

    </div>

</div>
{% else %}
{% endif %}


