<button id="logoutButton" class="btn--logout"><i class="fas fa-door-open"></i></button>
<h1 class="singleemp--headline-1">Bitte Windows Login Daten eingeben</h1>
<div class="singleemp--wrapper">
    <div class="singleemp--wrapper-2">
        <div class="singleemp--wrapper-1">
            <label>Benutzer:</label>
            <input class="singleemp--textinput" id="keyNameInput" type="text" name="keyName">
        </div>
        <div class="singleemp--wrapper-4">
            <div class="singleemp--wrapper-3">
                <label>Passwort:</label>
                <input class="singleemp--textinput" id="keyPasswordInput" type="password" name="keyPassword">
            </div>
            <button id="correctionLoginButton" class="singleemp--btn-sendldap"><i class="fas fa-sign-in-alt"></i></button>
        </div>
    </div>
    <div class="greetings--wrapper">
        <h3 style="text-align: center;" class="greetings--text"></h3>
    </div>
</div>
<span class="hidden--stuff">
<div class="corrections--output">
    <h3 class="helper--number">1.</h3>
</div>
<div class="search--result-output"></div>

<h3 class="helper--number">2.</h3>
<div class="correction--insert-wrapper">
    <select id="statusSelect">
        <option selected="true" value="0" disabled="disabled">Status auswählen</option>
        <option value="coming">Kommt</option>
        <option value="leaving">Geht</option>
        <option value="break_start">Pause Start</option>
        <option value="break_end">Pause Ende</option>
    </select>
    <input class="correction--insert-input" type="number" placeholder="00" id="correctionHour" min="0" max="23">
    :
    <input class="correction--insert-input" placeholder="00" type="number" id="correctionMinute" min="0" max="59">
    <button class="btn--frontend" id="correction">Eintragen</button>
</div>
</span>
