==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EMT - Employee Management Tool</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
        <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/normalizer.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/vendor/font-awesome/css/font-awesome.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/timetrackerFrontend.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/singleemployee.css'|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body class="timetracker--body">
    <p class="text-center"><img src={{"assets/images/Hans_Natur_logo.png" | theme}} style="margin-left: auto; margin-right: auto"></p>

        <!-- Scripts -->
        <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        <script src="{{ 'assets/javascript/app.js'|theme }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
        <script src="{{ 'assets/javascript/correction.js'|theme}}"></script>
        {% framework extras %}
        {% scripts %}
    {% page %}
    </body>
</html>