[emt]
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EMT - Employee Management Tool</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"><script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
     
       <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
       <script src="{{ 'assets/dist/js/app.js'|theme }}"></script>
       <link href="{{ 'assets/vendor/fullcalendar/main.css'|theme }}" rel="stylesheet">
       <script src="{{ 'assets/vendor/fullcalendar/main.js'|theme }}"></script>
      <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="{{ 'assets/dist/css/app.css'|theme }}" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href="{{ 'assets/css/timetrackerFrontend.css'|theme }}" rel="stylesheet">
        {% styles %}
    </head>
    <body class="timetracker--body emt--body-wrapper mdc-typography main-content">
    {% component 'emt' %}
    
    {% page %}
    </body>
    
   
    
    <script src="https://unpkg.com/babel-polyfill@6.2.0/dist/polyfill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rome/2.1.22/rome.standalone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
    {% scripts %}
    {% framework extras %}
</html>