==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EMT - Employee Management Tool</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="OctoberCMS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="OctoberCMS">
    <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
    <!--        <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet">-->
    <!--        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">-->
    <link href="{{ 'assets/css/normalizer.css'|theme }}" rel="stylesheet">

    {% styles %}
</head>
<body class="timetracker--body">
{% page %}
<!-- Scripts -->

{% framework extras %}
{% scripts %}

</body>
</html>