==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EMT - Employee Management Tool</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
        <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/theme.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/normalizer.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/vendor/font-awesome/css/font-awesome.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/timetrackerFrontend.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/singleemployee.css'|theme }}" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% styles %}
    </head>
    <body class="timetracker--body">
    <p class="text-center"><img src={{"assets/images/Hans_Natur_logo.png" | theme}} style="margin-left: auto; margin-right: auto"></p>

        <!-- Scripts -->
    <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
    <!--<script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>-->
    <script src="https://unpkg.com/babel-polyfill@6.2.0/dist/polyfill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rome/2.1.22/rome.standalone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
    <script src="{{ 'assets/javascript/singleEmployee.js'|theme}}"></script>
    <script src="plugins/jannesnagelschmidt/mitarbeiter/formwidgets/timedisplay/assets/js/timedisplay.js"></script>

        {% framework extras %}
        {% scripts %}
    {% page %}
    </body>
</html>