
<?php if ($this->previewMode): ?>

    <div class="form-control">
        <?= $value ?>
    </div>

<?php else: ?>


<?php
        echo '<div class="huh" id="testDiv"></div>';


    //$test = $output;

    //echo $test;

    //echo '<input hidden="true" id="weekInput" name="week" value="">';
    //echo '<input hidden="true" id="weekInputNext" name="week" value="">';


    ?>



<?php endif?>
<script>

    $.request('onGetTemplate', {
        success: function(data) {
            $('#testDiv').append(data.result);
            holidayFunc();
            sickFunc();
        }
    })

    $('.timedisplay--btn').on('click', function(e) {
        e.preventDefault();
        e.stopPropagation();
        var cW = $('#currentWeek').attr('value');
        cW = parseInt(cW);
        if($(this).data('week') == 'prev') {
            $.request('onGetTemplate', {
                success: function(data) {

                }
            })
        }
        else if($(this).data('week') == 'next') {
            $.request('onGetTemplate', {
                success: function(data) {

                }
            })
        }
    });

    $('#submitspecific').on('click', function(e) {
        e.preventDefault();
        e.stopPropagation();
        var cW = $('#specificweek').attr('value');
        cW = parseInt(cW);
        //$(this).data('request-data', cW);
        $.request('onGetTemplate', {

        });
    });

    function updateCalendar(bla, context, data) {
        //console.log(data);
        $('#testDiv').html(data.result);
        holidayFunc();
        sickFunc();


    }










</script>