{##}
{% set mitarbeiter = __SELF__.mitarbeiter%}
{% set token = 123%}

<button id="reload"><i class="fas fa-redo-alt"></i></button>
<div class="current--time"><i class="far fa-clock"></i><span class="current--time-text" id="clock"></span></div>
<span class="ip"></span>

<div class="timetracker--wrapper">
    <div class="timetracker--container">
        <div class="help--wrapper-timetracking">
            <label class="scankey--text">Bitte Schlüssel scannen</label>
            <input id="tokenInput" type="text" value="">

            <button id="getMitarbeiter">Abschicken</button>
        </div>

        <div class="action--wrapper action--wrapper-hidden">
            <button id="coming" data-timetrack="coming" class="action--btn btn action--btn-start btn-primary">KOMMT</button>

            <button id="leaving" data-timetrack="leaving" class="action--btn btn action--btn-leave btn-danger">GEHT</button>

            <button id="break_start" data-timetrack="break_start" class="action--btn action--btn-start break--btn btn btn-primary">PAUSE START</button>

            <button id="break_end" data-timetrack="break_end" class="action--btn btn action--btn-leave break--btn btn-danger">PAUSE ENDE</button>
        </div>

        <div class="action--wrapper corona--wrapper-hidden corona--wrapper">
            <label class="scankey--text">Bitte Schlüssel der/des Zeugin/en scannen!</label>
            <input id="witnessInput" type="text" value="">
            <button id="setWitness">Abschicken</button>
        </div>
    </div>
    <div class="greetings--wrapper">
        <h1 class="greetings--headline"></h1>
        <input type="text" hidden="true" value="" id="firstnameLdap">
        <input type="text" hidden="true" value="" id="lastnameLdap">
    </div>


    <div class="keybutton--wrapper">
        <button class="btn--forgotkey">Anmelden ohne Schlüssel</button>
<!--        <button class="btn&#45;&#45;back">Zurück</button>-->
    </div>
    <div class="forgotkey--wrapper" style="display: none;">

        <div class="blupwrapper-2">
            <div class="blupwrapper-1">
                <label>Benutzer:</label>
                <input class="forgotkey--textinput" id="keyNameInput" type="text" name="keyName">
            </div>
            <div class="blupwrapper-4">
                <div class="blupwrapper-3">
                    <label>Passwort:</label>
                    <input class="forgotkey--textinput" id="keyPasswordInput" type="password" name="keyPassword">
                </div>
                <button id="ldapSend" class="btn--sendldap"><i class="fas fa-sign-in-alt"></i></button>
            </div>
        </div>
    </div>

    <div class="addToken--wrapper">
        <button class="add--token-hidden">Schlüssel hinterlegen?</button>
        <label class="addToken--scan-text">Bitte jetzt Schlüssel scannen!</label>
        <input type="text" id="addTokenInput" value="">

        <div class="testOutput"></div>
    </div>

</div>




    
