/*
 * This is a sample StyleSheet file used by TimeDisplay
 *
 * You can delete this file if you want
 */
.timedisplay--wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.timedisplay--wrapper h4 {
    height: 38px;
}

.timedisplay--graph {
    height: auto;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.timedisplay--outer-wrapper {
    display: flex;
}

.timedisplay--stats-wrapper p,  .timedisplay--stats-wrapper details{
    padding: 0 0 5px;
    margin: 0;
    border-bottom: 1px solid;
    border-top: none;
}

.timedisplay--break-sum {
    border-bottom: none !important;
}

.timedisplay--stats-wrapper {
    /*border-left: 1px solid;*/
    border-right: 1px solid;
    border-bottom: 1px solid;
    min-height: 176px;
}

.timedisplay--wrapper .timedisplay--day-wrapper:first-of-type .timedisplay--stats-wrapper {
    border-left: 1px solid;
}


p.timedisplay--break:last-child {
    border-bottom: none;
}

.timedisplay--stats-wrapper p.timedisplay--break {
    border-left: none;
    border-right: none;
}

.public--holiday {
    height: 20px;
}

.timedisplay--header-wrapper {
    display: flex;
    flex-direction: column;
}

.specifictime--wrapper {
    margin: auto;
}

div.timedisplay--day-wrapper.has--holiday div.timedisplay--hour, .timedisplay--day-wrapper.has--holiday div.timedisplay--hour:nth-child(even).start--time,
.timedisplay--day-wrapper.has--holiday div.timedisplay--hour:nth-child(even).end--time-started {
    background: lightyellow;
}

div.timedisplay--day-wrapper.has--sick div.timedisplay--hour, .timedisplay--day-wrapper.has--sick div.timedisplay--hour:nth-child(even).start--time,
.timedisplay--day-wrapper.has--sick div.timedisplay--hour:nth-child(even).end--time-started {
    background: lightcoral;
}

div.timedisplay--hour.timedisplay--hour-work, div.timedisplay--hour.end--time {
    background: lightgreen;
}

div.timedisplay--hour.start--time.full-Hour {
    background: lightgreen;
}

div.timedisplay--hour.start--time.full-Hour--nothing {
    background: lightblue;
}
div.timedisplay--hour:nth-child(even).start--time.full-Hour--nothing {
    background: lightcyan;
}

div.timedisplay--hour.start--time.three-quart-Hour {
    background: linear-gradient(180deg, lightblue 75%, lightgreen 25%);
}
div.timedisplay--hour.start--time.half-Hour {
    background: linear-gradient(180deg, lightblue 50%, lightgreen 50%);
}
div.timedisplay--hour.start--time.one-quart-Hour {
    background: linear-gradient(180deg, lightblue 0%, lightblue 25%, lightgreen 25%, lightgreen 100%);
}

div.timedisplay--hour:nth-child(even).start--time.full-Hour {
    background: lightgreen;
}
div.timedisplay--hour:nth-child(even).start--time.three-quart-Hour {
    background: linear-gradient(180deg, lightcyan 75%, lightgreen 25%);
}
div.timedisplay--hour:nth-child(even).start--time.half-Hour {
    background: linear-gradient(180deg, lightcyan 50%, lightgreen 50%);
}
div.timedisplay--hour:nth-child(even).start--time.one-quart-Hour {
    background: linear-gradient(180deg, lightcyan 0%, lightcyan 25%, lightgreen 25%, lightgreen 100%);
}



div.timedisplay--hour.end--time-started.full-Hour {
    background: linear-gradient(180deg, lightgreen 75%, lightblue 25%);
}
div.timedisplay--hour.end--time-started.three-quart-Hour {
    background: linear-gradient(180deg, lightgreen 50%, lightblue 50%);
}
div.timedisplay--hour.end--time-started.half-Hour {
    background: linear-gradient(180deg, lightgreen 0%, lightgreen 25%, lightblue 25%, lightblue 100%);
}
div.timedisplay--hour.end--time-started.one-quart-Hour {
    background: linear-gradient(180deg, lightgreen 0%, lightgreen 25%, lightblue 25%, lightblue 100%);
}

div.timedisplay--hour:nth-child(even).end--time-started.full-Hour {
    background: linear-gradient(180deg, lightgreen 75%, lightcyan 25%);
}
div.timedisplay--hour:nth-child(even).end--time-started.three-quart-Hour {
    background: linear-gradient(180deg, lightgreen 50%, lightcyan 50%);
}
div.timedisplay--hour:nth-child(even).end--time-started.half-Hour {
    background: linear-gradient(180deg, lightgreen 0%, lightgreen 25%, lightblue 25%, lightblue 100%);
}
div.timedisplay--hour:nth-child(even).end--time-started.one-quart-Hour {
    background: linear-gradient(180deg, lightgreen 0%, lightgreen 25%, lightcyan 25%, lightcyan 100%);
}




.timedisplay--wrapper .timedisplay--day-wrapper:first-of-type .timedisplay--graph{
    border-left: 1px solid;
}

.timedisplay--btn {
    padding: 25px;
    margin: auto 0;
}
.timedisplay--btn.btn-next {
    margin-left: 5px;
}
.timedisplay--btn.btn-prev {
    margin-right: 5px;
}


.timedisplay--day-wrapper {
    width: 100%;
}

.timedisplay--hour {
    height: 20px;
}
.timedisplay--hour {
    padding-left: 10px;
    border-bottom: 1px solid;
    background: lightblue;
}

.timedisplay--hour:last-child {
    border-bottom: none;
}

.timedisplay--hour:nth-child(even) {
    background: lightcyan;
}