{% set user = __SELF__.user %}
{% set requests = __SELF__.lead %}
{% set types = __SELF__.type %}
{% set states = __SELF__.state %}
{% set isLeader = __SELF__.isLeader %}
{% set aktion = __SELF__.action %}
{% set department_id = __SELF__.department_id %}
{% set number = __SELF__.numberOfUnanswered %}
{% set notis = __SELF__.notification %}
{% set notisUn = __SELF__.notifictionUnanswered %}
{% set leaderNoti = __SELF__.leaderNotifications %}
{% set leaderNotiNum = __SELF__.leaderNotiNum %}
{% set totalAmount = __SELF__.totalAmount %}

<div class="">
    <input type="text" id="magic_id" name="user_id" placeholder="User ID">
    <button id="magic_button" type="submit" class="mdc-button mdc-button--outlined" data-mdc-dialog-action="accept">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">OK</span>
    </button>

    <button id="magic_stundenkonto" type="submit" class="mdc-button mdc-button--outlined" data-mdc-dialog-action="accept">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Stundenkonto</span>
    </button>
</div>

<div class="emt--calculation-wrapper">

</div>

<div class="loading--background">
    <img alt="nothing" src="/themes/demo/assets/images/Spinner-1s-200px.svg" class="loading-svg">
</div>
<div style="width: 1200px; height: auto; margin: auto;" id='calendar'></div>
<input type="hidden" id="idForSingleCall" value="{{user[0]['id']}}">




<script>
    var states = {
        coming: 'Kommt',
        leaving: 'Geht',
        break_start: 'Pause Start',
        break_end: 'Pause Ende',
        URLAUB: 'URLAUB',
        KRANK: 'KRANK',
        forgot: 'Vergessen'
    }



    $(window).load(function() {
        $('#magic_button').on('click', function() {
            var user_id = $('#magic_id').val();
            console.log(user_id);
            getWorkFullCalendar(user_id).done(newCalendar);
        });
        $('#magic_stundenkonto').on('click', function() {
            var user_id = $('#magic_id').val();
            $.ajax({
                url: "/getPlusMinusInCalc",
                type: "POST",
                data: {id: user_id},
                success: function(data){
                    console.log(data);
                    if(data) {
                        $('.emt--calculation-wrapper').html("");
                        $('.emt--calculation-wrapper').append("<p>Name: "+data.user.first_name+" "+data.user.last_name+"</p>");
                        $('.emt--calculation-wrapper').append("<p>Stundenkonto: "+data.plusminus.time+"</p>");
                    }
                    return data;
                }
            });
        });

        /*$.when(getWorkFullCalendar(user_id)).done(function(ajax1Results) {
            newCalendar(ajax1Results);
        });*/
        //newCalendar();

    });





    var targetButton = false;


    function newCalendar(data) {
        console.log(data);

        //console.log( document.getElementById('calendar'));
        //$('.loading--background').show();
        console.log("adding...");
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'de',
            weekNumbers: true,
            firstDay: 1,
            weekText: 'KW',
            buttonText: {
                today: 'Heute'
            },
            rerenderDelay: 100,
            eventClick: function (info) {
                $('.emt--timestamp-tooltip').remove();
                //console.log(info.event.extendedProps);
                //console.log(info.el);
                var itemPos = $(info.el).position();
                //console.log(itemPos);
                var timestamps = info.event.extendedProps['timestamps'];
                var soll = info.event.extendedProps['soll'];
                if(soll) {
                    var out = '<div class="emt--timestamp-tooltip emt--timestamp-tooltip_soll">';
                }
                else {
                    var out = '<div class="emt--timestamp-tooltip">';
                }
                out += '<i class="material-icons mdc-button__icon close--icon">close</i>';
                if(timestamps) {
                    for (let p = 0; p < timestamps.length; p++) {
                        out += '<p class="emt--timestamp-entry">'+timestamps[p]['timestamp']+' - '+timestamps[p]['status']+'</p>';
                    }
                }
                if(soll) {
                    out += '<p class="emt--timestamp-entry">SOLL: '+soll+'</p>';
                }
                out += '</div>';
                $(info.el).parent().append(out);
            }
        });
        calendar.render();
        //addCalendarEvents(data, calendar);
        //getWorkFullCalendar(user_id, calendar);
        console.log(data.length);

        console.log("adding events: "+ data['entries'].length);
        var punctuallity = data['toolate'];
        var holidays = data['holidays'];

        for(let i = 0; i < data['entries'].length; i++) {
            var item = data['entries'][i];
            if(item['calculated'] != null && (item['timestamps'][0]['status'] !== 'vacation' && item['timestamps'][0]['status'] !== 'sick')) {
                for(let u = 0; u < item['calculated'].length; u++) {
                    var calcNew = item['calculated'][u];
                    if(!calcNew['manually_created']) {
                        //console.log(i);
                        calendar.addEvent(
                            {
                                title: calcNew['worked'] + " Gearbeitet",
                                start: calcNew['lu_date']+' 00:00',
                                allDay: false,
                                classNames: 'emt--work-entry emt--work-entry_calculated',
                                extendedProps: {
                                    timestamps: item['timestamps'],
                                }
                            }
                        );
                        calendar.addEvent(
                            {
                                title: calcNew['break'] + " Pause",
                                start: calcNew['lu_date']+' 00:00',
                                allDay: false,
                                classNames: 'emt--work-entry emt--work-entry_calculated',
                                extendedProps: {
                                    timestamps: item['timestamps'],
                                }
                            }
                        );
                    }
                    else {
                        if(calcNew['negative']) {
                            var negative = '-';
                        }
                        else {
                            var negative = '';
                        }
                        calendar.addEvent(
                            {
                                title: negative+calcNew['worked'] + " Interne Korrektur",
                                start: calcNew['lu_date']+' 00:00',
                                allDay: false,
                                classNames: 'emt--work-entry emt--work-entry_correction',
                                extendedProps: {
                                    timestamps: item['timestamps'],
                                }
                            }
                        );
                    }

                }

                for(var j = 0; j < item['timestamps'].length; j++) {
                    var entry = item['timestamps'][j];
                    if(entry['status'] !== 'break_start' && entry['status'] !== 'break_end') {
                        if(entry['status'] == 'coming') {
                            var toolateforcool = false;
                            for(var z = 0; z < punctuallity.length; z++) {
                                if(punctuallity[z]['timestamp'] === entry['timestamp']) {
                                    //console.log('funzt ' + punctuallity[z]['timestamp']);
                                    toolateforcool = true;
                                }
                            }
                            if(toolateforcool) {
                                calendar.addEvent(
                                    {
                                        title: states[entry['status']],
                                        start:  entry['timestamp'],
                                        allDay: false,
                                        classNames: 'emt--work-entry emt--work-timestamp emt--work-timestamp_coming emt--work-timestamp_toolate',
                                        extendedProps: {
                                            timestamps: item['timestamps'],
                                        }
                                    }
                                );
                            }
                            else {
                                calendar.addEvent(
                                    {
                                        title: states[entry['status']],
                                        start:  entry['timestamp'],
                                        allDay: false,
                                        classNames: 'emt--work-entry emt--work-timestamp emt--work-timestamp_coming',
                                        extendedProps: {
                                            timestamps: item['timestamps'],
                                        }
                                    }
                                );
                            }
                        }
                        else if(entry['status'] == 'leaving') {
                            calendar.addEvent(
                                {
                                    title: states[entry['status']],
                                    start:  entry['timestamp'],
                                    allDay: false,
                                    classNames: 'emt--work-entry emt--work-timestamp emt--work-timestamp_leaving',
                                    extendedProps: {
                                        timestamps: item['timestamps'],
                                    }
                                }
                            );
                        }
                    }
                }
            }
            else if(item['timestamps'][0]['status'] === 'vacation') {
                calendar.addEvent(
                    {
                        title: 'Urlaub',
                        start: item['timestamps'][0]['lookup']+' 00:00',
                        allDay: false,
                        classNames: 'emt--work-entry emt--work-entry_vacation',
                        extendedProps: {
                            timestamps: item['timestamps'],
                        }
                    }
                );
            }
            else if(item['timestamps'][0]['status'] === 'sick') {
                calendar.addEvent(
                    {
                        title: "Krank",
                        start: item['timestamps'][0]['lookup']+' 00:00',
                        allDay: false,
                        classNames: 'emt--work-entry emt--work-entry_sick',
                        extendedProps: {
                            timestamps: item['timestamps'],
                        }
                    }
                );
            }
            else if(item['timestamps'][0]) {
                calendar.addEvent(
                    {
                        title: "Noch nicht berechnet",
                        start: item['timestamps'][0]['lookup']+' 00:00',
                        allDay: false,
                        classNames: 'emt--work-entry emt--work-entry_calculated',
                        extendedProps: {
                            timestamps: item['timestamps'],
                        }
                    }
                );
                for(var j = 0; j < item['timestamps'].length; j++) {
                    var entry = item['timestamps'][j];
                    if(entry['status'] !== 'break_start' && entry['status'] !== 'break_end') {
                        if(entry['status'] == 'coming') {
                            var toolateforcool = false;
                            for(var z = 0; z < punctuallity.length; z++) {
                                if(punctuallity[z]['timestamp'] === entry['timestamp']) {
                                    //console.log('funzt ' + punctuallity[z]['timestamp']);
                                    toolateforcool = true;
                                }
                            }
                            if(toolateforcool) {
                                calendar.addEvent(
                                    {
                                        title: states[entry['status']],
                                        start:  entry['timestamp'],
                                        allDay: false,
                                        classNames: 'emt--work-entry emt--work-timestamp emt--work-timestamp_coming emt--work-timestamp_toolate',
                                        extendedProps: {
                                            timestamps: item['timestamps'],
                                        }
                                    }
                                );
                            }
                            else {
                                calendar.addEvent(
                                    {
                                        title: states[entry['status']],
                                        start:  entry['timestamp'],
                                        allDay: false,
                                        classNames: 'emt--work-entry emt--work-timestamp emt--work-timestamp_coming',
                                        extendedProps: {
                                            timestamps: item['timestamps'],
                                        }
                                    }
                                );
                            }
                        }
                        else if(entry['status'] == 'leaving') {
                            calendar.addEvent(
                                {
                                    title: states[entry['status']],
                                    start:  entry['timestamp'],
                                    allDay: false,
                                    classNames: 'emt--work-entry emt--work-timestamp emt--work-timestamp_leaving',
                                    extendedProps: {
                                        timestamps: item['timestamps'],
                                    }
                                }
                            );
                        }
                    }
                }
            }
        }
        for(let i = 0; i < data['sundays'].length; i++) {
            var item = data['sundays'][i];
            calendar.addEvent(
                {
                    title: "Gesamt: " + item['workedVal'],
                    start: item['date']+' 00:00',
                    allDay: false,
                    classNames: 'emt--work-entry emt--work-entry_calculated emt--work-entry_calculated_sunday',
                    extendedProps: {
                        soll: item['soll'],
                    }
                }
            );
            if(item['plusminus'][0]) {
                calendar.addEvent(
                    {
                        title: item['plusminus'][1],
                        start: item['date']+' 00:00',
                        allDay: false,
                        color: '#CD5C5CFF',
                        classNames: 'emt--work-entry emt--work-entry_calculated emt--work-entry_calculated_sunday',
                        extendedProps: {
                            soll: item['soll'],
                        }
                    }
                )
            }   
            else if(item['plusminus'].length > 0){
                calendar.addEvent(
                    {
                        title: '+'+item['plusminus'][1],
                        start: item['date']+' 00:00',
                        allDay: false,
                        color: '#98FB98FF',
                        classNames: 'emt--work-entry emt--work-entry_calculated emt--work-entry_calculated_sunday',
                        extendedProps: {
                            soll: item['soll'],
                        }
                    }
                )
            }
        }

        for(let i = 0; i < holidays.length; i++) {
            var holidayYear = holidays[i];
            for(let x = 0; x < holidayYear.length; x++) {
                var item = holidayYear[x];
                if(item['global']) {
                    calendar.addEvent(
                        {
                            title: item['localName'],
                            start: item['date'],
                            allDay: true,
                            classNames: 'emt--work-entry '
                        }
                    );
                }
                else if(item['counties'].includes('DE-SH')) {
                    calendar.addEvent(
                        {
                            title: item['localName'],
                            start: item['date'],
                            allDay: true,
                            classNames: 'emt--work-entry '
                        }
                    );
                }
            }
        }



    }

    function getWorkFullCalendar(user_id) {
        //$('.loading--background').show();
        //var data;
        return $.ajax({
            type: 'POST',
            url: '/getWorkForFullCalendar',
            data: {user_id: user_id}
            /*success: function (data) {
                if(data.length) {
                    console.log(data);
                    return data;

                    //$('.waiting--wrapper').hide();
                    //$('#calendar').css('opacity', 1);
                }
                else {
                    return false;
                }
            }*/
        })
        //return data;
    }

    function addCalendarEvents(data, calendar) {
        console.log("in calendar add");
        console.log(data);
        console.log(calendar);

    }




    function getSingleDep(user_id, calendar) {

        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        var page = 1;
        //$('.loading--background').show();
        var year = $('.currentMonthtoShow').data('currentyear');
        $('body').css('overflow', 'hidden');
        var letter = $('#lastNameFirstLetter').val();
        $('.department--wrapper').toggle();
        $('.dropdown--wrapper').hide();
        var month = $('.currentMonthtoShow').data('current');
        if(month) {
            console.log(month);
        }
        else {
            var d = new Date();
            var n = d.getMonth();
            month = n+1;
            console.log("eyooo month is " + month );
        }
        if(year) {
            console.log(year);
        }
        else {
            var x = new Date();
            var year = d.getFullYear();
            console.log("eyooo year is " + year );
        }

        $.ajax({
            type: 'POST',
            url: '/getSingleDepartment',
            data: {fromNew: true, department: "none", month: month, letter: letter, page: page, year: year, prev: 0, next: 0, user_id: user_id},
            success: function (data) {
                var html = '';
                console.log(data);
                $('.loading--background').hide();
                $('body').css('overflow', 'auto');
                var department = data.department;
                var month = data.month;
                var letter = data.letter;
                var employees = data.employees;
                var page = data.page;
                var year = data.year;
                var prev = data.prev;
                var next = data.next;
                var pages = data.pages;
                for(let i = 0; i < employees[0]['work'].length; i++) {
                    var item = employees[0]['work'][i];
                    if('date' in item) {
                        var element = item['date'];
                        if(element.length) {
                            for(let x = 0; x < item['date'].length; x++) {
                                calendar.addEvent(
                                    {
                                        title: item['date'][x]['status'],
                                        start: item['date'][x]['timestamp'],
                                        allDay: false
                                    }
                                );
                            }
                        }
                        else {
                            /*calendar.addEvent(
                                {
                                    title: item['date'][x]['status'],
                                    start: item['date'][x]['timestamp'],
                                    allDay: false
                                }
                            );*/
                        }
                    }
                }
                //renderFrontend(department, employees, month, letter, page, year, prev, next, pages);

            }
        });
    }
    $('.timetracker--body').on('click', '.text-break--hasBreak', function() {
        //console.log("hasBreak clicked");
        var window = $(this).next();
        $('.break--wrapper').hide();
        $('.break--wrapper').removeClass('is--visible');
        if(window.hasClass('is--visible')) {
            //console.log("in has class is visible");
            window.removeClass('is--visible');
            window.hide();
        }
        else {
            //console.log("in else is visible");
            window.show();
            window.addClass("is--visible");
        }
    });

    $('.timetracker--body').on('click', '.break--button-icon', function() {
        //console.log("hasBreak clicked");
        var window = $(this).closest().find('.break--wrapper');
        //console.log(window);
        $('.break--wrapper').hide();
        $('.break--wrapper').removeClass('is--visible');
        if(window.hasClass('is--visible')) {
            //console.log("in has class is visible");
            window.removeClass('is--visible');
            window.hide();
        }
        else {
            //console.log("in else is visible");
            targetButton = true;
            window.show();
            window.addClass("is--visible");
        }
    });

    $(document).on('click', function(e) {
        var item = $(e.target);
        /*if(!item.is($('.text-break--hasBreak')) && (!item.parent().hasClass('fa-coffee') && !item.hasClass('fa-coffee')) && !targetButton) {
            //console.log("document clicked");
            //console.log(item.hasClass('fa-coffee'));
            //console.log("in document in if");
            $('.break--wrapper').hide();
            $('.break--wrapper').removeClass('is--visible');
        }
        else {
            targetButton = false;
        }*/
        if(!item.is($('.emt--timestamp-tooltip')) && (!item.parent().hasClass('emt--work-entry')) && (!item.hasClass('emt--work-entry')) && !targetButton) {
            //console.log("document clicked");
            //console.log(item.hasClass('fa-coffee'));
            //console.log("in document in if");
            $('.emt--timestamp-tooltip').remove();
            /*$('.break--wrapper').hide();
            $('.break--wrapper').removeClass('is--visible');*/
        }
        else {
            targetButton = false;
        }
    })

    function renderMonthHeadline(month, year) {
        var out = "";
        var week = ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'];
        var daysOfMonth = function(month,year) {
            return new Date(year, month, 0).getDate();
        }

        //$ddate = date($year."-".$month."-01");
        var ddate = new Date(year, month-1, '01');
        var today = new Date();

        var iterations = ddate.getDay() - 1;
        if(iterations < 0) {
            iterations = 6;
        }
        var endDay = daysOfMonth(month, year);

        //console.log("iterations " + iterations);

        out += '<div class="month--headline-wrapper" data-year="0">';

        if(iterations > 1) {
            var blup = ddate;
            for (var i = iterations; i >= 1; i--) {
                if(i < iterations) {
                    blup.setDate(blup.getDate() + 1);
                }
                else {
                    blup.setDate(blup.getDate() - i);
                }
                var dateYo = ('0' + blup.getDate()).slice(-2);
                var monthYo = ('0' + (1 + blup.getMonth())).slice(-2);
                var dateName = dateYo + '.' + monthYo;
                var weekDayName = week[blup.getDay()];
                out += '<p class="currentMonth--text currentMonth--text-date">'+weekDayName+'</br>'+dateName+'</p>';
            }
        }
        else if(iterations == 1){
            var blup = ddate;
            blup.setDate(blup.getDate() - 1);
            var dateYo = ('0' + blup.getDate()).slice(-2);
            var monthYo = ('0' + (1 + blup.getMonth())).slice(-2);
            var dateName = dateYo + '.' + monthYo;
            var weekDayName = week[blup.getDay()];
            out += '<p class="currentMonth--text currentMonth--text-date">'+weekDayName+'</br>'+dateName+'</p>';
        }
        if(ddate.getDay() >= 1) {
            ddate.setDate(ddate.getDate()+1);
        }
        for(var p = 1; p <= endDay; p++) {
            var blup = ddate;
            var dateYo = ('0' + p).slice(-2);
            var monthYo = ('0' + (1 + ddate.getMonth())).slice(-2);
            var dateName = dateYo + '.' + monthYo;
            var weekDayName = week[blup.getDay()];
            out += '<p class="currentMonth--text currentMonth--text-date">'+weekDayName+'</br>'+dateName+'</p>';
            ddate.setDate(ddate.getDate() + 1);
        }

        out += '</div>';


        return out;
    }

    function renderFrontend(department = null, employs = null, month = null, letter = null, page = null, year = null, prev = null, next = null, pages = null) {
        const monthNames = ["Januar", "Februar", "März", "April", "Mai", "Juni",
            "Juli", "August", "September", "Oktober", "November", "Dezember"
        ];
        const dayNames = ["Sonntag", "Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Samstag"];
        //console.log("pages: " + pages);
        var outputEl = $('#outputDiv');

        var header = '<div class="currentMonth--wrapper-top">';
        header += '<p data-current="'+month+'" data-currentyear="'+year+'"  class="currentMonthtoShow">'+monthNames[(month-1)]+' - '+year+'</p>';
        header += '<p class="current--department" data-department="'+department+'"></p>';
        header += '</div>';
        var buttons = '<div class="timedisplay--btn-wrapper noPrint">';
        if(typeof pages != 'undefined') {
            if(page < pages) {
                //buttons += '<button class="timedisplay--btn btn-page--minus" onClick="loadPrev('+(page)+','+pages+')" data-week="next" data-week_value="'+(month)+'"><i class="fas fa-arrow-up"></i></button>';
            }
        }
        buttons += '<input id="currentPage" type="hidden" data-currentpage="'+page+'">';
        buttons += '<button class="timedisplay--btn btn-prev" data-week="prev"  onClick="prevMonthNew(&#39;'+department+'&#39;,'+pages+')" data-week_value="'+(parseInt(month) - 1)+'"><i class="fas fa-arrow-left"></i></button>';
        buttons += '<button class="timedisplay--btn btn-next" data-week="next"  onClick="nextMonthNew(&#39;'+department+'&#39;,'+pages+')" data-week_value="'+(parseInt(month) + 1)+'"><i class="fas fa-arrow-right"></i></button>';
        buttons += '</div>';
        var monthHeadline = renderMonthHeadline(month, year);
        //monthHeadline += '</div>';

        outputEl.addClass("departmentView");
        outputEl.empty();
        outputEl.append(header);
        outputEl.append(buttons);
        outputEl.append(monthHeadline);
        var user;
        for(var i = 0; i < employs.length; i++) {
            var employee = employs[i]['employee'];
            if(employee) {
                user = '<div class="currentMonth--wrapper">';
                user += '<div class="currentMonth--col-wrapper headcol--wrapper">';
                /*user += '<span class="headcol--text headcol--text-name">'+employee['first_name']+'</span>';
                user += '<span class="headcol--text headcol--text-name">'+employee['last_name']+'</span>';*/
                user += '<span class="headcol--text headcol--text-ist">IST</span>';
                user += '<span class="headcol--text headcol--text-break">PAUSE</span><span class="headcol--text headcol--text-soll">SOLL</span><span class="headcol--text">ÜBER</span><span class="headcol--text">Ges.</span>';
                user += '</div>';

                var work = employs[i]['work'];
                //console.log(work.length);
                var workString = '';
                for(var x = 0; x < work.length; x++) {
                    //console.log(work[x]);
                    if('soll' in work[x]) {
                        user += '<div class="currentMonth--col-wrapper currentMonth--col-sunday">';
                    }
                    else {
                        var dateArrayStuff = work[x]['date'];
                        /*if(dateArrayStuff.isArray) {
                            var isMontag = new Date(work[x]['date'][0]['timestamp']);
                        }
                        else {
                            var isMontag = new Date(work[x]['date']);
                        }*/
                        //console.log(typeof (work[x]['date']));
                        if(typeof (work[x]['date']) === 'string') {
                            var isMontag = new Date(work[x]['date']);
                        }
                        else {
                            if(typeof (work[x]['date']) === 'number') {
                                var isMontag = new Date(work[x]['date']);
                            }
                            else {
                                var isMontag = new Date(work[x]['date'][0]['timestamp']);
                            }
                        }
                        if(dayNames[isMontag.getDay()] == "Montag") {
                            user += '<div class="week--wrapper">';
                        }
                        user += '<div class="currentMonth--col-wrapper">';
                    }
                    if('holiday' in work[x]) {
                        var holiday = true;
                        user += '<p class="currentMonth--text currentMonth--text-ist">00:00</p>';
                        user += '<div class="currentMonth--text-break currentMonth--text text-break--hasBreak text--holiday"><i class="break--button-icon fas fa-calendar-day"></i></div>';
                        user += '<div class="break--wrapper">';
                        user += '<i class="fas fa-window-close break--close"></i>';
                        user += '<p class="break--entry">'+work[x]['work']+'</p>';
                        user += '</div>';
                    }
                    else {
                        var holiday = false;
                        user += '<p class="currentMonth--text currentMonth--text-ist">';
                        user += work[x]['work'];
                        user += '</p>';
                    }
                    if(work[x]['break']) {
                        if(work[x]['work'] == 'URL.') {
                            user += '<div class="currentMonth--text-break currentMonth--text text-break--hasVacation">';
                            user += '<i class="fas fa-umbrella-beach vacation--buton-icon"></i>';
                            user += '</div>';
                        }
                        else if(work[x]['work'] == 'KRNK') {
                            user += '<div class="currentMonth--text-break currentMonth--text text-break--hasSick">';
                            user += '<i class="fas fa-medkit vacation--buton-icon"></i>';
                            user += '</div>';
                        }
                        else {
                            user += '<div class="currentMonth--text-break currentMonth--text text-break--hasBreak">';
                            user += '<i class="break--button-icon fas fa-coffee"></i>';
                            user += '</div>';
                            user += '<div class="break--wrapper">';
                            user += '<i class="fas fa-window-close break--close"></i>';
                            for(var y = 0; y < work[x]['break'].length; y++) {
                                user += '<p class="break--entry ">';
                                var datetime = work[x]['break'][y]['time'];
                                if(typeof datetime === 'object' && typeof work[x]['break'][y]['time'].date !== null) {
                                    var d = new Date(Date.parse(datetime.date));
                                    var newDate = pad(d.getHours(),2) + ':'+pad(d.getMinutes(),2);
                                    user += newDate+ ' - ';
                                }
                                else {
                                    user += datetime + ' - ';
                                }
                                user += work[x]['break'][y]['status'];
                                user += '</p>';
                            }
                            user += '</div>';
                        }
                    }
                    else {
                        if(work[x]['work'] == 'URL.') {
                            user += '<div class="currentMonth--text-break currentMonth--text text-break--hasVacation">';
                            user += '<i class="fas fa-umbrella-beach vacation--buton-icon"></i>';
                            user += '</div>';
                        }
                        else if(work[x]['work'] == 'KRNK') {
                            user += '<div class="currentMonth--text-break currentMonth--text text-break--hasSick">';
                            user += '<i class="fas fa-medkit vacation--buton-icon"></i>';
                            user += '</div>';
                        }
                        else {
                            user += '<div class="currentMonth--text-break currentMonth--text">';
                            user += '</div>';
                        }
                    }
                    if('soll' in work[x]) {
                        user += '<p class="currentMonth--text-soll currentMonth--text">'+work[x]['soll']+'</p>';
                        user += '<p class="currentMonth--text currentMonth--text-'+work[x]['redgreen']+' currentMonth--text-über aha">'+work[x]['plusminus']+'</p>'
                        user += '<p class="currentMonth--text currentMonth--text-week  WEEKRESULT currentMonth--text-IST">'+work[x]['weekresult']+'</p>';
                    }
                    else {
                        user += '<p class="currentMonth--text-soll currentMonth--text"></p>';
                        if(!holiday) {
                            user += '<p class="currentMonth--text currentMonth--text--filler"></p>';
                        }
                    }
                    if('soll' in work[x]) {
                        user += '</div>';
                    }

                    user += '</div>';
                }
                user += '</div>';
                outputEl.append(user);
            }
        }
        var pageString = '';
        if(typeof pages != 'undefined') {
            if(page < pages) {
                //pageString = '<button class="timedisplay--btn btn-page--plus" onClick="loadNext('+(page)+','+pages+')" data-week="next" data-week_value="'+(month)+'"><i class="fas fa-arrow-down"></i></button>';
            }
        }
        outputEl.append(pageString);
    }

    function pad(num, size) {
        num = num.toString();
        while (num.length < size) num = "0" + num;
        return num;
    }
    function getDepartments() {
        console.log("get departments called in js");
        $('.department--wrapper').toggle();
        $('.dropdown--wrapper').hide();
        $.ajax({
            type: 'GET',
            url: '/getDepartments',
            success:function (data) {
                $('#departmentWrapper').empty();
                for(var i = 0; i < data.length; i++) {
                    var appender = '<div class="user--item-wrapper"><p style="cursor: pointer" class="user--item department--item" onclick="getSingleDep(&#39;'+data[i]+'&#39;)" data-department="'+data[i]+'" >'+data[i]+'</p></div>';
                    $('#departmentWrapper').append(appender);
                }
                //$('.fullOverTime--output').text(data);
            }
        });
    }

    function handleFullOvertime() {
        var userID = $('#user_id_selected').data('user_id');
        console.log(userID);

        $.ajax({
            type: 'POST',
            url: '/getFullOvertime',
            data: {id:userID},
            success:function (data) {
                console.log(data);
                $('.fullOverTime--output').text(data);
            }
        });
    }

    function jumpToCurrent() {
        var userID = $('#theUserID').data('userid');
        $.ajax({
            type:'POST',
            url:'/getEmployById',
            data:{id:userID},
            success:function(data){
                $('#outputDiv').empty().append(data);
            }
        });
    }

    function nextMonthNew(department, pages) {
        var user_id = $('#idForSingleCall').val();
        var month = $('.btn-next').data('week_value');
        var page = $('#currentPage').data('currentpage');
        var year = $('.currentMonthtoShow').data('currentyear');
        $('body').css('overflow', 'hidden');
        $('.loading--background').show();
        var letter = $('#lastNameFirstLetter').val();
        $.ajax({
            type: 'POST',
            url: '/getSingleDepartment',
            data: {fromNew: true, department: department, month: month, letter: letter, page: page, year: year, prev: false, next: true, pages: pages, user_id: user_id},
            success: function (data) {
                console.log(data);
                $('.loading--background').hide();
                $('body').css('overflow', 'auto');
                var department = data.department;
                var month = data.month;
                var letter = data.letter;
                var employees = data.employees;
                var page = data.page;
                var year = data.year;
                var prev = data.prev;
                var next = data.next;
                var pages = data.pages;
                renderFrontend(department, employees, month, letter, page, year, prev, next, pages);
                /*if(data !== 'FALSE') {
                    $('#outputDiv').addClass("departmentView");
                    $('#outputDiv').empty();
                    for(var i = 0; i < data.length; i++) {
                        $('#outputDiv').append(data[i]);
                    }
                    $('body').css('overflow', 'auto');
                    $('.loading--background').hide();
                }
                else {
                    alert("niemanden gefunden");
                    $('.loading--background').hide();
                    $('body').css('overflow', 'auto');
                }*/
            }
        });
    }


    function prevMonthNew(department, pages) {
        $('.loading--background').show();
        var user_id = $('#idForSingleCall').val();
        var page = $('#currentPage').data('currentpage');
        var year = $('.currentMonthtoShow').data('currentyear')
        $('body').css('overflow', 'hidden');
        var month = $('.btn-prev').data('week_value');
        var letter = $('#lastNameFirstLetter').val();
        $.ajax({
            type: 'POST',
            url: '/getSingleDepartment',
            data: {fromNew: true, department: department, month: month, letter: letter, page: page, year: year, prev: true, next: false, pages: pages, user_id: user_id},
            success: function (data) {
                console.log(data);
                $('.loading--background').hide();
                $('body').css('overflow', 'auto');
                var department = data.department;
                var month = data.month;
                var letter = data.letter;
                var employees = data.employees;
                var page = data.page;
                var year = data.year;
                var prev = data.prev;
                var next = data.next;
                var pages = data.pages;
                renderFrontend(department, employees, month, letter, page, year, prev, next, pages);
                /*if(data !== 'FALSE') {
                    $('#outputDiv').addClass("departmentView");
                    $('#outputDiv').empty();
                    for(var i = 0; i < data.length; i++) {
                        $('#outputDiv').append(data[i]);
                    }
                    $('.loading--background').hide();
                    $('body').css('overflow', 'auto');
                }
                else {
                    alert("niemanden gefunden");
                    $('.loading--background').hide();
                    $('body').css('overflow', 'auto');
                }*/
            }
        });
    }
</script>
