{% set loggedin = __SELF__.loggedIn %}
{% set user = __SELF__.employee %}
{% set department = __SELF__.department %}

<!--<div class="emt&#45;&#45;login-wrapper">-->

    {% if loggedin %}
    <!--<main class="main-content" id="main-content">-->
    <div class="emt--time-container emt--request-wrapper">
        <h4 style="margin: 20px 0;" class="emt--headline-4 mdc-typography--headline4">Urlaubsplanung</h4>
        <div class="mdc-snackbar">
            <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
                <div class="mdc-snackbar__label" aria-atomic="false">

                </div>
                <div class="mdc-snackbar__actions" aria-atomic="true">
                    <button type="button" class="mdc-button mdc-snackbar__action">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Ok</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="emt--time-output">
        </div>
    </div>
<!--<div class="mdc-select emt&#45;&#45;vacationplan-select mdc-select3 mdc-select&#45;&#45;filled emt&#45;&#45;select-wrapper">
    <div class="mdc-select__anchor">
        <span class="mdc-select__ripple"></span>
        <span class="mdc-floating-label mdc-floating-label&#45;&#45;float-above">Nachnamen wählen</span>
        <span class="mdc-select__selected-text-container">
                              <span class="mdc-select__selected-text"></span>
                            </span>
        <span class="mdc-select__dropdown-icon">
                            <svg
                                    class="mdc-select__dropdown-icon-graphic"
                                    viewBox="7 10 10 5" focusable="false">
                                <polygon
                                        class="mdc-select__dropdown-icon-inactive"
                                        stroke="none"
                                        fill-rule="evenodd"
                                        points="7 10 12 15 17 10">
                                </polygon>
                                <polygon
                                        class="mdc-select__dropdown-icon-active"
                                        stroke="none"
                                        fill-rule="evenodd"
                                        points="7 15 12 10 17 15">
                                </polygon>
                              </svg>
                            </span>
        <span class="mdc-line-ripple"></span>
    </div>
    <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface&#45;&#45;fullwidth">
        <ul class="mdc-list" role="listbox" aria-label="Food picker listbox">
            <li class="mdc-list-item mdc-list-item&#45;&#45;selected" aria-selected="true" data-value="" role="option">
                <span class="mdc-list-item__ripple"></span>
            </li>
            {% set foo = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'] %}

            {% for letter in foo %}
            <li class="mdc-list-item" aria-selected="false" data-value="{{letter}}" role="option">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text">{{letter}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>-->
<input type="hidden" id="lastNameFirstLetter" value="">
<div class="emt--vacation-output_wrapper emt--time-container">
    <div id="vacationforever"></div>
    <input type="hidden" id="idForDepartment" value="{{department['id']}}">
    <input type="hidden" value="{{user[0]['id']}}" id="idForLeader">
</div>

    <!--</main>-->
    {% endif %}

