<?php
$start = $record->start_day;
$end = $record->end_day;
$count_sick = 0;
$start_date = new DateTime($start);
$end_date = new DateTime($end);
$end_date = $end_date->modify('+1 day');
$interval = \DateInterval::createFromDateString('1 day');
$period = new \DatePeriod($start_date, $interval, $end_date);
if($record->count_sick) {
    $count_sick = $record->count_sick;
}
else {
    foreach($period as $dt) {
        if($dt->format('w') != 0 && $dt->format('w') != 6) {
            $count_sick++;
        }
    }
}
if($count_sick >= 3) {
    if(count($record->documents)) {
echo '<span style="color: green;">Dokument vorhanden</span>';
    }
    else {
        echo '<span style="color: indianred;">Dokument fehlt</span>';
    }
}

?>