<h3 class="container">Bitte geben Sie Ihre Daten ein</h3>
<div class="container">
    <form data-request="onSave">
        <label>Vorname</label>
        <input class="register" type="text" name="first_name">

        <label>Nachname</label>
        <input class="register" type="text" name="last_name">

        <label>Geburtsname</label>
        <input class="register" type="text" name="birth_name">

        <label>Geburtsort</label>
        <input class="register" type="text" name="place_of_birth">

        <label>Geburtsdatum</label>
        <input class="register" type="date" name="date_of_birth">

        <label>Straße</label>
        <input class="register" type="text" name="street">

        <label>Postleitzahl</label>
        <input class="register" type="number" name="plz">

        <label>Ort</label>
        <input class="register" type="text" name="city">

        <label>E-Mail</label>
        <input class="register" type="text" name="email">

        <label>Handy</label>
        <input class="register" type="text" name="mobile_phone">

        <label>Telefon</label>
        <input class="register" type="text" name="private_phone">

        <label>Kinder</label>
        <input class="register" type="number" name="kids_number">

        <label>Kinderfreibetrag</label>
        <input class="register" type="Number" name="kinderfreibetrag">

        <label>Konfession</label>
        <input class="register" type="text" name="denomination">

        <label>Staatsangehörigkeit</label>
        <input class="register" type="text" name="country">

        <label>Steuerklasse</label>
        <input class="register" type="number" name="tax_class">

        <label>Krankenkasse</label>
        <input class="register" type="text" name="medical_insurance">

        <label>Soz. Vers. Nr.</label>
        <input class="register" type="text" name="social_insurance_number">

        <label>Steuer-ID-Nummer</label>
        <input class="register" type="number" name="tax_id">

        <label>Bank</label>
        <input class="register" type="text" name="bank">

        <label>Kontoinhaber</label>
        <input class="register" type="text" name="account_owner">

        <label>IBAN/Konto Nr.</label>
        <input class="register" type="text" name="iban">

        <label>BIC/BLZ</label>
        <input class="register" type="text" name="bic">

        <hr>
        <p class="description-text">Wird eine/mehrere Tätigkeiten ausgeübt?</p>

            <label>Ja</label>
            <input class="job-radio register" type="radio" name="second_job" value="0">

            <label>Nein</label>
            <input class="job-radio register" type="radio" name="second_job" value="1">
        <p class="description-text">Falls ja:</p>

        <label>Arbeitgeber</label>
        <input class="register" type="text" name="second_job_company">

        <label>Anschrift Arbeitgeber</label>
        <input class="register" type="text" name="second_job_address">

        <hr>
        <p class="description-text">Minijob?</p>

        <label>Ja</label>
        <input class="job-radio register" type="radio" name="minijob" value="0">

        <label>Nein</label>
        <input class="job-radio register" type="radio" name="minijob" value="1">

        <p class="description-text">Falls ja:</p>
        <label>Anschrift Arbeitgeber</label>
        <input class="register" type="text" name="adress_second_job">

        <label>Tätigkeit</label>
        <input class="register" type="text" name="minijob_work">

        <label>Stunden pro Woche</label>
        <input class="register" type="text" name="hours_per_week_minijob">

        <button class="save-button"  onClick="window.location.reload();" type="submit">Speichern</button>


    </form>
</div>