{% set user = __SELF__.user %}
{% set requests = __SELF__.lead %}
{% set types = __SELF__.type %}
{% set states = __SELF__.state %}
{% set isLeader = __SELF__.isLeader %}
{% set aktion = __SELF__.action %}
{% set department_id = __SELF__.department_id %}
{% set number = __SELF__.numberOfUnanswered %}
{% set notis = __SELF__.notification %}
{% set notisUn = __SELF__.notifictionUnanswered %}
{% set leaderNoti = __SELF__.leaderNotifications %}
{% set leaderNotiNum = __SELF__.leaderNotiNum %}
{% set totalAmount = __SELF__.totalAmount %}
{% set currentStartTime = __SELF__.currentStartTime %}


{% if user[0] %}
    <div class="emt--header-container noPrint">
    <header class="noPrint emt--header-wrapper mdc-top-app-bar app-bar" id="app-bar">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
                <a class="emt--link-none" href="/"><span class="{% if this.page.title != 'employee' %} hide-on-small{% endif %} mdc-top-app-bar__title">Mitarbeiter Zeiterfassung</span></a>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start ">
                {% if this.page.title != 'employee' %}
                    <span class="mdc-top-app-bar__title emt-top-app-bar--mobile">{{ this.page.title }}</span>
                {% endif %}
            </section>
            <section style="flex: 1;" class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end ">
                <div class="notification--wrapper">
                    <i class="material-icons mdc-button__icon notification--icon">notifications</i>
                    {% if isLeader %}
                        {% if leaderNotiNum > 0 %}
                        <span class="emt--badge notification--badge "> {{leaderNotiNum}}</span>
                        {% endif %}
                    <div class="notification--content">
                        {% if leaderNoti %}
                            <div class="notification--entry-wrapper notification--lead-wrapper">
                                <form class="notification--clear" data-request="onDeleteAllNotis">
                                    <button class="mdc-button mdc-button--outlined mdc-button--touch notification--lead_button" type="submit">
                                        Alle löschen
                                    </button>
                                    <input type="hidden" name="user_id" value="{{user[0]['id']}}">

                                </form>
                                <form class="notification--clear" data-request="onAllNotisRead">
                                    <button class="mdc-button mdc-button--outlined mdc-button--touch notification--lead_button  notification--lead_button-long" type="submit">
                                        Alle als gelesen markieren
                                    </button>
                                    <input type="hidden" name="user_id" value="{{user[0]['id']}}">

                                </form>
                            </div>
                            {% for item in leaderNoti %}
                            {% if loop.index < 9 %}
                            {% if item['notification']['link'] %}
                            <div class="notification--entry-wrapper">
                            <a data-id="{{item['notification']['id']}}" class="notification--link {% if item['notification']['seen'] %}notification--seen{% endif %}"
                            {% if item['notification']['request_id_id'] %}
                            href="{{item['notification']['link']}}#{{item['notification']['request_id_id']}}"
                            {% else %}
                            href="{{item['notification']['link']}}"
                            {% endif %}
                            >
                            <p class="notification--entry {% if item['notification']['seen'] %}notification--seen{% endif %}">
                                {{item['notification']['created_at']|date('d.m.Y - H:i')}} {{item['notification']['text']}}
                                {% if not item['notification']['seen'] %}
                                    <i class="material-icons mdc-button__icon notification--icon">circle</i>
                                {% endif %}
                            </p>
                            </a>
                            <form class="notification--delete" data-request="onDeleteNotification">
                                <button class="notification--delete-button" type="submit">
                                    <i class="material-icons mdc-button__icon notification--icon">clear</i>
                                </button>
                                <input type="hidden" name="noti_id" value="{{item['notification']['id']}}">
                            </form>

                        </div>
                        {% else %}
                        <p class="notification--entry {% if item['seen'] %}notification--seen{% endif %}">{{item['notification']['created_at']|date('d.m.Y - H:i')}}{{item['notification']['text']}}</p>
                        {% endif %}

                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <p class="notification--entry ">Nichts Neues</p>
                        {% endif %}
                    </div>
                    {% else %}
                        {% if notisUn > 0 %}
                        <span class="emt--badge notification--badge "> {{notisUn}}</span>
                        {% endif %}
                        <div class="notification--content">
                            {% if notis %}
                            <div class="notification--entry-wrapper notification--lead-wrapper">
                                <form class="notification--clear" data-request="onDeleteAllNotis">
                                    <button class="mdc-button mdc-button--outlined mdc-button--touch notification--lead_button" type="submit">
                                        Alle löschen
                                    </button>
                                    <input type="hidden" name="user_id" value="{{user[0]['id']}}">
                                </form>
                                <form class="notification--clear" data-request="onAllNotisRead">
                                    <button class="mdc-button mdc-button--outlined mdc-button--touch notification--lead_button notification--lead_button-long" type="submit">
                                        Alle als gelesen markieren
                                    </button>
                                    <input type="hidden" name="user_id" value="{{user[0]['id']}}">
                                </form>
                            </div>
                            {% for item in notis %}
                                {% if item['link'] %}
                                <div class="notification--entry-wrapper">
                                <a data-id="{{item['id']}}" class="notification--link {% if item['seen'] %}notification--seen{% endif %}"
                                   {% if item['request_id_id'] %}
                                href="{{item['link']}}#{{item['request_id_id']}}"
                                {% else %}
                                href="{{item['link']}}"
                                {% endif %}
                                >

                                    <p class="notification--entry {% if item['seen'] %}notification--seen{% endif %}">
                                    {{item['created_at']|date('d.m.Y - H:i')}} {{item['text']}}
                                    {% if not item['seen'] %}
                                    <i class="material-icons mdc-button__icon notification--icon">circle</i>
                                    {% endif %}
                                    </p>
                                    </a>
                                    <form class="notification--delete" data-request="onDeleteNotification">
                                        <button class="notification--delete-button" type="submit">
                                            <i class="material-icons mdc-button__icon notification--icon">clear</i>
                                        </button>
                                        <input type="hidden" name="noti_id" value="{{item['id']}}">
                                    </form>
                                </div>
                                {% else %}
                                <p class="notification--entry {% if item['seen'] %}notification--seen{% endif %}">{{item['created_at']|date('d.m.Y - H:i')}}{{item['text']}}</p>
                                {% endif %}


                            {% endfor %}
                            {% else %}
                            <p class="notification--entry ">Nichts Neues</p>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <form class="hide-on-small logout--desktop" data-request="onLogoutWindows">
                    <button type="submit" class="emt--login-button mdc-button mdc-button--raised">
                        <div class="mdc-button__ripple "></div>
                        <i class="material-icons mdc-button__icon" aria-hidden="true">logout</i>
                        <span class="mdc-button__label">Ausloggen</span>
                    </button>
                </form>
            </section>
        </div>
    </header>
    <aside class="noPrint emt--header-aside mdc-drawer mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust">
        <div class="mdc-drawer__header">
            <h3 class="mdc-drawer__title"></h3>
            <h6 class="mdc-drawer__subtitle">{{user[0]['first_name']}} {{user[0]['last_name']}}</h6>
        </div>
        <div class="mdc-drawer__content">
            <div class="mdc-list">
                <a class="emt--nav-list_item mdc-list-item {% if this.page.title == 'employee' %}mdc-list-item--activated {% endif %}" href="/" aria-current="page">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
                    <span class="mdc-list-item__text">Startseite</span>
                </a>
                <a class="emt--nav-list_item mdc-list-item {% if this.page.title == 'Mein Profil' %}mdc-list-item--activated {% endif %}" href="/profile" aria-current="page">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">portrait</i>
                    <span class="mdc-list-item__text">Mein Profil</span>
                </a>
                <a class="emt--nav-list_item mdc-list-item {% if this.page.title == 'Meine Zeiten' %}mdc-list-item--activated {% endif %}" href="/zeiten" aria-current="page">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">alarm</i>
                    <span class="mdc-list-item__text">Meine Zeiten</span>
                </a>
                <a class="emt--nav-list_item mdc-list-item {% if this.page.title == 'Mein Urlaub' %}mdc-list-item--activated {% endif %}" href="/mein-urlaub" aria-current="page">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">beach_access</i>
                    <span class="mdc-list-item__text">Mein Urlaub</span>
                </a>
                <a class="mdc-list-item emt--nav-list_item {% if this.page.title == 'Meine Anträge' %}mdc-list-item--activated {% endif %}" href="/antrag">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>
                    <span class="mdc-list-item__text">Meine Anträge</span>
                    {% if notisUn > 0 %}
                    <span class="emt--badge"> {{notisUn}}</span>
                    {% endif %}
                </a>
                <a class="mdc-list-item emt--nav-list_item {% if this.page.title == 'Meine Statistik' %}mdc-list-item--activated {% endif %}" href="/statistik">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">analytics</i>
                    <span class="mdc-list-item__text">Meine Statistik</span>
                </a>
                {% if isLeader %}
                <a class="mdc-list-item emt--nav-list_item {% if this.page.title == 'Mitarbeiter Anträge' %}mdc-list-item--activated {% endif %}" href="/antrag_employees">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">markunread_mailbox</i>
                    <span class="mdc-list-item__text">Mitarbeiter Anträge</span>
                    {% if number > 0 %}
                    <span class="emt--badge"> {{number}}</span>
                    {% endif %}
                </a>
                <a class="mdc-list-item emt--nav-list_item {% if this.page.title == 'Pünktlichkeit' %}mdc-list-item--activated {% endif %}" href="/punktlichkeit">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">watch</i>
                    <span class="mdc-list-item__text">Pünktlichkeit</span>
                </a>
                <a class="mdc-list-item emt--nav-list_item {% if this.page.title == 'Urlaubsplan' %}mdc-list-item--activated {% endif %}" href="/urlaubsplan">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">calendar_view_month</i>
                    <span class="mdc-list-item__text">Urlaubsplan</span>
                </a>
                <a class="mdc-list-item emt--nav-list_item {% if this.page.title == 'Kapazitäten' %}mdc-list-item--activated {% endif %}" href="/kapazitaten">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">groups</i>
                    <span class="mdc-list-item__text">Kapazitäten</span>
                </a>
                <a class="mdc-list-item emt--nav-list_item {% if this.page.title == 'Interne Korrektur' %}mdc-list-item--activated {% endif %}" href="/internekorrektur">
                    <span class="mdc-list-item__ripple"></span>
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">restore</i>
                    <span class="mdc-list-item__text">Interne Korrektur</span>
                </a>
                {% endif %}
            </div>
            <form class="logout--mobile" data-request="onLogoutWindows">
                <button type="submit" class="emt--login-button mdc-button mdc-button--raised">
                    <div class="mdc-button__ripple "></div>
                    <i class="material-icons mdc-button__icon" aria-hidden="true">logout</i>
                    <span class="mdc-button__label">Ausloggen</span>
                </button>
            </form>
        </div>
    </aside>
    </div>

{% else %}
    <div class="emt--login-logout">
        <p class="my_out mdc-typography--headline6 ">Bitte Windows login Daten eingeben</p>
        <form class="emt--login-form" data-request="onLoginWindows">
            <label class="mdc-text-field emp--label-wrapper1 emt--login-label mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="windowsUser">Nutzername</span>
                <input class="mdc-text-field__input" name="user" type="text" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
            <label class="mdc-text-field emt--login-label emp--label-wrapper2 mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="windowsPW">Passwort</span>
                <input class="mdc-text-field__input" name="password" type="password" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
            <button type="submit" class="emt--login-button mdc-button mdc-button--raised">
                <div class="mdc-button__ripple "></div>
                <i class="material-icons mdc-button__icon" aria-hidden="true">login</i>
                <span class="mdc-button__label">Login</span>
            </button>
        </form>
    </div>
{% endif %}
{% if this.page.title == 'Mitarbeiter Anträge' and isLeader %}
<div class="emt--time-container">
    <h4 style="margin: 20px 0;" class="emt--headline-4 mdc-typography--headline4">Mitarbeiter Anträge</h4>
    <div class="emt--time-output" style="display: flex; padding: 0;">
        <form data-request="onToggleAllEntries" class="emt--lead_button-hideAll">
            <input type="hidden" name="leader_id" value="{{user[0]['id']}}">
            <button class="emt--lead_button-hide emt--list-button mdc-button mdc-button--outlined mdc-button--touch"  title="Ausblenden">
                <i class="material-icons mdc-list-item__graphic" title="{{types[request['entry']['type']]}}" aria-hidden="true">visibility</i>
            </button>
        </form>
        <ul class="mdc-list emt--list mdc-list--two-line" style="width: 40%; margin-right: 50px;" id="emt--time_listOut">
            {% if requests %}
            {% for request in requests %}
                {% if request['entry']['visible'] and not (request['entry']['status'] == 'Beantragt' or request['entry']['status'] == 'Genehmigt' or request['entry']['status'] == 'Abgelehnt') %}
                    <li
                            {% if request['entry']['og_time'] %}
                                data-jumper="{{request['entry']['og_time']|date("Y-m-d")}}"
                            {% endif %}
                            {% if request['entry']['new_time'] %}
                                data-jumper="{{request['entry']['new_time']|date("Y-m-d")}}"
                            {% endif %}
                            class="mdc-list-item emt--list-item emt--list-item_leader" id="{{request['entry']['id']}}" data-id="{{request['entry']['id']}}">
                        <span class="mdc-list-item__ripple">
                        </span>
                        <span class="mdc-list-item__text emt--leadicon-text">
                            <span class="lead--icon-wrap">
                                {% if request['entry']['type'] == 'add' %}
                                    <i class="material-icons mdc-list-item__graphic" title="{{types[request['entry']['type']]}}" aria-hidden="true">add_circle</i>
                                {% elseif request['entry']['type'] == 'correct' %}
                                    <i class="material-icons mdc-list-item__graphic" title="{{types[request['entry']['type']]}}" aria-hidden="true">change_circle</i>
                                {% elseif request['entry']['type'] == 'delete' %}
                                    <i class="material-icons mdc-list-item__graphic" title="{{types[request['entry']['type']]}}" aria-hidden="true">remove_circle</i>
                                {% endif %}
                            </span>
                            <span class="mdc-list-item__primary-text">
                                <span class="primary-text--mobile">
                                    {{types[request['entry']['type']]}}
                                </span>
                                Typ: {{types[request['entry']['type']]}} </br>
                                Von: {{request['person']['first_name']}} {{request['person']['last_name']}}
                                {% if request['entry']['memo'] %}
                                <span class="emt--list-note"> Notiz:<br> {{request['entry']['memo']|nl2br}}</span>{% endif %}

                            </span>
                            <span class="mdc-list-item__third-text emt--list-item__third-text">
                                {% if request['entry']['og_time'] %}
                                    <span class="emt--list-old emt--mobile-list_third_part">ALT:
                                        {{request['entry']['og_time']|date("d.m.Y H:i")}}
                                    </span>
                                {% endif %}
                                {% if request['entry']['new_time'] %}
                                <span class="emt--mobile-list_third_part">
                                    {% if request['entry']['type'] != 'delete' and request['entry']['type'] != 'add' %}
                                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">arrow_right_alt</i>
                                    {% endif %}
                                    NEU: {{request['entry']['new_time']|date("d.m.Y H:i")}}
                                </span>
                                {% endif %}
                                {% if request['entry']['timestamp_status'] %}
                                <span class="emt--mobile-list_third_part">
                                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">arrow_right_alt</i>
                                    Status: {{aktion[request['entry']['timestamp_status']]}}
                                </span>
                                {% endif %}
                                <!--</span>-->
                            </span>
                            <span class="currentstate--wrapper mdc-list-item__secondary-text">
                            {% set currentstate = request['entry']['status'] %}
                                {% if currentstate == 'pending' %}
                                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">pending_actions</i>
                                {% elseif currentstate == 'declined' %}
                                    <i class="material-icons emt--icon-decline mdc-list-item__graphic" aria-hidden="true">block</i>
                                {% elseif currentstate == 'accepted' %}
                                    <i class="material-icons emt--icon-accept mdc-list-item__graphic" aria-hidden="true">check_circle_outline</i>
                                {% endif %}
                            <span class="currentstate--text">{{states[request['entry']['status']]}}</span>
                            </span>
                        </span>
                        <span class="mdc-list-item__graphic emt--list-item__graphic emt--list-item__graphic-desktop">
                            {% if (request['entry']['status'] == 'accepted' or request['entry']['status'] == 'declined') %}
                            <form data-request="onHideEntry" class="emt--lead_button-hide">
                                <input type="hidden" name="id" value="{{request['entry']['id']}}">
                                <button class="emt--lead_button-hide emt--list-button mdc-button mdc-button--outlined mdc-button--touch" data-id="{{request['entry']['id']}}" title="Ausblenden">
                                    <i class="material-icons mdc-list-item__graphic" title="{{types[request['entry']['type']]}}" aria-hidden="true">visibility_off</i>
                                </button>
                            </form>
                            {% else %}
                            <button class="emt--lead_button-memo emt--list-button mdc-button mdc-button--outlined mdc-button--touch" data-memo="{{loop.index}}" title="Memo">
                                <i class="material-icons mdc-list-item__graphic" aria-hidden="true" title="Memo">sticky_note_2</i>
                            </button>
                            <button class="emt--lead_button-accept emt--list-button mdc-button mdc-button--outlined mdc-button--touch" data-id="{{request['entry']['id']}}" data-user_id="{{request['entry']['user_id']}}" data-status="accepted" title="Akzeptieren" tabindex="-1">
                                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">check_circle</i>
                            </button>
                            <button class="emt--lead_button-deny emt--list-button mdc-button mdc-button--outlined mdc-button--touch" data-denydialog="{{loop.index}}" data-id="{{request['entry']['id']}}" data-status="declined" title="Ablehnen" tabindex="-1">
                                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">block</i>
                            </button>
                            {% endif %}
                        </span>
                        <span class="mdc-list-item__graphic emt--list-item__graphic-mobile">
                            {% if (request['entry']['status'] == 'accepted' or request['entry']['status'] == 'declined') %}
                            <button class="emt--lead_button-hide emt--list-button mdc-button mdc-button--outlined mdc-button--touch" data-id="{{request['entry']['id']}}" title="Ausblenden">
                                <i class="material-icons mdc-list-item__graphic" title="{{types[request['entry']['type']]}}" aria-hidden="true">visibility_off</i>
                            </button>
                            {% else %}
                            <button class="emt--lead_button-memo emt--list-button mdc-button mdc-button--outlined mdc-button--touch" data-memo="{{loop.index}}" title="Memo">
                                <i class="material-icons mdc-list-item__graphic" aria-hidden="true" title="Memo">sticky_note_2</i>
                            </button>
                            <button class="emt--lead_button-accept emt--list-button mdc-button mdc-button--outlined mdc-button--touch" data-id="{{request['entry']['id']}}" data-user_id="{{request['entry']['user_id']}}" data-status="accepted" tabindex="-1">
                                <i class="material-icons mdc-list-item__graphic" aria-hidden="true" title="Akzeptieren">check_circle</i>
                            </button>
                            <button class="emt--lead_button-deny emt--list-button mdc-button mdc-button--outlined mdc-button--touch" data-denydialog="{{loop.index}}" data-id="{{request['entry']['id']}}" data-status="declined" tabindex="-1">
                                <i class="material-icons mdc-list-item__graphic" aria-hidden="true" title="Ablehnen">block</i>
                            </button>
                            {% endif %}
                        </span>
                    </li>
                    <li role="separator" class="mdc-list-divider"></li>
                    <div class="mdc-dialog mdc-dialog_decline mdc-dialog_decline-{{loop.index}}">
                        <div class="mdc-dialog__container">
                            <div class="mdc-dialog__surface"
                                 role="alertdialog"
                                 aria-modal="true"
                                 aria-labelledby="my-dialog-title"
                                 aria-describedby="my-dialog-content">
                                <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                                <h2 class="mdc-dialog__title">Ablehn Grund</h2>
                                <div class="mdc-dialog__content">
                                    <form class="emt--login-form" data-request="onChangeStatus">
                                        <input type="hidden" name="id" value="{{request['entry']['id']}}">
                                        {% if request['entry']['timestamp_id'] %}
                                        <input type="hidden" name="time_id" value="{{request['entry']['timestamp_id']}}">
                                        {% endif %}
                                        <input type="hidden" name="user_id" value="{{request['entry']['user_id']}}">
                                        <input type="hidden" name="leader_name" value="{{user[0]['first_name']}}">
                                        <input type="hidden" name="status" value="declined">
                                        <p class="emt--memo-text">
                                            {{request['entry']['memo']|nl2br}}
                                        </p>
                                        <label class="mdc-text-field mdc-text-field_deny-{{loop.index}} mdc-text-field1 emt--login-label emp--label-wrapper mdc-text-field--filled">
                                            <span class="mdc-text-field__ripple"></span>
                                            <span class="mdc-floating-label" >Notiz</span>
                                            <input class="mdc-text-field__input" name="memo" type="text" aria-labelledby="my-label-id">
                                            <span class="mdc-line-ripple"></span>
                                        </label>
                                </div>
                                <div class="mdc-dialog__actions">
                                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">Abbrechen</span>
                                    </button>
                                    <button type="submit" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">OK</span>
                                    </button>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="mdc-dialog__scrim"></div>
                    </div>
                    <div class="mdc-dialog mdc-dialog_memo mdc-dialog_memo-{{loop.index}}">
                        <div class="mdc-dialog__container">
                            <div class="mdc-dialog__surface"
                                 role="alertdialog"
                                 aria-modal="true"
                                 aria-labelledby="my-dialog-title"
                                 aria-describedby="my-dialog-content">
                                <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                                <h2 class="mdc-dialog__title" id="my-dialog-title">Memo</h2>
                                <div class="mdc-dialog__content" id="my-dialog-content">
                                    <form class="emt--login-form" data-request="onAddMemo">
                                        <input type="hidden" name="user_id" value="{{request['entry']['user_id']}}">
                                        <input type="hidden" name="id" value="{{request['entry']['id']}}">
                                        <input type="hidden" name="name" value="{{user[0]['first_name']}}">
                                        <input type="hidden" name="self_id" value="{{user[0]['id']}}">
                                        <p class="emt--memo-text">
                                            {{request['entry']['memo']|nl2br}}
                                        </p>
                                        <label class="mdc-text-field mdc-text-field_{{loop.index}} mdc-text-field1 emt--login-label emp--label-wrapper mdc-text-field--filled">
                                            <span class="mdc-text-field__ripple"></span>
                                            <span class="mdc-floating-label" >Notiz</span>
                                            <input class="mdc-text-field__input" name="memo" type="text" aria-labelledby="my-label-id">
                                            <span class="mdc-line-ripple"></span>
                                        </label>
                                </div>
                                <div class="mdc-dialog__actions">
                                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">Abbrechen</span>
                                    </button>
                                    <button type="submit" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">OK</span>
                                    </button>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="mdc-dialog__scrim"></div>
                    </div>
                {% endif %}
                {% if request['entry']['visible'] and (request['entry']['status'] == 'Beantragt' or request['entry']['status'] == 'Genehmigt' or request['entry']['status'] == 'Abgelehnt') %}
                    <li
                        {% if request['entry']['start_date'] %}
                            data-jumper="{{request['entry']['start_date']|date("Y-m-d")}}"
                        {% endif %}
                            class="mdc-list-item emt--list-item emt--list-item_leader" id="{{request['entry']['id']}}" data-vacationplanid="{{loop.index}}" data-id="{{request['entry']['id']}}">
                            <span class="mdc-list-item__ripple">
                            </span>
                        <span class="mdc-list-item__text emt--leadicon-text">
                                <span class="lead--icon-wrap">
                                    {% if request['entry']['type'] == 'add' %}
                                        <i class="material-icons mdc-list-item__graphic" title="{{types[request['entry']['type']]}}" aria-hidden="true">add_circle</i>
                                    {% elseif request['entry']['type'] == 'correct' %}
                                        <i class="material-icons mdc-list-item__graphic" title="{{types[request['entry']['type']]}}" aria-hidden="true">change_circle</i>
                                    {% elseif request['entry']['type'] == 'delete' %}
                                        <i class="material-icons mdc-list-item__graphic" title="{{types[request['entry']['type']]}}" aria-hidden="true">remove_circle</i>
                                    {% else %}
                                        <i class="material-icons mdc-list-item__graphic" title="vacation" aria-hidden="true">beach_access</i>
                                    {% endif %}
                                </span>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">
                                    <span class="primary-text--mobile">
                                        Urlaub
                                    </span>
                                    Typ: Urlaub </br>
                                    Von: {{request['person']['first_name']}} {{request['person']['last_name']}}
                                    {% if request['entry']['name'] %}
                                    <span class="emt--list-note"> Notiz:<br> {{request['entry']['name']|nl2br}}</span>{% endif %}

                                </span>
                                <span class="mdc-list-item__third-text emt--vacation_list-third emt--list-item__third-text">
                                    <span class="mdc-list-item__third-text emt--list-item__third-text">
                                        <span class="emt--mobile-list_third_part">
                                            Von: {{request['entry']['start_date']|date("d.m.Y")}}
                                        </span>
                                    </span>
                                    <span class="mdc-list-item__third-text emt--list-item__third-text">
                                        <span class="emt--mobile-list_third_part">
                                            Bis: {{request['entry']['end_date']|date("d.m.Y")}}
                                        </span>
                                    </span>
                                    <!--</span>-->
                                </span>
                                <span class="currentstate--wrapper mdc-list-item__secondary-text">
                                {% set currentstate = request['entry']['status'] %}
                                    {% if currentstate == 'pending' %}
                                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">pending_actions</i>
                                    {% elseif currentstate == 'declined' %}
                                        <i class="material-icons emt--icon-decline mdc-list-item__graphic" aria-hidden="true">block</i>
                                    {% elseif currentstate == 'accepted' %}
                                        <i class="material-icons emt--icon-accept mdc-list-item__graphic" aria-hidden="true">check_circle_outline</i>
                                    {% elseif currentstate == 'Beantragt' %}
                                         <i class="material-icons mdc-list-item__graphic" aria-hidden="true">pending_actions</i>
                                    {% endif %}
                                <span class="currentstate--text">{{request['entry']['status']}}</span>
                                </span>

                            </span>
                            </span>
                        <span class="mdc-list-item__graphic emt--list-item__graphic emt--list-item__graphic-desktop">
                                {% if (request['entry']['status'] == 'accepted' or request['entry']['status'] == 'declined' or request['entry']['status'] == 'Genehmigt' or request['entry']['status'] == 'Abgelehnt') %}
                                <form data-request="onHideEntry" class="emt--lead_button-hide">
                                    <input type="hidden" name="id" value="{{request['entry']['id']}}">
                                    {% if request['entry']['status'] == 'Genehmigt' or request['entry']['status'] == 'Abgelehnt' %}
                                    <input type="hidden" name="isVacation" value="1">
                                    {% endif %}
                                    <button class="emt--lead_button-hide emt--list-button mdc-button mdc-button--outlined mdc-button--touch" data-id="{{request['entry']['id']}}" title="Ausblenden">
                                        <i class="material-icons mdc-list-item__graphic" title="{{types[request['entry']['type']]}}" aria-hidden="true">visibility_off</i>
                                    </button>
                                </form>
                                {% else %}
                                <button class="emt--lead_button-memo emt--list-button mdc-button mdc-button--outlined mdc-button--touch" data-memo="{{loop.index}}" title="Memo">
                                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true" title="Memo">sticky_note_2</i>
                                </button>
                                <button class="emt--lead_button-accept_vacation emt--list-button mdc-button mdc-button--outlined mdc-button--touch" data-id="{{request['entry']['id']}}" data-user_id="{{request['entry']['mitarbeiter_id']}}" data-status="accepted" title="Akzeptieren" tabindex="-1">
                                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">check_circle</i>
                                </button>
                                <button class="emt--lead_button-deny emt--list-button mdc-button mdc-button--outlined mdc-button--touch" data-denydialog="{{loop.index}}" data-id="{{request['entry']['id']}}" data-status="declined" title="Ablehnen" tabindex="-1">
                                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">block</i>
                                </button>
                                {% endif %}
                            </span>
                        <span class="mdc-list-item__graphic emt--list-item__graphic-mobile">
                                {% if (request['entry']['status'] == 'accepted' or request['entry']['status'] == 'declined' or request['entry']['status'] == 'Genehmigt') %}
                                <button class="emt--lead_button-hide emt--list-button mdc-button mdc-button--outlined mdc-button--touch" data-id="{{request['entry']['id']}}" title="Ausblenden">
                                    <i class="material-icons mdc-list-item__graphic" title="{{types[request['entry']['type']]}}" aria-hidden="true">visibility_off</i>
                                </button>
                                {% else %}
                                <button class="emt--lead_button-memo emt--list-button mdc-button mdc-button--outlined mdc-button--touch" data-memo="{{loop.index}}" title="Memo">
                                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true" title="Memo">sticky_note_2</i>
                                </button>
                                <button class="emt--lead_button-accept_vacation emt--list-button mdc-button mdc-button--outlined mdc-button--touch" data-id="{{request['entry']['id']}}" data-user_id="{{request['entry']['mitarbeiter_id']}}" data-status="accepted" tabindex="-1">
                                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true" title="Akzeptieren">check_circle</i>
                                </button>
                                <button class="emt--lead_button-deny emt--list-button mdc-button mdc-button--outlined mdc-button--touch" data-denydialog="{{loop.index}}" data-id="{{request['entry']['id']}}" data-status="declined" tabindex="-1">
                                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true" title="Ablehnen">block</i>
                                </button>
                                {% endif %}
                            </span>
                    </li>
                    <li role="separator" class="mdc-list-divider"></li>
                    <div class="mdc-dialog mdc-dialog_decline mdc-dialog_decline-{{loop.index}}">
                        <div class="mdc-dialog__container">
                            <div class="mdc-dialog__surface"
                                 role="alertdialog"
                                 aria-modal="true"
                                 aria-labelledby="my-dialog-title"
                                 aria-describedby="my-dialog-content">
                                <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                                <h2 class="mdc-dialog__title">Ablehn Grund</h2>
                                <div class="mdc-dialog__content">
                                    <form class="emt--login-form" data-request="onChangeStatus">
                                        <input type="hidden" name="id" value="{{request['entry']['id']}}">
                                        <input type="hidden" name="isVacation" value="1">
                                        <input type="hidden" name="user_id" value="{{request['entry']['mitarbeiter_id']}}">
                                        <input type="hidden" name="leader_name" value="{{user[0]['first_name']}}">
                                        <input type="hidden" name="status" value="declined">
                                        <p class="emt--memo-text">
                                            {{request['entry']['memo']|nl2br}}
                                        </p>
                                        <label class="mdc-text-field mdc-text-field_deny-{{loop.index}} mdc-text-field1 emt--login-label emp--label-wrapper mdc-text-field--filled">
                                            <span class="mdc-text-field__ripple"></span>
                                            <span class="mdc-floating-label" >Notiz</span>
                                            <input class="mdc-text-field__input" name="memo" type="text" aria-labelledby="my-label-id">
                                            <span class="mdc-line-ripple"></span>
                                        </label>
                                </div>
                                <div class="mdc-dialog__actions">
                                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">Abbrechen</span>
                                    </button>
                                    <button type="submit" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">OK</span>
                                    </button>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="mdc-dialog__scrim"></div>
                    </div>
                    <div class="mdc-dialog mdc-dialog_memo mdc-dialog_memo-{{loop.index}}">
                        <div class="mdc-dialog__container">
                            <div class="mdc-dialog__surface"
                                 role="alertdialog"
                                 aria-modal="true"
                                 aria-labelledby="my-dialog-title"
                                 aria-describedby="my-dialog-content">
                                <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                                <h2 class="mdc-dialog__title" id="my-dialog-title">Memo</h2>
                                <div class="mdc-dialog__content" id="my-dialog-content">
                                    <form class="emt--login-form" data-request="onAddMemo">
                                        <input type="hidden" name="user_id" value="{{request['entry']['mitarbeiter_id']}}">
                                        <input type="hidden" name="isVacation" value="1">
                                        <input type="hidden" name="id" value="{{request['entry']['id']}}">
                                        <input type="hidden" name="name" value="{{user[0]['first_name']}}">
                                        <input type="hidden" name="self_id" value="{{user[0]['id']}}">
                                        <p class="emt--memo-text">
                                            {{request['entry']['memo']|nl2br}}
                                        </p>
                                        <label class="mdc-text-field mdc-text-field_{{loop.index}} mdc-text-field1 emt--login-label emp--label-wrapper mdc-text-field--filled">
                                            <span class="mdc-text-field__ripple"></span>
                                            <span class="mdc-floating-label" >Notiz</span>
                                            <input class="mdc-text-field__input" name="memo" type="text" aria-labelledby="my-label-id">
                                            <span class="mdc-line-ripple"></span>
                                        </label>
                                </div>
                                <div class="mdc-dialog__actions">
                                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">Abbrechen</span>
                                    </button>
                                    <button type="submit" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">OK</span>
                                    </button>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="mdc-dialog__scrim"></div>
                    </div>
                    <div class="mdc-dialog mdc-dialog_vacationplan mdc-dialog_vacationplan-{{loop.index}}">
                        <div class="mdc-dialog__container">
                            <div class="mdc-dialog__surface"
                                 role="alertdialog"
                                 aria-modal="true"
                                 aria-labelledby="my-dialog-title"
                                 aria-describedby="my-dialog-content">
                                <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                                <h2 class="mdc-dialog__title" id="my-dialog-title">Urlaubsplan</h2>
                                <div class="mdc-dialog__content">
                                <div class="mdc-dialog__actions">
                                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">Abbrechen</span>
                                    </button>
                                    <button type="submit" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">OK</span>
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="mdc-dialog__scrim"></div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% endif %}

        </ul>
        <input type="hidden" value="{{department_id}}" id="idForDepartment">
        <input type="hidden" value="{{user[0]['id']}}" id="idForLeader">
        <div class="vacationplan--wrapper">
            <div id="vacationforever"></div>
        </div>
    </div>
</div>
{% elseif this.page.title == 'employee' and user[0] %}
    <div class="emt--wtf-wrapper noPrint">
    <div class=" emt--time-container">
        <h3 class="emt--headline-3">Moin! Verwendet das Menü um zu euren Zeiten zu kommen. Unter Anträge findet ihr eure erstellten Änderungsanträge</h3>
        <button class="emt--homeoffice-button mdc-button mdc-button--raised" onclick="window.print();return false;">Drucken</button>
        <h3 class="emt--headline-3" style="font-size: 1.5rem; font-weight: 500;margin-bottom: 0.5em;">Stundenkonto: <span class="{% if totalAmount['negative'] %}
        emt--totaltime-negative
        {% else %}
        emt--totaltime-positive
        {% endif %}">{{totalAmount['time']}}</span></h3>
        <h4 class="emt--headline-4" style="    font-size: 1.25rem;
    font-weight: lighter;">Aktueller Arbeitsbeginn: {{currentStartTime|date('H:i')}} Uhr</h4>
        {% if user[0]['homeoffice'] %}
        <h3 class="emt--homeoffice-headline">Homeoffice Zeiterfassung:</h3>
        <div class="emt--homeoffice-wrapper" id="" data-token="nix">
            {% if user[1][(user[1]|length)-1]['status'] == 'leaving' or user[1][(user[1]|length)-1]['status'] == 'forgot'
            or user[1][(user[1]|length)-1]['status'] == 'vacation'
            or user[1][(user[1]|length)-1]['status'] == 'sick'
            or 'Korrektur' in user[1][(user[1]|length)-1]['status']
            or user[1]|length == 0 %}
            <form class="emt--homeoffice-form" data-request="onTrackTime">
                <input type="hidden" name="user_id" value="{{user[0]['id']}}">
                <button class="emt--homeoffice-button mdc-button mdc-button--raised"  id="coming" data-timetrack="coming">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">play_arrow</i>
                    KOMMT
                </button>
                <input type="hidden" name="status" value="coming">
            </form>
            {% elseif user[1][(user[1]|length)-1]['status'] == 'coming' %}
            <form class="emt--homeoffice-form" data-request="onTrackTime">
                <input type="hidden" name="user_id" value="{{user[0]['id']}}">
                <button id="leaving" data-timetrack="leaving" class="emt--homeoffice-button mdc-button mdc-button--raised">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">stop</i>
                    GEHT
                </button>
                <input type="hidden" name="status" value="leaving">
            </form>
            <form class="emt--homeoffice-form" data-request="onTrackTime">
                <input type="hidden" name="user_id" value="{{user[0]['id']}}">
                <button id="break_start" data-timetrack="break_start" class="emt--homeoffice-button mdc-button mdc-button--raised">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">pause</i>
                    PAUSE START
                </button>
                <input type="hidden" name="status" value="break_start">
            </form>
            {% elseif user[1][(user[1]|length)-1]['status'] == 'break_start' %}
            <form class="emt--homeoffice-form" data-request="onTrackTime">
                <input type="hidden" name="user_id" value="{{user[0]['id']}}">
                <button id="break_end" data-timetrack="break_end" class="emt--homeoffice-button mdc-button mdc-button--raised">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">play_arrow</i>
                    PAUSE ENDE
                </button>
                <input type="hidden" name="status" value="break_end">
            </form>
            {% elseif user[1][(user[1]|length)-1]['status'] == 'break_end' %}
            <form class="emt--homeoffice-form" data-request="onTrackTime">
                <input type="hidden" name="user_id" value="{{user[0]['id']}}">
                <button id="leaving" data-timetrack="leaving" class="emt--homeoffice-button mdc-button mdc-button--raised">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">stop</i>
                    GEHT
                </button>
                <input type="hidden" name="status" value="leaving">
            </form>
            <form class="emt--homeoffice-form" data-request="onTrackTime">
                <input type="hidden" name="user_id" value="{{user[0]['id']}}">
                <button id="break_start" data-timetrack="break_start" class="emt--homeoffice-button mdc-button mdc-button--raised">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">pause</i>
                    PAUSE START
                </button>
                <input type="hidden" name="status" value="break_start">
            </form>
            {% endif %}
        </div>
        {% endif %}
    </div>
    {% if this.page.title == 'employee' %}
    <div id="outputDiv">
    </div>
{% endif %}
</div>
{% if this.page.title == 'employee' and user[0] %}
<div class="loading--background">
    <img alt="nothing" src="/themes/demo/assets/images/Spinner-1s-200px.svg" class="loading-svg">
</div>
<div style="width: 1200px; height: auto; margin: auto;" id='calendar'></div>
<input type="hidden" id="idForSingleCall" value="{{user[0]['id']}}">
{% endif %}


{% endif %}

<script>
    var states = {
        coming: 'Kommt',
        leaving: 'Geht',
        break_start: 'Pause Start',
        break_end: 'Pause Ende',
        URLAUB: 'URLAUB',
        KRANK: 'KRANK',
        forgot: 'Vergessen'
    }



    $(window).load(function() {
        if($('#outputDiv').length && $('#idForSingleCall').length) {
            var user_id = $('#idForSingleCall').val();
            console.log(user_id);
            getWorkFullCalendar(user_id).done(newCalendar);
            /*$.when(getWorkFullCalendar(user_id)).done(function(ajax1Results) {
                newCalendar(ajax1Results);
            });*/
            //newCalendar();
        }
    });





    var targetButton = false;

    function newCalendar(data) {
        console.log(data);

        //console.log( document.getElementById('calendar'));
        //$('.loading--background').show();
        console.log("adding...");
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'de',
            weekNumbers: true,
            firstDay: 1,
            weekText: 'KW',
            buttonText: {
                today: 'Heute'
            },
            rerenderDelay: 100,
            eventClick: function (info) {
                $('.emt--timestamp-tooltip').remove();
                //console.log(info.event.extendedProps);
                //console.log(info.el);
                var itemPos = $(info.el).position();
                //console.log(itemPos);
                var timestamps = info.event.extendedProps['timestamps'];
                var soll = info.event.extendedProps['soll'];
                if(soll) {
                    var out = '<div class="emt--timestamp-tooltip emt--timestamp-tooltip_soll">';
                }
                else {
                    var out = '<div class="emt--timestamp-tooltip">';
                }
                out += '<i class="material-icons mdc-button__icon close--icon">close</i>';
                if(timestamps) {
                    for (let p = 0; p < timestamps.length; p++) {
                        out += '<p class="emt--timestamp-entry">'+timestamps[p]['timestamp']+' - '+timestamps[p]['status']+'</p>';
                    }
                }
                if(soll) {
                    out += '<p class="emt--timestamp-entry">SOLL: '+soll+'</p>';
                }
                out += '</div>';
                $(info.el).parent().append(out);
            }
        });
        calendar.render();
        //addCalendarEvents(data, calendar);
        //getWorkFullCalendar(user_id, calendar);
        console.log(data.length);

        console.log("adding events: "+ data['entries'].length);
        var punctuallity = data['toolate'];
        var holidays = data['holidays'];

        for(let i = 0; i < data['entries'].length; i++) {
            var item = data['entries'][i];
            if(item['calculated'] != null && (item['timestamps'][0]['status'] !== 'vacation' && item['timestamps'][0]['status'] !== 'sick')) {
                for(let u = 0; u < item['calculated'].length; u++) {
                    var calcNew = item['calculated'][u];
                    if(!calcNew['manually_created']) {
                        //console.log(i);
                        calendar.addEvent(
                            {
                                title: calcNew['worked'] + " Gearbeitet",
                                start: calcNew['lu_date']+' 00:00',
                                allDay: false,
                                classNames: 'emt--work-entry emt--work-entry_calculated',
                                extendedProps: {
                                    timestamps: item['timestamps'],
                                }
                            }
                        );
                        calendar.addEvent(
                            {
                                title: calcNew['break'] + " Pause",
                                start: calcNew['lu_date']+' 00:00',
                                allDay: false,
                                classNames: 'emt--work-entry emt--work-entry_calculated',
                                extendedProps: {
                                    timestamps: item['timestamps'],
                                }
                            }
                        );
                    }
                    else {
                        if(calcNew['negative']) {
                            var negative = '-';
                        }
                        else {
                            var negative = '';
                        }
                        calendar.addEvent(
                            {
                                title: negative+calcNew['worked'] + " Interne Korrektur",
                                start: calcNew['lu_date']+' 00:00',
                                allDay: false,
                                classNames: 'emt--work-entry emt--work-entry_correction',
                                extendedProps: {
                                    timestamps: item['timestamps'],
                                }
                            }
                        );
                    }

                }

                for(var j = 0; j < item['timestamps'].length; j++) {
                    var entry = item['timestamps'][j];
                    if(entry['status'] !== 'break_start' && entry['status'] !== 'break_end') {
                        if(entry['status'] == 'coming') {
                            var toolateforcool = false;
                            for(var z = 0; z < punctuallity.length; z++) {
                                if(punctuallity[z]['timestamp'] === entry['timestamp']) {
                                    //console.log('funzt ' + punctuallity[z]['timestamp']);
                                    toolateforcool = true;
                                }
                            }
                            if(toolateforcool) {
                                calendar.addEvent(
                                    {
                                        title: states[entry['status']],
                                        start:  entry['timestamp'],
                                        allDay: false,
                                        classNames: 'emt--work-entry emt--work-timestamp emt--work-timestamp_coming emt--work-timestamp_toolate',
                                        extendedProps: {
                                            timestamps: item['timestamps'],
                                        }
                                    }
                                );
                            }
                            else {
                                calendar.addEvent(
                                    {
                                        title: states[entry['status']],
                                        start:  entry['timestamp'],
                                        allDay: false,
                                        classNames: 'emt--work-entry emt--work-timestamp emt--work-timestamp_coming',
                                        extendedProps: {
                                            timestamps: item['timestamps'],
                                        }
                                    }
                                );
                            }
                        }
                        else if(entry['status'] == 'leaving') {
                            calendar.addEvent(
                                {
                                    title: states[entry['status']],
                                    start:  entry['timestamp'],
                                    allDay: false,
                                    classNames: 'emt--work-entry emt--work-timestamp emt--work-timestamp_leaving',
                                    extendedProps: {
                                        timestamps: item['timestamps'],
                                    }
                                }
                            );
                        }
                    }
                }
            }
            else if(item['timestamps'][0]['status'] === 'vacation') {
                calendar.addEvent(
                    {
                        title: 'Urlaub',
                        start: item['timestamps'][0]['lookup']+' 00:00',
                        allDay: false,
                        classNames: 'emt--work-entry emt--work-entry_vacation',
                        extendedProps: {
                            timestamps: item['timestamps'],
                        }
                    }
                );
            }
            else if(item['timestamps'][0]['status'] === 'sick') {
                calendar.addEvent(
                    {
                        title: "Krank",
                        start: item['timestamps'][0]['lookup']+' 00:00',
                        allDay: false,
                        classNames: 'emt--work-entry emt--work-entry_sick',
                        extendedProps: {
                            timestamps: item['timestamps'],
                        }
                    }
                );
            }
            else if(item['timestamps'][0]) {
                calendar.addEvent(
                    {
                        title: "Noch nicht berechnet",
                        start: item['timestamps'][0]['lookup']+' 00:00',
                        allDay: false,
                        classNames: 'emt--work-entry emt--work-entry_calculated',
                        extendedProps: {
                            timestamps: item['timestamps'],
                        }
                    }
                );
                for(var j = 0; j < item['timestamps'].length; j++) {
                    var entry = item['timestamps'][j];
                    if(entry['status'] !== 'break_start' && entry['status'] !== 'break_end') {
                        if(entry['status'] == 'coming') {
                            var toolateforcool = false;
                            for(var z = 0; z < punctuallity.length; z++) {
                                if(punctuallity[z]['timestamp'] === entry['timestamp']) {
                                    //console.log('funzt ' + punctuallity[z]['timestamp']);
                                    toolateforcool = true;
                                }
                            }
                            if(toolateforcool) {
                                calendar.addEvent(
                                    {
                                        title: states[entry['status']],
                                        start:  entry['timestamp'],
                                        allDay: false,
                                        classNames: 'emt--work-entry emt--work-timestamp emt--work-timestamp_coming emt--work-timestamp_toolate',
                                        extendedProps: {
                                            timestamps: item['timestamps'],
                                        }
                                    }
                                );
                            }
                            else {
                                calendar.addEvent(
                                    {
                                        title: states[entry['status']],
                                        start:  entry['timestamp'],
                                        allDay: false,
                                        classNames: 'emt--work-entry emt--work-timestamp emt--work-timestamp_coming',
                                        extendedProps: {
                                            timestamps: item['timestamps'],
                                        }
                                    }
                                );
                            }
                        }
                        else if(entry['status'] == 'leaving') {
                            calendar.addEvent(
                                {
                                    title: states[entry['status']],
                                    start:  entry['timestamp'],
                                    allDay: false,
                                    classNames: 'emt--work-entry emt--work-timestamp emt--work-timestamp_leaving',
                                    extendedProps: {
                                        timestamps: item['timestamps'],
                                    }
                                }
                            );
                        }
                    }
                }
            }
        }
        for(let i = 0; i < data['sundays'].length; i++) {
            var item = data['sundays'][i];
            calendar.addEvent(
                {
                    title: "Gesamt: " + item['workedVal'],
                    start: item['date']+' 00:00',
                    allDay: false,
                    classNames: 'emt--work-entry emt--work-entry_calculated emt--work-entry_calculated_sunday',
                    extendedProps: {
                        soll: item['soll'],
                    }
                }
            );
            if(item['plusminus'][0]) {
                calendar.addEvent(
                    {
                        title: item['plusminus'][1],
                        start: item['date']+' 00:00',
                        allDay: false,
                        color: '#CD5C5CFF',
                        classNames: 'emt--work-entry emt--work-entry_calculated emt--work-entry_calculated_sunday',
                        extendedProps: {
                            soll: item['soll'],
                        }
                    }
                )
            }
            else if(item['plusminus'].length > 0) {
                calendar.addEvent(
                    {
                        title: '+'+item['plusminus'][1],
                        start: item['date']+' 00:00',
                        allDay: false,
                        color: '#98FB98FF',
                        classNames: 'emt--work-entry emt--work-entry_calculated emt--work-entry_calculated_sunday',
                        extendedProps: {
                            soll: item['soll'],
                        }
                    }
                )
            }
        }

        for(let i = 0; i < holidays.length; i++) {
            var holidayYear = holidays[i];
            for(let x = 0; x < holidayYear.length; x++) {
                var item = holidayYear[x];
                if(item['global']) {
                    calendar.addEvent(
                        {
                            title: item['localName'],
                            start: item['date'],
                            allDay: true,
                            classNames: 'emt--work-entry '
                        }
                    );
                }
                else if(item['counties'].includes('DE-SH')) {
                    calendar.addEvent(
                        {
                            title: item['localName'],
                            start: item['date'],
                            allDay: true,
                            classNames: 'emt--work-entry '
                        }
                    );
                }
            }
        }



    }

    function getWorkFullCalendar(user_id) {
        //$('.loading--background').show();
        //var data;
        return $.ajax({
            type: 'POST',
            url: '/getWorkForFullCalendar',
            data: {user_id: user_id}
            /*success: function (data) {
                if(data.length) {
                    console.log(data);
                    return data;

                    //$('.waiting--wrapper').hide();
                    //$('#calendar').css('opacity', 1);
                }
                else {
                    return false;
                }
            }*/
        })
        //return data;
    }

    function addCalendarEvents(data, calendar) {
        console.log("in calendar add");
        console.log(data);
        console.log(calendar);

    }



    function getSingleDep(user_id, calendar) {

        const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
        var page = 1;
        //$('.loading--background').show();
        var year = $('.currentMonthtoShow').data('currentyear');
        $('body').css('overflow', 'hidden');
        var letter = $('#lastNameFirstLetter').val();
        $('.department--wrapper').toggle();
        $('.dropdown--wrapper').hide();
        var month = $('.currentMonthtoShow').data('current');
        if(month) {
            console.log(month);
        }
        else {
            var d = new Date();
            var n = d.getMonth();
            month = n+1;
            console.log("eyooo month is " + month );
        }
        if(year) {
            console.log(year);
        }
        else {
            var x = new Date();
            var year = d.getFullYear();
            console.log("eyooo year is " + year );
        }

        $.ajax({
            type: 'POST',
            url: '/getSingleDepartment',
            data: {fromNew: true, department: "none", month: month, letter: letter, page: page, year: year, prev: 0, next: 0, user_id: user_id},
            success: function (data) {
                var html = '';
                console.log(data);
                $('.loading--background').hide();
                $('body').css('overflow', 'auto');
                var department = data.department;
                var month = data.month;
                var letter = data.letter;
                var employees = data.employees;
                var page = data.page;
                var year = data.year;
                var prev = data.prev;
                var next = data.next;
                var pages = data.pages;
                for(let i = 0; i < employees[0]['work'].length; i++) {
                    var item = employees[0]['work'][i];
                    if('date' in item) {
                        var element = item['date'];
                        if(element.length) {
                            for(let x = 0; x < item['date'].length; x++) {
                                calendar.addEvent(
                                    {
                                        title: item['date'][x]['status'],
                                        start: item['date'][x]['timestamp'],
                                        allDay: false
                                    }
                                );
                            }
                        }
                        else {
                            /*calendar.addEvent(
                                {
                                    title: item['date'][x]['status'],
                                    start: item['date'][x]['timestamp'],
                                    allDay: false
                                }
                            );*/
                        }
                    }
                }
                //renderFrontend(department, employees, month, letter, page, year, prev, next, pages);

            }
        });
    }
    $('.timetracker--body').on('click', '.text-break--hasBreak', function() {
        //console.log("hasBreak clicked");
        var window = $(this).next();
        $('.break--wrapper').hide();
        $('.break--wrapper').removeClass('is--visible');
        if(window.hasClass('is--visible')) {
            //console.log("in has class is visible");
            window.removeClass('is--visible');
            window.hide();
        }
        else {
            //console.log("in else is visible");
            window.show();
            window.addClass("is--visible");
        }
    });

    $('.timetracker--body').on('click', '.break--button-icon', function() {
        //console.log("hasBreak clicked");
        var window = $(this).closest().find('.break--wrapper');
        //console.log(window);
        $('.break--wrapper').hide();
        $('.break--wrapper').removeClass('is--visible');
        if(window.hasClass('is--visible')) {
            //console.log("in has class is visible");
            window.removeClass('is--visible');
            window.hide();
        }
        else {
            //console.log("in else is visible");
            targetButton = true;
            window.show();
            window.addClass("is--visible");
        }
    });

    $(document).on('click', function(e) {
        var item = $(e.target);
        /*if(!item.is($('.text-break--hasBreak')) && (!item.parent().hasClass('fa-coffee') && !item.hasClass('fa-coffee')) && !targetButton) {
            //console.log("document clicked");
            //console.log(item.hasClass('fa-coffee'));
            //console.log("in document in if");
            $('.break--wrapper').hide();
            $('.break--wrapper').removeClass('is--visible');
        }
        else {
            targetButton = false;
        }*/
        if(!item.is($('.emt--timestamp-tooltip')) && (!item.parent().hasClass('emt--work-entry')) && (!item.hasClass('emt--work-entry')) && !targetButton) {
            //console.log("document clicked");
            //console.log(item.hasClass('fa-coffee'));
            //console.log("in document in if");
            $('.emt--timestamp-tooltip').remove();
            /*$('.break--wrapper').hide();
            $('.break--wrapper').removeClass('is--visible');*/
        }
        else {
            targetButton = false;
        }
    })

    function renderMonthHeadline(month, year) {
        var out = "";
        var week = ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'];
        var daysOfMonth = function(month,year) {
            return new Date(year, month, 0).getDate();
        }

        //$ddate = date($year."-".$month."-01");
        var ddate = new Date(year, month-1, '01');
        var today = new Date();

        var iterations = ddate.getDay() - 1;
        if(iterations < 0) {
            iterations = 6;
        }
        var endDay = daysOfMonth(month, year);

        //console.log("iterations " + iterations);

        out += '<div class="month--headline-wrapper" data-year="0">';

        if(iterations > 1) {
            var blup = ddate;
            for (var i = iterations; i >= 1; i--) {
                if(i < iterations) {
                    blup.setDate(blup.getDate() + 1);
                }
                else {
                    blup.setDate(blup.getDate() - i);
                }
                var dateYo = ('0' + blup.getDate()).slice(-2);
                var monthYo = ('0' + (1 + blup.getMonth())).slice(-2);
                var dateName = dateYo + '.' + monthYo;
                var weekDayName = week[blup.getDay()];
                out += '<p class="currentMonth--text currentMonth--text-date">'+weekDayName+'</br>'+dateName+'</p>';
            }
        }
        else if(iterations == 1){
            var blup = ddate;
            blup.setDate(blup.getDate() - 1);
            var dateYo = ('0' + blup.getDate()).slice(-2);
            var monthYo = ('0' + (1 + blup.getMonth())).slice(-2);
            var dateName = dateYo + '.' + monthYo;
            var weekDayName = week[blup.getDay()];
            out += '<p class="currentMonth--text currentMonth--text-date">'+weekDayName+'</br>'+dateName+'</p>';
        }
        if(ddate.getDay() >= 1) {
            ddate.setDate(ddate.getDate()+1);
        }
        for(var p = 1; p <= endDay; p++) {
            var blup = ddate;
            var dateYo = ('0' + p).slice(-2);
            var monthYo = ('0' + (1 + ddate.getMonth())).slice(-2);
            var dateName = dateYo + '.' + monthYo;
            var weekDayName = week[blup.getDay()];
            out += '<p class="currentMonth--text currentMonth--text-date">'+weekDayName+'</br>'+dateName+'</p>';
            ddate.setDate(ddate.getDate() + 1);
        }

        out += '</div>';


        return out;
    }

    function renderFrontend(department = null, employs = null, month = null, letter = null, page = null, year = null, prev = null, next = null, pages = null) {
        const monthNames = ["Januar", "Februar", "März", "April", "Mai", "Juni",
            "Juli", "August", "September", "Oktober", "November", "Dezember"
        ];
        const dayNames = ["Sonntag", "Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Samstag"];
        //console.log("pages: " + pages);
        var outputEl = $('#outputDiv');

        var header = '<div class="currentMonth--wrapper-top">';
        header += '<p data-current="'+month+'" data-currentyear="'+year+'"  class="currentMonthtoShow">'+monthNames[(month-1)]+' - '+year+'</p>';
        header += '<p class="current--department" data-department="'+department+'"></p>';
        header += '</div>';
        var buttons = '<div class="timedisplay--btn-wrapper noPrint">';
        if(typeof pages != 'undefined') {
            if(page < pages) {
                //buttons += '<button class="timedisplay--btn btn-page--minus" onClick="loadPrev('+(page)+','+pages+')" data-week="next" data-week_value="'+(month)+'"><i class="fas fa-arrow-up"></i></button>';
            }
        }
        buttons += '<input id="currentPage" type="hidden" data-currentpage="'+page+'">';
        buttons += '<button class="timedisplay--btn btn-prev" data-week="prev"  onClick="prevMonthNew(&#39;'+department+'&#39;,'+pages+')" data-week_value="'+(parseInt(month) - 1)+'"><i class="fas fa-arrow-left"></i></button>';
        buttons += '<button class="timedisplay--btn btn-next" data-week="next"  onClick="nextMonthNew(&#39;'+department+'&#39;,'+pages+')" data-week_value="'+(parseInt(month) + 1)+'"><i class="fas fa-arrow-right"></i></button>';
        buttons += '</div>';
        var monthHeadline = renderMonthHeadline(month, year);
        //monthHeadline += '</div>';

        outputEl.addClass("departmentView");
        outputEl.empty();
        outputEl.append(header);
        outputEl.append(buttons);
        outputEl.append(monthHeadline);
        var user;
        for(var i = 0; i < employs.length; i++) {
            var employee = employs[i]['employee'];
            if(employee) {
                user = '<div class="currentMonth--wrapper">';
                user += '<div class="currentMonth--col-wrapper headcol--wrapper">';
                /*user += '<span class="headcol--text headcol--text-name">'+employee['first_name']+'</span>';
                user += '<span class="headcol--text headcol--text-name">'+employee['last_name']+'</span>';*/
                user += '<span class="headcol--text headcol--text-ist">IST</span>';
                user += '<span class="headcol--text headcol--text-break">PAUSE</span><span class="headcol--text headcol--text-soll">SOLL</span><span class="headcol--text">ÜBER</span><span class="headcol--text">Ges.</span>';
                user += '</div>';

                var work = employs[i]['work'];
                //console.log(work.length);
                var workString = '';
                for(var x = 0; x < work.length; x++) {
                    //console.log(work[x]);
                    if('soll' in work[x]) {
                        user += '<div class="currentMonth--col-wrapper currentMonth--col-sunday">';
                    }
                    else {
                        var dateArrayStuff = work[x]['date'];
                        /*if(dateArrayStuff.isArray) {
                            var isMontag = new Date(work[x]['date'][0]['timestamp']);
                        }
                        else {
                            var isMontag = new Date(work[x]['date']);
                        }*/
                        //console.log(typeof (work[x]['date']));
                        if(typeof (work[x]['date']) === 'string') {
                            var isMontag = new Date(work[x]['date']);
                        }
                        else {
                            if(typeof (work[x]['date']) === 'number') {
                                var isMontag = new Date(work[x]['date']);
                            }
                            else {
                                var isMontag = new Date(work[x]['date'][0]['timestamp']);
                            }
                        }
                        if(dayNames[isMontag.getDay()] == "Montag") {
                            user += '<div class="week--wrapper">';
                        }
                        user += '<div class="currentMonth--col-wrapper">';
                    }
                    if('holiday' in work[x]) {
                        var holiday = true;
                        user += '<p class="currentMonth--text currentMonth--text-ist">00:00</p>';
                        user += '<div class="currentMonth--text-break currentMonth--text text-break--hasBreak text--holiday"><i class="break--button-icon fas fa-calendar-day"></i></div>';
                        user += '<div class="break--wrapper">';
                        user += '<i class="fas fa-window-close break--close"></i>';
                        user += '<p class="break--entry">'+work[x]['work']+'</p>';
                        user += '</div>';
                    }
                    else {
                        var holiday = false;
                        user += '<p class="currentMonth--text currentMonth--text-ist">';
                        user += work[x]['work'];
                        user += '</p>';
                    }
                    if(work[x]['break']) {
                        if(work[x]['work'] == 'URL.') {
                            user += '<div class="currentMonth--text-break currentMonth--text text-break--hasVacation">';
                            user += '<i class="fas fa-umbrella-beach vacation--buton-icon"></i>';
                            user += '</div>';
                        }
                        else if(work[x]['work'] == 'KRNK') {
                            user += '<div class="currentMonth--text-break currentMonth--text text-break--hasSick">';
                            user += '<i class="fas fa-medkit vacation--buton-icon"></i>';
                            user += '</div>';
                        }
                        else {
                            user += '<div class="currentMonth--text-break currentMonth--text text-break--hasBreak">';
                            user += '<i class="break--button-icon fas fa-coffee"></i>';
                            user += '</div>';
                            user += '<div class="break--wrapper">';
                            user += '<i class="fas fa-window-close break--close"></i>';
                            for(var y = 0; y < work[x]['break'].length; y++) {
                                user += '<p class="break--entry ">';
                                var datetime = work[x]['break'][y]['time'];
                                if(typeof datetime === 'object' && typeof work[x]['break'][y]['time'].date !== null) {
                                    var d = new Date(Date.parse(datetime.date));
                                    var newDate = pad(d.getHours(),2) + ':'+pad(d.getMinutes(),2);
                                    user += newDate+ ' - ';
                                }
                                else {
                                    user += datetime + ' - ';
                                }
                                user += work[x]['break'][y]['status'];
                                user += '</p>';
                            }
                            user += '</div>';
                        }
                    }
                    else {
                        if(work[x]['work'] == 'URL.') {
                            user += '<div class="currentMonth--text-break currentMonth--text text-break--hasVacation">';
                            user += '<i class="fas fa-umbrella-beach vacation--buton-icon"></i>';
                            user += '</div>';
                        }
                        else if(work[x]['work'] == 'KRNK') {
                            user += '<div class="currentMonth--text-break currentMonth--text text-break--hasSick">';
                            user += '<i class="fas fa-medkit vacation--buton-icon"></i>';
                            user += '</div>';
                        }
                        else {
                            user += '<div class="currentMonth--text-break currentMonth--text">';
                            user += '</div>';
                        }
                    }
                    if('soll' in work[x]) {
                        user += '<p class="currentMonth--text-soll currentMonth--text">'+work[x]['soll']+'</p>';
                        user += '<p class="currentMonth--text currentMonth--text-'+work[x]['redgreen']+' currentMonth--text-über aha">'+work[x]['plusminus']+'</p>'
                        user += '<p class="currentMonth--text currentMonth--text-week  WEEKRESULT currentMonth--text-IST">'+work[x]['weekresult']+'</p>';
                    }
                    else {
                        user += '<p class="currentMonth--text-soll currentMonth--text"></p>';
                        if(!holiday) {
                            user += '<p class="currentMonth--text currentMonth--text--filler"></p>';
                        }
                    }
                    if('soll' in work[x]) {
                        user += '</div>';
                    }

                    user += '</div>';
                }
                user += '</div>';
                outputEl.append(user);
            }
        }
        var pageString = '';
        if(typeof pages != 'undefined') {
            if(page < pages) {
                //pageString = '<button class="timedisplay--btn btn-page--plus" onClick="loadNext('+(page)+','+pages+')" data-week="next" data-week_value="'+(month)+'"><i class="fas fa-arrow-down"></i></button>';
            }
        }
        outputEl.append(pageString);
    }

    function pad(num, size) {
        num = num.toString();
        while (num.length < size) num = "0" + num;
        return num;
    }
    function getDepartments() {
        console.log("get departments called in js");
        $('.department--wrapper').toggle();
        $('.dropdown--wrapper').hide();
        $.ajax({
            type: 'GET',
            url: '/getDepartments',
            success:function (data) {
                $('#departmentWrapper').empty();
                for(var i = 0; i < data.length; i++) {
                    var appender = '<div class="user--item-wrapper"><p style="cursor: pointer" class="user--item department--item" onclick="getSingleDep(&#39;'+data[i]+'&#39;)" data-department="'+data[i]+'" >'+data[i]+'</p></div>';
                    $('#departmentWrapper').append(appender);
                }
                //$('.fullOverTime--output').text(data);
            }
        });
    }

    function handleFullOvertime() {
        var userID = $('#user_id_selected').data('user_id');
        console.log(userID);

        $.ajax({
            type: 'POST',
            url: '/getFullOvertime',
            data: {id:userID},
            success:function (data) {
                console.log(data);
                $('.fullOverTime--output').text(data);
            }
        });
    }

    function jumpToCurrent() {
        var userID = $('#theUserID').data('userid');
        $.ajax({
            type:'POST',
            url:'/getEmployById',
            data:{id:userID},
            success:function(data){
                $('#outputDiv').empty().append(data);
            }
        });
    }

    function nextMonthNew(department, pages) {
        var user_id = $('#idForSingleCall').val();
        var month = $('.btn-next').data('week_value');
        var page = $('#currentPage').data('currentpage');
        var year = $('.currentMonthtoShow').data('currentyear');
        $('body').css('overflow', 'hidden');
        $('.loading--background').show();
        var letter = $('#lastNameFirstLetter').val();
        $.ajax({
            type: 'POST',
            url: '/getSingleDepartment',
            data: {fromNew: true, department: department, month: month, letter: letter, page: page, year: year, prev: false, next: true, pages: pages, user_id: user_id},
            success: function (data) {
                console.log(data);
                $('.loading--background').hide();
                $('body').css('overflow', 'auto');
                var department = data.department;
                var month = data.month;
                var letter = data.letter;
                var employees = data.employees;
                var page = data.page;
                var year = data.year;
                var prev = data.prev;
                var next = data.next;
                var pages = data.pages;
                renderFrontend(department, employees, month, letter, page, year, prev, next, pages);
                /*if(data !== 'FALSE') {
                    $('#outputDiv').addClass("departmentView");
                    $('#outputDiv').empty();
                    for(var i = 0; i < data.length; i++) {
                        $('#outputDiv').append(data[i]);
                    }
                    $('body').css('overflow', 'auto');
                    $('.loading--background').hide();
                }
                else {
                    alert("niemanden gefunden");
                    $('.loading--background').hide();
                    $('body').css('overflow', 'auto');
                }*/
            }
        });
    }


    function prevMonthNew(department, pages) {
        $('.loading--background').show();
        var user_id = $('#idForSingleCall').val();
        var page = $('#currentPage').data('currentpage');
        var year = $('.currentMonthtoShow').data('currentyear')
        $('body').css('overflow', 'hidden');
        var month = $('.btn-prev').data('week_value');
        var letter = $('#lastNameFirstLetter').val();
        $.ajax({
            type: 'POST',
            url: '/getSingleDepartment',
            data: {fromNew: true, department: department, month: month, letter: letter, page: page, year: year, prev: true, next: false, pages: pages, user_id: user_id},
            success: function (data) {
                console.log(data);
                $('.loading--background').hide();
                $('body').css('overflow', 'auto');
                var department = data.department;
                var month = data.month;
                var letter = data.letter;
                var employees = data.employees;
                var page = data.page;
                var year = data.year;
                var prev = data.prev;
                var next = data.next;
                var pages = data.pages;
                renderFrontend(department, employees, month, letter, page, year, prev, next, pages);
                /*if(data !== 'FALSE') {
                    $('#outputDiv').addClass("departmentView");
                    $('#outputDiv').empty();
                    for(var i = 0; i < data.length; i++) {
                        $('#outputDiv').append(data[i]);
                    }
                    $('.loading--background').hide();
                    $('body').css('overflow', 'auto');
                }
                else {
                    alert("niemanden gefunden");
                    $('.loading--background').hide();
                    $('body').css('overflow', 'auto');
                }*/
            }
        });
    }
</script>
