@use './variables.scss';
@use "@material/theme" with (
  $primary: #2491b5,
  $secondary: #a71680,
  $on-primary: #fff,
  $on-secondary: #fff,
  $surface: #fffbfa,
  $on-surface: #442C2E,
  $background: #FFFFFF,
);
//@use '@material/switch/styles';
@import "~material-components-web/material-components-web";
@import './mdtp.css';
@import './emt.scss';
@import './duDatepicker.css';


/*
.foo-button {
  @include button.container-fill-color(darksalmon);
}*/
/*:root {
  --mdc-theme-primary: $mdc-theme-primary;
  --mdc-theme-secondary: $mdc-theme-secondary;
  --mdc-theme-on-primary: $mdc-theme-on-primary;
  --mdc-theme-on-secondary: $mdc-theme-on-secondary;
}*/

$mdc-typography-styles-headline1: (
        font-family: unquote("Roboto"),
        font-size: 96
);
$mdc-typography-styles-headline2: (
        font-family: unquote("Roboto"),
        font-size: 60
);
$mdc-typography-styles-headline3: (
        font-family: unquote("Roboto"),
        font-size: 48
);
$mdc-typography-styles-headline4: (
        font-family: unquote("Roboto"),
        font-size: 34
);
$mdc-typography-styles-headline5: (
        font-family: unquote("Roboto"),
        font-size: 24
);
$mdc-typography-styles-headline6: (
        font-family: unquote("Roboto"),
        font-size: 20
);
$mdc-typography-styles-body1: (
        font-family: unquote("Roboto"),
        font-size: 16
);
$mdc-typography-styles-body2: (
        font-family: unquote("Roboto"),
        font-size: 14
);
$mdc-typography-styles-subtitle1: (
        font-family: unquote("Roboto"),
        font-size: 16
);
$mdc-typography-styles-subtitle2: (
        font-family: unquote("Roboto"),
        font-size: 14
);
$mdc-typography-styles-button: (
        font-family: unquote("Roboto"),
        font-size: 14
);
$mdc-typography-styles-overline: (
        font-family: unquote("Roboto"),
        font-size: 10
);
$mdc-typography-styles-caption: (
        font-family: unquote("Roboto"),
        font-size: 12
);
