@import "./variables";

body {
  display: flex;
  height: 100vh;
}

.loading-svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


#calendar {
  //opacity: 0;
}

.waiting--wrapper {
  position: relative;
  display: none;
  i {
    position: absolute;
    font-size: 13rem;
    left: 50%;
    top: 30px;
    transform: translate(-50%, 0);
  }
}

@media print {
  .stripe-loading-indicator {
    display: none !important;
  }
  html {
    height: auto !important;
  }
  @page {size: landscape}
  .noPrint{
    display:none !important;
  }
  body {
    transform: scale(.7) translate(-18%, -27%);
    .month--headline-wrapper {
      top: 53px !important;
    }
    height: auto !important;
  }
  .emt--wtf-wrapper {
    margin-bottom: 0 !important;
  }
}

.emt--body-wrapper .dcalendarpicker.dp__open .dudp__wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-height: 450px;
}

#outputDiv > * , .emt--wtf-wrapper > *, p, div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.c-datepicker, .c-datepicker > * {
  -webkit-box-sizing: unset !important;
  -moz-box-sizing: unset !important;
  box-sizing: unset !important;
}



$color-primary: #2491b5;
$color-secondary: #a71680;

.c-datepicker__toggle.c-datepicker__toggle--right.c-datepicker--show-time.js-show-clock {
  display: none;
}
.c-datepicker__toggle.c-datepicker__toggle--left.c-datepicker--show-calendar.js-show-calendar {
  display: none;
}
.c-datepicker__header-date__time.js-date-time {
  display: none;
}

.emt--select {
  &-wrapper {
    margin-bottom: 20px;
  }
}

.c-datepicker__header-date {
  background: #2491b5;
}

.c-datepicker__header-day {
  background: #2491b5;
}

.emt--body {
  &-wrapper {

  }
}

.emt--calculation {
  &-wrapper {
    margin: auto;
    max-width: 400px;
    width: 100%;
  }
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.timetracker--body > .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
  margin-left: 0;
}


.main-content {
  overflow: auto;
  height: 100vh;
}

#outputDiv .month--headline-wrapper {
  z-index: 1;
}

.app-bar {
  position: absolute;
}


.main-content, .timetracker--body.main-content {
  width: auto;
  padding-top: 56px;
}

// Only apply this style if below top app bar.
.mdc-top-app-bar {
  z-index: 7;
}

.mdc-top-app-bar__section {
  flex: unset;
}

.emt--time {
  &-container {
    width: 100%;
    padding: 0 20px;
    max-width: 1400px;
    margin: 0 auto;
    .mdc-button--outlined {
      border-color: #2491b5;
    }
  }
  &-copy {

  }
  &-output {
    padding: 0 150px;
  }
}

.emt--request {
  &-wrapper {
    .emt--list-item__graphic {
      min-width: 135px;
    }
  }
  &-tab_content.tab-content--active{
    max-width: 100%;
    margin: 0 auto;
  }
}

.vacation-tab .emt--list-item__graphic {
  top: 50%
}

.notification {
  &--wrapper {
    position: relative;
    margin-right: 20px;
  }
  &--icon {
    cursor: pointer;
    &:hover {
      color: $color-secondary;
    }
  }
  &--delete {
    &-button {
      background: transparent;
      border: none;
      color: white;
    }
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
  }
  &--clear {
    max-width: 180px;
    margin: 0 5px;
  }
  &--lead_button {
    color: white !important;
    border-color: white !important;
  }
  &--lead-wrapper {
    display: flex;
    padding: 0 20px;
  }
  &--badge.emt--badge {
    top: -12px;
    right: -8px;
    padding: 0 5px;
  }
  &--content {
    box-shadow: 0px -5px 20px -10px rgba(0,0,0,0.51);
    -webkit-box-shadow: 1px -5px 20px -10px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px -5px 20px -10px rgba(0,0,0,0.51);
    display: none;
    position: absolute;
    right: 10px;
    z-index: 10;
    top: 35px;
    background: $color-primary;
    color: black;
    min-width: 350px;
  }
  &--link {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  &--entry {
    &-wrapper {
      position: relative;
    }
    color: white;
    padding: 25px 1em;
    margin: 0;
    font-weight: bold;
    border-bottom: 1px solid;
    position: relative;
    .material-icons {
      position: absolute;
      font-size: 10px;
      top: 5px;
      left: 5px;
    }
    &:hover {
      background: #3c89a3;
    }
  }
  &--seen {
    font-weight: normal;
  }
}



.mdc-dialog_add, .mdc-dialog_correct {
  .c-datepicker__calendar {
    display: none;
  }
  .c-datepicker__clock {
    display: block !important;
  }
  .c-datepicker__header-date__time.js-date-time {
    display: block;
  }
  .mdc-button.c-datepicker-btn {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mdc-dialog_vacation {
  .mdc-dialog__surface, .mdc-dialog__content {
    overflow: unset !important;
  }
}

.tab-content {
  display: none;
}

#email_notification {
  --mdc-ripple-fg-size: 0 !important;
  --mdc-ripple-fg-scale: 0 !important;
  --mdc-ripple-left: 0 !important;
  --mdc-ripple-top: 0 !important;
}

.tab-content--active {
  max-width: 50%;
  margin: 60px auto 0 auto;
  display: block;
}

.emt-snackbar__surface {
  background: #a71680;
  .mdc-button.mdc-snackbar__action {
    color: white;
  }
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(1) {
  transform: rotate(0deg) translate(90px) rotate(-0deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(2) {
  transform: rotate(30deg) translate(90px) rotate(-30deg)
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(3) {
  transform: rotate(60deg) translate(90px) rotate(-60deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(4) {
  transform: rotate(90deg) translate(90px) rotate(-90deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(5) {
  transform: rotate(120deg) translate(90px) rotate(-120deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(6) {
  transform: rotate(150deg) translate(90px) rotate(-150deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(7) {
  transform: rotate(180deg) translate(90px) rotate(-180deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(8) {
  transform: rotate(210deg) translate(90px) rotate(-210deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(9) {
  transform: rotate(240deg) translate(90px) rotate(-240deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(10) {
  transform: rotate(270deg) translate(90px) rotate(-270deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(11) {
  transform: rotate(300deg) translate(90px) rotate(-300deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(12) {
  transform: rotate(330deg) translate(90px) rotate(-330deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(13) {
  transform: rotate(0deg) translate(130px) rotate(-0deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(14) {
  transform: rotate(30deg) translate(130px) rotate(-30deg)
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(15) {
  transform: rotate(60deg) translate(130px) rotate(-60deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(16) {
  transform: rotate(90deg) translate(130px) rotate(-90deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(17) {
  transform: rotate(120deg) translate(130px) rotate(-120deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(18) {
  transform: rotate(150deg) translate(130px) rotate(-150deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(19) {
  transform: rotate(180deg) translate(130px) rotate(-180deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(20) {
  transform: rotate(210deg) translate(130px) rotate(-210deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(21) {
  transform: rotate(240deg) translate(130px) rotate(-240deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(22) {
  transform: rotate(270deg) translate(130px) rotate(-270deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(23) {
  transform: rotate(300deg) translate(130px) rotate(-300deg);
}
.c-datepicker__clock .c-datepicker__clock__num:nth-of-type(24) {
  transform: rotate(330deg) translate(130px) rotate(-330deg);
}
.c-datepicker__clock::before {
  top: 50px;
  left: -40px;
  width: 280px;
  height: 280px;
}
.mdc-dialog .mdc-dialog__content {
  padding: 0px 24px 20px 24px;
}
.c-datepicker-btn {
  max-width: unset !important;
  padding: 0 50px;
}
.c-datepicker__clock__am-pm-toggle {
  display: none;
}

.emt--vacation_list-third {
  flex-direction: column;
}

.emt--list {
  &-wrapper_head {
    display: flex;
    .emt--list-button {
      margin: auto 0 auto auto;
    }
    .emt--list-header {
      white-space: normal;
    }
  }
  &-header_WORK {
    margin: auto;
    text-align: center;
  }
  &-summary {
    .emt--worktime-work {
      font-size: 2rem;
      white-space: normal;
    }
    .emt--worktime-break {
      font-size: 1.75rem;
      white-space: normal;
    }
  }
  &-toolate {
    &:first-of-type {
      border-top: 1px solid lightgrey;
    }
    border-bottom: 1px solid lightgrey;
  }
  &-button_container {
    display: flex;
    margin-right: auto;
    p {
      margin: 1em;
    }
  }
  &-sick_text1 {
    font-size: 1.5rem;
  }
  &-sick_text2 {
    font-size: 1.5rem;
  }
  &-item_leader {
    .emt--list-item__graphic {
      min-width: 205px;
    }
  }
  .emt--leadicon-text {
    margin-left: 30px;
    width: auto;
    padding-top: 25px;
    position: relative;
  }
  &-note {
    display: flex;
    border: #f3f3f3 1px solid;
    padding: 5px 10px;
    width: auto;
    border-radius: 5px;
  }
  .lead--icon-wrap {
    position: absolute;
    height: 100%;
    left: -60px;
    i {
      color: lightgrey;
      font-size: 40px;
      position: relative;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &-item {
    padding: 30px;
  }
  &-item__third-text {
    display: flex;
    margin-top: 5px;
  }
  &-item:hover {
    background: none;
  }
  &-header {
    font-size: 1.25rem;
  }
  &-button:hover {
    border-color: #859ca3;
    background: #2491b5;
    color: white;
    i {
      color: #fff;
    }
  }
  &-item__graphic {
    position: absolute;
    right: 0;
    z-index: 10;
    margin-left: auto;
    display: flex;
    min-width: 290px;
    justify-content: space-between;
    &-mobile {
      display: none;
    }
  }
}
.emt--mobile-list_third_part {
  display: flex;
  flex-direction: row;
}

.emt--header- {
  &image {
    max-width: 15%;
  }
  &container {
    //margin-top: 100px;
  }
  &container .mdc-top-app-bar {
    position: absolute;
  }
  &wrapper {
    top: 0;
    left: 0;
  }
  &aside {
    top: 0;
    left: 0;
  }
}
.emt--login {
  &-logout {
    width: 50%;
    margin: 100px auto;
    flex-direction: column;
    display: flex;
  }
  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &-label {
    margin-bottom: 20px;
  }
  &-button {
    max-width: 300px;
  }
  &-wrapper {
    text-align: center;
  }
}
.emt--list-old {
  color: darkgrey;
}
.currentstate--wrapper {
  position: relative;
  height: auto;
}

.currentstate--text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.emt--link {
  &-none {
    text-decoration: none;
    color: white;
  }
}

.primary-text--mobile {
  display: none;
}

.emt--vacationplan-select {
  max-width: 210px;
}


.vacationplan--wrapper {
  width: 60%;
  height: auto;
  position: relative;
  #vacationforever {
    //position: fixed;
    min-width: 700px;
    min-height: 700px;
  }
}

#lastNameFirstLetter {
  font-size: 1.35rem;
  max-width: 300px;
}

.text-break--hasVacation {
  background: lightseagreen;
}

.text-break--hasSick {
  background: lightpink;
}

.currentMonth--wrapper-top p.currentMonthtoShow{
  font-size: 1.5rem;
  font-weight: 500;
}

.vacation--buton-icon {
  display: block;
  margin: auto;
  margin-top: 4px;
}

.help {
  &--wrapper {
    &-column {
      display: flex;
      flex-direction: column;
    }
    &-row {
      display: flex;
      flex-direction: row;
    }
  }
}

.fc .fc-scroller-liquid-absolute, .fc .fc-scroller-harness {
  overflow: unset !important;
}

.emt {
  &--work-entry {
    cursor: pointer;
  }
  &--timestamp-tooltip, &--plan-tooltip {
    .close--icon {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
    }
    top: 20px;
    left: 20px;
    min-width: 310px;
    padding: 20px;
    z-index: 7;
    background: white;
    border: 1px solid #ddd;
    position: absolute;
  }
  &--timestamp-tooltip_soll {
    min-width: 200px;
  }
  &--plan-tooltip-hover {
    bottom: 34px;
    left: 20px;
    width: auto;
    padding: 10px;
    z-index: 7;
    position: absolute;
    color: white;
    background: #a71680;
    .emt--timestamp-entry {
      margin: 0;
    }
    &:after {
      content:'';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0;
      height: 0;
      border-top: solid 5px #a71680;
      border-left: solid 5px transparent;
      border-right: solid 5px transparent;
    }
  }
  &--plan {
    &-entry_vacation {
      .fc-event-title:before {
        font-family: "Material Icons";
        content: '\eb3e';
        font-size: 20px;
        font-weight: normal;
      }
    }
    &-entry_sick {
      .fc-event-title:before {
        font-family: "Material Icons";
        content: '\e3f3';
        font-size: 20px;
        font-weight: normal;
      }
    }
  }
  &--work {
    &-entry_calculated {
      .fc-event-time {
        display: none;
      }
    }
    &-entry_correction {
      .fc-daygrid-event-dot {
        border-color: indianred;
      }
      .fc-event-time {
        display: none;
      }
    }
    &-entry_vacation {
      .fc-event-time {
        display: none;
      }
      .fc-event-title:after {
        font-family: "Material Icons";
        content: '\eb3e';
        font-size: 30px;
        font-weight: normal;
      }
      .fc-daygrid-event-dot {
        opacity: 0;
      }
    }
    &-entry_sick {
      .fc-daygrid-event-dot {
        opacity: 0;
      }
      .fc-event-time {
         display: none;
      }
      .fc-event-title:after {
        font-family: "Material Icons";
        content: '\e3f3';
        font-size: 30px;
        font-weight: normal;
      }
    }
    &-timestamp_toolate {
      .fc-event-title:after {
        font-family: "Material Icons";
        content: '\e645';
        font-size: 20px;
        vertical-align: bottom;
        color: red;
        font-weight: normal;
      }
    }
    &-timestamp_coming {
      .fc-daygrid-event-dot {
        border-color: palegreen;
      }
    }
    &-timestamp_leaving {
      .fc-daygrid-event-dot {
        border-color: indianred;
      }
    }
  }
  &--internalcorrection {
    &-wrapper {
      display: flex;
      margin-top: 100px;
      max-width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
    &-person {
      position: relative;
      i {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
      }
      p {
        margin-left: 30px;
      }
    }
    &-form {
      display: flex;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      flex-direction: column;
    }
    &-entryform {
      padding: 10px 10px 0 10px;
      border: 1px solid #ddd;
      &:hover {
        background: #eee;
      }
      .emt--internalcorrection-text {
        margin: 0 0 10px 0;
      }
    }
    &-delete {
      i.delete--correction-icon {
        margin-left: 0;
        margin-right: 0;
        height: unset;
        width: unset;
        font-size: 2rem;
      }
      margin: 0;
      padding: 0;
      min-width: unset;
    }
    &-buttonwrapper {

    }
  }
  &--totaltime {
    &-negative {
      padding: 1px 5px;
      background-color: lightcoral;
    }
    &-positive {
      padding: 1px 5px;
      background-color: lightgreen;
    }
  }
  &--capacity {
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    &-headwrapper {
      width: 50%;
      justify-content: space-between;
    }
    &-card {
      width: 200px;
      min-height: 130px;
      padding: 5px 20px;
      margin: 5px;
    }
    &-vacation_icon, &-sick_icon, &-unavailable_icon, &-available_icon {
      font-size: 2rem;
      color: white;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
    &-vacation {
      background: lightseagreen;
    }
    &-sick {
      background: lightpink;
    }
    &-text_name {
      font-weight: bold;
      margin-bottom: 1px;
    }
    &-text2 {
      margin-top: 10px;
      font-size: 1.2rem;
    }
    &-available {
      background: lightgreen;
    }
    &-unavailable {
      background: lightcoral;
    }
    &-times {
      margin-top: 5px;
      margin-left: 5px;
    }
  }
  &--vacation {
    &-output_wrapper {
      .month--headline-wrapper {
        top: unset;
      }
      .departmentView .currentMonth--col-wrapper {
        margin-top: 54px;
      }
      .departmentView .headcol--wrapper {
         margin-top: 0;
      }
    }
  }
  &--body-wrapper {
    display: flex;
    flex-direction: column;
  }
  &--wtf {
    &-wrapper {
      display: flex;
      margin-bottom: 100px;
      width: 100%;
      flex-direction: column;
      .currentMonth--wrapper div:last-child p {
        border-right: solid 1px;
      }
      .week--wrapper:last-of-type {
        .currentMonth--col-wrapper:last-child p, .currentMonth--col-wrapper:last-child div{
          border-right: none;
        }
      }
      .currentMonth--col-wrapper:last-of-type {
        border-right: 1px solid !important;
      }
      .currentMonth--col-sunday p{
        border-right: none !important;
      }
      .currentMonth--text.currentMonth--text-date:first-of-type {
        border-left: 1px solid;
      }
      .currentMonth--wrapper .currentMonth--col-wrapper.headcol--wrapper {
        border-right: 1px solid;
      }
      .currentMonth--col-sunday .currentMonth--text-break.currentMonth--text {
        border-right: none;
      }
      .week--wrapper .currentMonth--col-wrapper:first-child {
        border-right: none;
      }
      .week--wrapper {
        display: inline-flex;
        border: none !important;
      }
      .currentMonth--wrapper {
        justify-content: center;
      }
      .currentMonth--col-wrapper.headcol--wrapper > span {
        border-left: 1px solid;
      }
      .month--headline-wrapper {
        top: 136px;
        left: calc(50% + 50px);
        transform: translateX(-50%);
      }
      .timedisplay--btn.btn-next {
        right: 20px;
      }
      .timedisplay--btn.btn-prev {
        left: 20px;
      }
      .timedisplay--btn-wrapper {
        position: relative;
        min-height: 69px;
      }
      .timedisplay--btn {
        position: absolute;
      }
      .departmentView .currentMonth--text , .departmentView .currentMonth--text.currentMonth--text-date {
        min-width: 45px;
        padding: 0 1px;
      }
      .departmentView .currentMonth--text {
        margin: 0;
      }
      .departmentView .currentMonth--col-wrapper {
        margin-top: 53px;
      }
      div.currentMonth--col-wrapper.headcol--wrapper {
        margin-top: 50px;
        border-top: 0;
      }
    }
  }
  &--homeoffice {
    &-wrapper {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
    }
    &-headline {
      width: 50%;
      text-align: center;
      margin: 100px auto 35px auto;
    }
    &-button {
      min-width: 160px;
    }
  }
  &--badge {
    position: absolute;
    top: 2px;
    right: 55px;
    padding: 0 7.45px;
    border-radius: 50%;
    background: #a71680;
    color: white;
  }
  &--nav-list_item {
    padding: 16px;
  }
  &--color {
    &-grey {
      color: grey;
    }
  }
  &--headline {
    &-3 {
      font-weight: normal;
    }
    &-4 {
      margin: 0;
    }
    &-5 {
      margin: 0;
    }
  }
  &--divider {
    margin: 10px 0;
  }
  &--vacation {
    &-wrapper {
      margin-bottom: 50px;
      padding: 20px;
      &:nth-child(even) {
        background: #f3f3f3;
      }
    }
  }
  &--timepicker {
    &-wrapper {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 20px;
    }
  }

  &--lead_button {
    &-hide {
      margin-left: auto;
    }
    &-hideAll {
      margin-left: auto;
      display: flex;
    }
    &-accept, &-accept_vacation {
      &:hover {
        background: lightgreen;
        i {
          color: white;
        }
      }
      background-color: white;
      border-color: lightgreen !important;
      i {
        color: lightgreen;
      }
    }
    &-deny {
      &:hover {
        background: lightcoral;
        i {
          color: white;
        }
      }
      background-color: white;
      border-color: lightcoral !important;
      i {
        color: lightcoral;
      }
    }
  }
  &--button {
    &-delete {
      color: lightcoral !important;
      &:hover {
        background: lightcoral;
        color: white !important;
      }
      border-color: lightcoral !important;
      i {
        color: lightcoral;
      }
    }
  }
  &--icon-decline {
    color: red;
  }
  &--icon-accept {
    color: green;
  }
}

.logout {
  &--desktop > .emt--login-button{
    background-color: $color-secondary;
  }
  &--mobile {
    display: none;
  }
}

.profile {
  &--icon {
    color: $color-secondary;
  }
  &--entry {
    &-box {
      display: flex;
      margin: auto;
      justify-content: center;
    }
    &-container {
      margin-bottom: auto;
    }
    &-button {
      .mdc-switch {
        cursor: pointer;
      }
      min-width: 50px;
    }
    &-row {
      .mdc-switch.mdc-switch--unselected:enabled .mdc-switch__handle::after {
        background: $color-secondary !important;
      }
      .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
        background: $color-secondary !important;
      }
      padding: 20px 0;
      max-width: 500px;
      margin: auto;
      display: flex;
      justify-content: flex-start;
    }
    &-half {
      width: 60%;
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      margin: auto 0;
    }
  }
}
.punctually {
  &--timeitem {
    &-wrapper {
      display: none;
    }
    &-entry {

    }
  }
  &--icon-close  {
    display: none;
  }
}
.emt--list {
  &-note {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 1050px) {
  .emt--list-wrapper_head {
    flex-direction: column;
    .emt--list-button {
      margin: 0 0 20px 0;
    }
  }
  .emt--time {
    &-output {
      padding: 0;
    }
  }
  .emt {
    &--wtf {
      &-wrapper {
        display: none;
      }
    }
    &--nav-list_item {
      i {
        font-size: 26px;
        margin-right: 20px;
      }
      border-bottom: 1px solid lightgrey;
      font-size: 30px;
      padding: 10px 16px;
      &:first-of-type {
        border-top: 1px solid lightgrey;
      }
    }
  }

  .emt--request {
    &-wrapper {
      .emt--list-item__graphic {
        min-width: unset;
      }
    }
  }

  .emt--list {
    &-button {
      padding: 5px;
      min-width: 40px;
      margin-left: 5px;
    }
    &-item__graphic {
      &-mobile {
        display: flex;
        right: 0;
        position: absolute;
      }
      &-desktop {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .mdc-tab {
    padding-right: 12px;
    padding-left: 12px;
  }
  .emt--time {
    &-container {
      padding: 0 5px;
      width: calc(100% - 10px);
    }
  }
  .profile {
    &--entry {
      &-row {
        padding: 20px 0;
        display: flex;
        justify-content: space-evenly;
      }
      &-half {
        width: 50%;
      }
      &-wrapper {

      }
    }
    &--icon {
      font-size: 50px;
    }
  }
  .tab-content--active {
    .mdc-list-item__secondary-text {
      white-space: normal;
    }
    max-width: 100%;
  }
  .notification {
    &--lead_button {
      &-long {
        font-size: 10px;
      }
    }
    &--content {
      right: -10px;
      min-width: 300px;
    }
  }
  .emt-top-app-bar--mobile {
    display: block;
  }
  .hide-on-small {
    display: none;
  }
  .logout {
    &--mobile {
      display: block;
    }
  }
  .primary-text--mobile {
    display: block;
  }
  .emt--login {
    &-logout {
      width: 100%;
      padding: 20px;
    }
    &-form {
      display: flex;
      flex-direction: column;
    }
    &-label, &-button {
      margin-top: 5px;
    }
  }
  .emt--time {
    &-output {
      padding: 0;
    }
  }
  .emt {
    &--headline {
      &-4 {
        font-size: 1.65rem;
      }
    }
    &--badge {
      right: 5px;
      padding: 2px 7px;
    }
    &--homeoffice {
      &-wrapper {
        width: 100%;
      }
      &-headline {
        width: 100%;
      }
    }
  }
  .emt--list {
    .lead--icon-wrap {
      display: none;
    }
    .emt--leadicon-text {
      margin-left: 0;
    }
    &-item {
      padding: 50px 10px;
    }
    &-divider {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &-header {

    }
    &-item__third-text {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}