.singleemp--content .action--btn {
    padding: 20px;
    font-size: 2rem;
    border-radius: 3px;
    border: 1px solid #0b0e07;
    min-width: 165px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

.month--seperator {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.singleemp--monthName {
    text-align: center;
    font-size: 2rem;
    color: black;
}

.singleemp--searchwrapper {
    display: none;
    margin: 30px auto;
    max-width: 85%;
}

#searchInput {
    margin-right: auto;
    display: block;
}

#timetrackingOutput {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.singleemp--headline-1 {
    text-align: center;
}

.singleemp--btn-sendldap {
    width: 70px;
}

.singleemp--textinput {
    width: 100%;
    max-height: 52px;
}

.singleemp--wrapper-2 {
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: space-evenly;
}

.singleemp--wrapper-1 {
    display: flex;
    flex-direction: column;
}

.singleemp--wrapper-3 {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-right: 10px;
}

.singleemp--wrapper-4 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

#singleempOutput {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    max-width: 85%;
}

.singleemp--wrapper {
    margin-bottom: 50px;
}

.singleemp--item-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
    min-width: 120px;
    cursor: pointer;
    position: relative;
}

.singleemp--item-wrapper:nth-child(even) {
    background: lightcyan;
}

.singleemp--item-wrapper:nth-child(odd) {
    background: lightblue;
}

.singleemp--item-wrapper:hover {
    background: lightskyblue;
}

.singleemp--close {
    position: absolute;
    right: 20px;
}

.singleemp--close:hover {
    color: lightgrey;
}

.singleemp--item-innerWrapper {
    position: absolute;
    z-index: 1;
    background: lightcyan;
    min-width: 300px;
    padding: 20px;
    text-align: left;
    display: none;
}

.btn--logout {
    display: block;
    min-height: 54px;
    position: absolute;
    top: 5px;
    right: 5px;
}

@media only screen and (max-width: 600px) {
    .singleemp--wrapper-2 {
        flex-direction: column;
        width: 90%;
    }
    .singleemp--wrapper-3 {
        display: block;
        width: 100%;
        max-width: 100%;
    }
    .singleemp--wrapper-4 {
        margin-top: 10px;
    }
    .action--wrapper {
        flex-direction: column;
    }
    .action--btn {
        margin: 10px 0;
    }
    .singleemp--searchwrapper {
        max-width: 90%;
    }
    #searchInput {
        width: 100%;
    }
    #singleempOutput {
        max-width: unset;
    }
    .month--seperator {
        margin-bottom: 190px;
        justify-content: center;
    }
    .singleemp--item-wrapper {
        position: unset;
    }
    .singleemp--item-innerWrapper {
        left: 0;
        width: 70%;
    }
}

@media only screen and (max-width: 374px) {
    .month--seperator {
        margin-bottom: 270px;
    }
}