.register{
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #2491b5;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.job-boxes{
    width: 50%;
}
.job-radio{
    width: auto!important;
    margin-right: 30px!important;
}
.description-text{
    margin-top: 30px;
}
.save-button{
    margin-bottom: 30px;
    margin-top: 30px;
    color: white;
    background-color: #2491b5;
    border-style: none;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;

}
.component-frame{
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #2491b5;
    padding: 30px;
    margin: 30px;
}
.presence-list{
    columns: 2!important;
    -webkit-columns: 2!important;
    -moz-columns: 2!important;
}