html {
    width: 100%;
}

.loggedIn--wrapper {
    display: none;
}

.insert--time-button {
    position: absolute;
    right: 10px;
}

.hidden--stuff {
    display: none;
}

.time--entry-icon {
    position: absolute;
    right: 5px;
    top: 0;
    width: 40px;
    font-size: 2.5rem;
    cursor: pointer;
}

.time--entry-icon svg{
    vertical-align: unset !important;
}

.time--entry-icon:hover {
    color: lightblue;
}

.time--entry-row {
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto;
    position: relative;
    text-align: center;
}

.time--entry-row:hover {
    background: lightseagreen;
}

.correction--inner-wrapper {
    display: flex;
    flex-direction: column;
}

.correction--inner-wrapper label {
    margin-bottom: 0;
}

.correction--inner-wrapper .correction--input {
    margin-bottom: 30px;
}

.correction--insert-wrapper {
    width: 50%;
    margin-left: 30.4%;
}

.correction--insert-input::-webkit-outer-spin-button,
.correction--insert-input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

.correction--insert-input {
    -moz-appearance: textfield;
    text-align: right;
    height: 30px;
    max-width: 30px;
    margin: 0;
}

.search--result-output {
    padding: 10px 0 10px 0;
    width: 50%;
    margin: auto;
    margin-bottom: 25px;
}

.bordered {
    border: 1px solid;
}

.time--entry {
    margin: 0;
    text-align: left;
    min-width: 110px;
    font-size: 22px;
}

.correction--wrapper {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.correction--input {
    margin-right: 30px;
    height: 30px;
}

#corrDate {
    margin-left: 5px;
}

#correction {
    padding: 5px 20px;
    margin-left: 20px;
}

.helper--number {
    margin: 0 auto;
    width: 50%;
}

#getDataOfDay {
    padding: 0 20px;
    max-height: 55px;
}

.btn--frontend {
    background: lightblue;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    width: auto;
    display: inline;
    padding: 20px;
    border: none;
}


.loading--background {
    z-index: 500;
    display: none;
    position: fixed;
    width: 100%;
    background: #f1f2f3;
    height: 100vh;
}

.loading--background > .loading-svg {
    width: 100%;
   /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    display: block;
}

/*
 * This is a sample StyleSheet file used by TimeDisplay
 *
 * You can delete this file if you want
 */
.timedisplay--wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.timedisplay--wrapper h4 {
    height: 38px;
}

.timedisplay--graph {
    height: auto;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.department--outer-wrapper {
    display: inline;
}

.departmentView {
    position: relative;
}

.lastName-select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    border: none;
}

.department:hover, .lastName-select:hover, .btn--frontend:hover {
    background: lightseagreen;
}

.dropdown--headline, .department, .lastName-select {
    background: lightblue;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    width: auto;
    display: inline;
    padding: 20px;
}

.dropdown--wrapper, .department--wrapper {
    display: none;
    z-index: 20;
    position: absolute;
    width: 100%;
    padding: 20px;
    background: lightblue;
}

.user--item-wrapper {
    padding: 10px 0;
}

.user--item {
    display: inline;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.user--item:hover {
    background: lightseagreen;
}

.timedisplay--outer-wrapper {
    display: flex;
    padding-bottom: 50px;
}

#statusSelect {
    height: 30px;
}

.timedisplay--stats-wrapper p,  .timedisplay--stats-wrapper details{
    padding: 0 0 5px;
    margin: 0;
    border-bottom: 1px solid;
    border-top: none;
}

.timedisplay--break-sum {
    border-bottom: none !important;
}

.timedisplay--stats-wrapper {
    /*border-left: 1px solid;*/
    border-right: 1px solid;
    border-bottom: 1px solid;
    min-height: 210px;
}

.timedisplay--wrapper .timedisplay--day-wrapper:first-of-type .timedisplay--stats-wrapper {
    border-left: 1px solid;
}


p.timedisplay--break:last-child {
    border-bottom: none;
}

.timedisplay--stats-wrapper p.timedisplay--break {
    border-left: none;
    border-right: none;
}

.public--holiday {
    height: 20px;
}

.timedisplay--header-wrapper {
    display: flex;
    flex-direction: column;
}

.specifictime--wrapper {
    margin: auto;
}

div.timedisplay--day-wrapper.has--holiday div.timedisplay--hour, .timedisplay--day-wrapper.has--holiday div.timedisplay--hour:nth-child(even).start--time,
.timedisplay--day-wrapper.has--holiday div.timedisplay--hour:nth-child(even).end--time-started {
    background: lightyellow;
}

div.timedisplay--day-wrapper.has--sick div.timedisplay--hour, .timedisplay--day-wrapper.has--sick div.timedisplay--hour:nth-child(even).start--time,
.timedisplay--day-wrapper.has--sick div.timedisplay--hour:nth-child(even).end--time-started {
    background: lightcoral;
}

div.timedisplay--hour.timedisplay--hour-work, div.timedisplay--hour.end--time {
    background: lightgreen;
}

div.timedisplay--hour.start--time.full-Hour {
    background: lightgreen;
}

div.timedisplay--hour.start--time.full-Hour--nothing {
    background: lightblue;
}
div.timedisplay--hour:nth-child(even).start--time.full-Hour--nothing {
    background: lightcyan;
}

div.timedisplay--hour.start--time.three-quart-Hour {
    background: linear-gradient(180deg, lightblue 75%, lightgreen 25%);
}
div.timedisplay--hour.start--time.half-Hour {
    background: linear-gradient(180deg, lightblue 50%, lightgreen 50%);
}
div.timedisplay--hour.start--time.one-quart-Hour {
    background: linear-gradient(180deg, lightblue 0%, lightblue 25%, lightgreen 25%, lightgreen 100%);
}

div.timedisplay--hour:nth-child(even).start--time.full-Hour {
    background: lightgreen;
}
div.timedisplay--hour:nth-child(even).start--time.three-quart-Hour {
    background: linear-gradient(180deg, lightcyan 75%, lightgreen 25%);
}
div.timedisplay--hour:nth-child(even).start--time.half-Hour {
    background: linear-gradient(180deg, lightcyan 50%, lightgreen 50%);
}
div.timedisplay--hour:nth-child(even).start--time.one-quart-Hour {
    background: linear-gradient(180deg, lightcyan 0%, lightcyan 25%, lightgreen 25%, lightgreen 100%);
}



div.timedisplay--hour.end--time-started.full-Hour {
    background: linear-gradient(180deg, lightgreen 75%, lightblue 25%);
}
div.timedisplay--hour.end--time-started.three-quart-Hour {
    background: linear-gradient(180deg, lightgreen 50%, lightblue 50%);
}
div.timedisplay--hour.end--time-started.half-Hour {
    background: linear-gradient(180deg, lightgreen 0%, lightgreen 25%, lightblue 25%, lightblue 100%);
}
div.timedisplay--hour.end--time-started.one-quart-Hour {
    background: linear-gradient(180deg, lightgreen 0%, lightgreen 25%, lightblue 25%, lightblue 100%);
}

div.timedisplay--hour:nth-child(even).end--time-started.full-Hour {
    background: linear-gradient(180deg, lightgreen 75%, lightcyan 25%);
}
div.timedisplay--hour:nth-child(even).end--time-started.three-quart-Hour {
    background: linear-gradient(180deg, lightgreen 50%, lightcyan 50%);
}
div.timedisplay--hour:nth-child(even).end--time-started.half-Hour {
    background: linear-gradient(180deg, lightgreen 0%, lightgreen 25%, lightblue 25%, lightblue 100%);
}
div.timedisplay--hour:nth-child(even).end--time-started.one-quart-Hour {
    background: linear-gradient(180deg, lightgreen 0%, lightgreen 25%, lightcyan 25%, lightcyan 100%);
}




.timedisplay--wrapper .timedisplay--day-wrapper:first-of-type .timedisplay--graph{
    border-left: 1px solid;
}

.timedisplay--btn {
    padding: 25px;
    margin: auto 0;
}
.timedisplay--btn.btn-next {
    margin-left: 5px;
}
.timedisplay--btn.btn-prev {
    margin-right: 5px;
}


.timedisplay--day-wrapper {
    width: 100%;
}

#overTimeFull {
    background: lightgrey;
    padding: 5px;
    cursor: pointer;
}

#outputDiv {
    margin-top: 20px;
}

.currentMonth--nav-wrapper {
    text-align: center;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 20px;
}
.currentMonth--nav-item {
    margin: 0 50px;
}

.headcol--name {

}

.currentMonth--text {
    margin-bottom: 0;
}

.timedisplay--hour {
    height: 15px;
    font-size: 10px;
}
.timedisplay--hour {
    padding-left: 10px;
    border-bottom: 1px solid;
    background: lightblue;
}

.currentMonth--wrapper {
    margin-top: 20px;
}

.departmentView .currentMonth--col-wrapper {
    margin-top: 50px;
}

.departmentView .headcol--wrapper {
    margin-top: 0;
}

.currentMonth--wrapper .headcol--wrapper {
    min-width: 100px;
    max-width: 100px;
}

.currentMonth--col-wrapper:first-child {
    border-top: 1px solid;
}

.departmentView .currentMonth--col-wrapper:first-child {
    border-right: 1px solid;
}

.currentMonth--wrapper div:last-child p {
    border-right: none;
}

.currentMonthtoShow,
.current--department {
    margin: 0;
}

.currentMonth--wrapper-top {
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.timedisplay--btn-wrapper {
    display: flex;
}

.timedisplay--btn.btn-next {
    margin-left: auto;
}

.month--headline-wrapper {
    display: flex;
    position: absolute;
    z-index: 10;
    top: 142px;
    background: lightblue;
    left: 100px;
}

.calculate-form--wrapper {
    position: absolute;
    top: 0;
}

.calculate-form--wrapper button {
    background: lightblue;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    width: auto;
    display: inline;
    padding: 20px;
    border: none;
}

.month--headline-wrapper.sticky {
    position: fixed;
    top: 0;
}

.departmentView .currentMonth--text {
    min-width: 53px;
    min-height: 25px;
}

.currentMonth--text-negative {
    background: lightcoral;
}

.currentMonth--text-positive {
    background: lightgreen;
}

.departmentView p{
    font-size: 14px;
}

.currentMonth--text--filler {
    border-right: none !important;
}

.departmentView .currentMonth--text.currentMonth--text-date {
    min-width: 50px;
}


.departmentView p.currentMonth--text-week {
    border-bottom: none;
}

.currentMonth--wrapper div:last-child {
    border-right: 1px solid black;
}

.departmentView .currentMonth--text-ist {
    margin-left: 0;
}

.departmentView .currentMonth--wrapper {
    display: flex;
    flex-direction: row;
}

.departmentView .currentMonth--col-wrapper{
    flex-direction: column;
}

.currentMonth--col-wrapper {
    display: flex;
    position: relative;
    padding: 0;
    border-bottom: 1px solid;
    border-top: 1px solid black;
}

.departmentView .currentMonth--text-date,.departmentView .currentMonth--text-ist,.departmentView .headcol--text-ist,.departmentView .headcol--text-soll,.departmentView .currentMonth--text-soll, .currentMonth--text {
    min-width: 50px;
    min-height: 25px;
    margin: 0;
}

.departmentView .currentMonth--text-date {
    border-top: 1px solid;
}

.currentMonth--col-sunday .currentMonth--text-ist, .currentMonth--col-sunday .currentMonth--text-soll {
    min-height: 25px;
}

.currentMonth--col-sunday {
    max-width: 50px;
}

.departmentView .text-break--hasBreak.text--holiday {
    background: #ffeb3b;
}

.headcol--text-name {
    word-break: break-all;
}

.departmentView .currentMonth--text {
    border-bottom: 1px solid;
    padding: 0 5px;

    min-width: 50px;
    border-right: 1px solid;
}


.currentMonth--text-date, .currentMonth--text-ist, .headcol--text-ist, .headcol--text-soll, .currentMonth--text-soll {
    min-width: 100px;
}
.headcol--text {
    font-size: 14px;
}

.break--button-icon {
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    display: block;
    margin:auto;
    margin-top: 4px;
}

.currentMonth--text-break {
    position: relative;
}

.break--close {
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    display: block;
}


.text-break--hasBreak {
    background: #00b3ee;
    cursor: pointer;
}

.break--wrapper {
    background: lightblue;
    padding: 10px;
    z-index: 10;
    border: none !important;
    min-width: 240px;
    top: 49px;
    display: none;
    position: absolute;
}

span.headcol--text {
    min-height: 25px;
    text-indent: 5px;
}

.negative--work {
    color: red;
}

.positive--work {
    color: green;
}

.headcol--text-ist {
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin-left: 200px;
}

.headcol--text-soll, .headcol--text-break  {

    border-bottom: 1px solid;
}

.currentMonth--text-ist {
    margin-left: 50px;
}

.timedisplay--hour:last-child {
    border-bottom: none;
}

.timedisplay--hour:nth-child(even) {
    background: lightcyan;
}




.timetracker--body {
    padding-top: 10px;
}

.timetracker--body img {
    max-width: 30%;
} 

.timetracker--wrapper {
    text-align: center;
}

.addToken--wrapper {
    display: none;
}

#tokenInput, #getMitarbeiter {
    position: absolute;
    left: -500px;
}

#addTokenInput {
    position: absolute;
    left: -500px;
}

.addToken--scan-text {
    display: none;
}

.btn--back {
    display: none;
    margin-bottom: 25px;
}

#reload {
    position: absolute;
    top: 5px;
    width: 120px;
    height: 120px;
    left: 5px;
    font-size: 4rem;
}

.keybutton--wrapper {
    margin-top: 25px;
}

.btn--forgotkey {
    margin-bottom: 25px;
    padding: 30px 20px;
}

.forgotkey--wrapper {
    position: fixed;
    display: flex;
    left: 1%;
    flex-direction: column;
    width: 98%;
    margin: auto;
}

.forgotkey--wrapper label {
    text-align: left;
}

.btn--sendldap {
    width: 120px;
    height: 120px;
}

.forgotkey--textinput {
    width: 100%;
    max-height: 52px;
}

.blupwrapper-2 {
    display: flex;
    margin: auto;
    width: 98%;
    justify-content: space-evenly;
}

.blupwrapper-1 {
    display: flex;
    flex-direction: column;
}

.blupwrapper-3 {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-right: 10px;
}

.blupwrapper-4 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}

.timetracker--wrapper label, .timetracker--wrapper input, .timetracker--wrapper button {
    font-size: 4rem;
}

.action--wrapper {
    display: flex;
    justify-content: space-evenly;
}

.action--popup {
    position: absolute;
    width: 520px;
    height: 430px;
    background: lightblue;
    top: 0;
    left: 50%;
    transform: translate(-50%, 25px);
    display: flex;
}

.action--popup h2{
    display: flex;
    margin: auto;
    font-size: 5rem;
    text-align: center;
}

.action--wrapper-hidden {
    display: none;
}

.action--btn {
    padding: 60px;
    font-size: 5rem;
    min-width: 40%;
    border-radius: 3px;
    border: 1px solid #0b0e07;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;

}

.add--token-hidden, .btn--forgotkey, .btn--sendldap , #reload{
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #ababab 100%);
    background-color: #999999;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.action--btn.action--btn-start {
    text-shadow: 0px 1px 0px #263666;
    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color: #2dabf9;
}
.action--btn.action--btn-leave {
    text-shadow: 0px 1px 0px #263666;
    box-shadow: inset 0px -3px 7px 0px #c75914;
    background: linear-gradient(to bottom, rgba(249, 45, 45, 0.3) 5%, rgba(250, 6, 6, 0.3) 100%);
    background-color: #f95c2d;
}