html {
    cursor: none;
    position: fixed;
    width: 100%;
}

.current--time {
    position: absolute;
    left: 15%;
    top: 0;
    margin-right: 5px;
    font-size: 35px;
}

html, body {margin: 0; height: 100%; overflow: hidden}


.timetracker--body {
    padding-top: 10px;
}

.timetracker--body img {
    max-width: 30%;
} 

.timetracker--wrapper {
    text-align: center;
}

.addToken--wrapper {
    display: none;
}

#tokenInput, #getMitarbeiter, #setWitness, #witnessInput {
    position: absolute;
    left: -500px;
}

#addTokenInput {
    position: absolute;
    left: -500px;
}

.addToken--scan-text {
    display: none;
}

.btn--back {
    display: none;
    margin-bottom: 25px;
}

#reload {
    position: absolute;
    top: 5px;
    width: 120px;
    height: 120px;
    left: 5px;
    font-size: 4rem;
}

.keybutton--wrapper {
    margin-top: 25px;
}

.btn--forgotkey {
    margin-bottom: 25px;
    padding: 30px 20px;
}

.forgotkey--wrapper {
    position: fixed;
    display: flex;
    left: 1%;
    flex-direction: column;
    width: 98%;
    margin: auto;
}

.forgotkey--wrapper label {
    text-align: left;
}

.btn--sendldap {
    width: 120px;
    height: 120px;
}

.forgotkey--textinput {
    width: 100%;
    max-height: 52px;
}

.blupwrapper-2 {
    display: flex;
    margin: auto;
    width: 98%;
    justify-content: space-evenly;
}

.blupwrapper-1 {
    display: flex;
    flex-direction: column;
}

.blupwrapper-3 {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin-right: 10px;
}

.blupwrapper-4 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}

.timetracker--wrapper label, .timetracker--wrapper input, .timetracker--wrapper button {
    font-size: 4rem;
}

.action--wrapper {
    display: flex;
    justify-content: space-evenly;
}

.corona--wrapper-hidden {
    display: none;
}

.action--popup {
    position: absolute;
    width: 520px;
    height: 430px;
    background: lightblue;
    top: 0;
    left: 50%;
    transform: translate(-50%, 25px);
    display: flex;
}

.action--popup h2{
    display: flex;
    margin: auto;
    font-size: 5rem;
    text-align: center;
}

.action--wrapper-hidden {
    display: none;
}

.action--btn {
    padding: 60px;
    font-size: 5rem;
    min-width: 40%;
    border-radius: 3px;
    border: 1px solid #0b0e07;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;

}

.add--token-hidden, .btn--forgotkey, .btn--sendldap , #reload{
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #ababab 100%);
    background-color: #999999;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.action--btn.action--btn-start {
    text-shadow: 0px 1px 0px #263666;
    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color: #2dabf9;
}
.action--btn.action--btn-leave {
    text-shadow: 0px 1px 0px #263666;
    box-shadow: inset 0px -3px 7px 0px #c75914;
    background: linear-gradient(to bottom, rgba(249, 45, 45, 0.3) 5%, rgba(250, 6, 6, 0.3) 100%);
    background-color: #f95c2d;
}