{% set user = __SELF__.user %}
{% set employ = __SELF__.employ %}
{% set vacations = __SELF__.vacationRequests %}
{% set requests = __SELF__.requests %}
{% set types = __SELF__.type %}
{% set states = __SELF__.state %}
{% set aktion = __SELF__.action %}

<!--<div class="emt&#45;&#45;login-wrapper">-->


    {% if user %}
    <!--<main class="main-content" id="main-content">-->
    <div class="emt--time-container emt--request-wrapper">
        <h4 style="margin: 20px 0;" class="emt--headline-4 mdc-typography--headline4">Meine Anträge</h4>
        <div class="mdc-snackbar">
            <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
                <div class="mdc-snackbar__label" aria-atomic="false">
                    Can't send photo. Retry in 5 seconds.
                </div>
                <div class="mdc-snackbar__actions" aria-atomic="true">
                    <button type="button" class="mdc-button mdc-snackbar__action">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Ok</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="emt--time-output">
            <div class="mdc-tab-bar" role="tablist">
                <div class="mdc-tab-scroller noPrint">
                    <div class="mdc-tab-scroller__scroll-area">
                        <div class="mdc-tab-scroller__scroll-content">
                            <button class="mdc-tab mdc-tab--stacked mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">schedule</span>
                                <span class="mdc-tab__text-label">Zeitanträge</span>
                            </span>
                                <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                                <span class="mdc-tab__ripple"></span>
                            </button>
                            <button class="mdc-tab mdc-tab--stacked" role="tab" aria-selected="true" tabindex="0">
                          <span class="mdc-tab__content">
                            <span class="mdc-tab__icon material-icons" aria-hidden="true">beach_access</span>
                            <span class="mdc-tab__text-label">Urlaubsanträge</span>
                          </span>
                                <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                                <span class="mdc-tab__ripple"></span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-content emt--request-tab_content tab-content--active">
                <ul class="mdc-list mdc-list--two-line" id="emt--time_listOut">

                    {% for request in requests %}
                    <!--{% if loop.index == 1 %}
                    <li role="separator" class="mdc-list-divider"></li>
                    {% endif %}-->
                    <li class="mdc-list-item emt--list-item" id="{{request['id']}}">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text">
                    Typ: {{types[request['type']]}}
                    {% if request['memo'] %}
                    <span class="emt--list-note"> Notiz:<br> {{request['memo']|nl2br}}</span>
                    {% endif %}</span>
                      <span class="mdc-list-item__third-text emt--list-item__third-text">
                        {% if request['og_time'] %}
                            <span class="emt--list-old emt--mobile-list_third_part">ALT:
                                {{request['og_time']|date("d.m.Y H:i")}}
                            </span>
                        {% endif %}
                        {% if request['new_time'] %}
                        <span class="emt--mobile-list_third_part">
                            {% if request['type'] != 'delete' and request['type'] != 'add' %}
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">arrow_right_alt</i>
                            {% endif %}
                            NEU: {{request['new_time']|date("d.m.Y H:i")}}
                        </span>
                        {% endif %}
                        {% if request['timestamp_status'] %}
                        <span class="emt--mobile-list_third_part">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">arrow_right_alt</i>
                            Status: {{aktion[request['timestamp_status']]}}
                        </span>
                        {% endif %}
                          <!--</span>-->
                    </span>
                <span class="mdc-list-item__secondary-text">
                    {% set currentstate = request['status'] %}
                        {% if currentstate == 'pending' %}
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">pending_actions</i>
                        {% elseif currentstate == 'declined' %}
                            <i class="material-icons mdc-list-item__graphic emt--icon-decline" aria-hidden="true">block</i>
                        {% elseif currentstate == 'accepted' %}
                            <i class="material-icons mdc-list-item__graphic emt--icon-accept" aria-hidden="true">check_circle_outline</i>
                        {% endif %}
                    {{states[request['status']]}}</span>
                </span>
                        <span class="mdc-list-item__graphic emt--list-item__graphic">

                        {% if request['status'] == 'pending' %}
                            <button data-memo="{{loop.index}}" class="emt--button_request-edit emt--lead_button-memo emt--list-button mdc-button mdc-button--outlined mdc-button--touch" tabindex="-1">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">edit</i>
                        </button>
                        <form data-request="onDeleteRequest" data-request-confirm="Wirklich löschen?">
                                <button class="emt--button_request-delete emt--list-button mdc-button mdc-button--outlined mdc-button--touch" tabindex="-1">
                                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">delete</i>
                                </button>
                            <input type="hidden" name="id" value="{{request['id']}}">
                        </form>
                        {% endif %}
                    </span>
                    </li>

                    <div class="mdc-dialog mdc-dialog_memo mdc-dialog_memo-{{loop.index}}">
                        <div class="mdc-dialog__container">
                            <div class="mdc-dialog__surface"
                                 role="alertdialog"
                                 aria-modal="true"
                                 aria-labelledby="my-dialog-title"
                                 aria-describedby="my-dialog-content">
                                <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                                <h2 class="mdc-dialog__title" id="my-dialog-title">Text hinzufügen</h2>
                                <div class="mdc-dialog__content" id="my-dialog-content">
                                    <form class="emt--login-form" data-request="onAddMemo">
                                        <input type="hidden" name="id" value="{{request['id']}}">
                                        <input type="hidden" name="name" value="{{employ[0]['first_name']}}">
                                        <input type="hidden" name="user_id" value="{{request['user_id']}}">
                                        <input type="hidden" name="self_id" value="{{employ[0]['id']}}">
                                        <p class="emt--memo-text">
                                            {{request['memo']|nl2br}}
                                        </p>
                                        <label class="mdc-text-field mdc-text-field_{{loop.index}} mdc-text-field1 emt--login-label emp--label-wrapper mdc-text-field--filled">
                                            <span class="mdc-text-field__ripple"></span>
                                            <span class="mdc-floating-label" >Notiz</span>
                                            <input class="mdc-text-field__input" name="memo" type="text" aria-labelledby="my-label-id">
                                            <span class="mdc-line-ripple"></span>
                                        </label>
                                </div>
                                <div class="mdc-dialog__actions">
                                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">Abbrechen</span>
                                    </button>
                                    <button type="submit" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">OK</span>
                                    </button>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="mdc-dialog__scrim"></div>
                    </div>
                    <li role="separator" class="mdc-list-divider"></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="vacation-tab tab-content emt--request-tab_content">
                <ul class="mdc-list mdc-list--two-line" id="emt--time_listOut2">
                    {% for vacation in vacations %}
                    <li class="mdc-list-item emt--list-item" id="{{vacation['id']}}">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text">
                <span class="mdc-list-item__primary-text">
                    Typ: Urlaub
                    {% if vacation['name'] %}
                    <span class="emt--list-note"> Notiz:<br> {{vacation['name']|nl2br}}</span>
                    {% endif %}
                </span>
                  <span class="mdc-list-item__third-text emt--list-item__third-text">
                    <span class="emt--mobile-list_third_part">
                        Von: {{vacation['start_date']|date("d.m.Y")}}
                    </span>
                  </span>
                    <span class="mdc-list-item__third-text emt--list-item__third-text">
                        <span class="emt--mobile-list_third_part">
                            Bis: {{vacation['end_date']|date("d.m.Y")}}
                        </span>
                    </span>
                    <span class="mdc-list-item__third-text emt--list-item__third-text">
                        <span class="emt--mobile-list_third_part">
                            Status: {{vacation['status']}}
                            {% set vacationstate = vacation['status'] %}
                            {% if vacationstate == 'Beantragt' %}
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">pending_actions</i>
                            {% elseif vacationstate == 'Abgelehnt' %}
                            <i class="material-icons mdc-list-item__graphic emt--icon-decline" aria-hidden="true">block</i>
                            {% elseif vacationstate == 'Genehmigt' %}
                            <i class="material-icons mdc-list-item__graphic emt--icon-accept" aria-hidden="true">check_circle_outline</i>
                            {% endif %}
                        </span>
                    </span>
                    <span class="mdc-list-item__graphic emt--list-item__graphic">
                        {% if vacation['status'] == 'Beantragt' %}
                        <button data-memo="{{loop.index}}" class="emt--button_request-edit emt--button_request-edit_vacation emt--lead_button-memo emt--list-button mdc-button mdc-button--outlined mdc-button--touch" tabindex="-1">
                            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">edit</i>
                        </button>
                        <form data-request="onDeleteVacationRequest" data-request-confirm="Wirklich löschen?">
                                <button class="emt--button_request-delete emt--list-button mdc-button mdc-button--outlined mdc-button--touch" tabindex="-1">
                                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">delete</i>
                                </button>
                            <input type="hidden" name="id" value="{{vacation['id']}}">
                        </form>
                        {% endif %}
                    </span>
                    </li>

                    <div class="mdc-dialog mdc-dialog_memo mdc-dialog_memo_vacation-{{loop.index}}">
                        <div class="mdc-dialog__container">
                            <div class="mdc-dialog__surface"
                                 role="alertdialog"
                                 aria-modal="true"
                                 aria-labelledby="my-dialog-title"
                                 aria-describedby="my-dialog-content">
                                <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
                                <h2 class="mdc-dialog__title" id="my-dialog-title">Text hinzufügen</h2>
                                <div class="mdc-dialog__content" id="my-dialog-content">
                                    <form class="emt--login-form" data-request="onAddMemoVacation">
                                        <input type="hidden" name="id" value="{{vacation['id']}}">
                                        <input type="hidden" name="name" value="{{employ[0]['first_name']}}">
                                        <input type="hidden" name="user_id" value="{{vacation['mitarbeiter_id']}}">
                                        <input type="hidden" name="self_id" value="{{employ[0]['id']}}">
                                        <p class="emt--memo-text">
                                            {{vacation['name']|nl2br}}
                                        </p>
                                        <label class="mdc-text-field mdc-text-field_vacation_{{loop.index}} mdc-text-field1 emt--login-label emp--label-wrapper mdc-text-field--filled">
                                            <span class="mdc-text-field__ripple"></span>
                                            <span class="mdc-floating-label" >Notiz</span>
                                            <input class="mdc-text-field__input" name="memo" type="text" aria-labelledby="my-label-id">
                                            <span class="mdc-line-ripple"></span>
                                        </label>
                                </div>
                                <div class="mdc-dialog__actions">
                                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">Abbrechen</span>
                                    </button>
                                    <button type="submit" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">
                                        <div class="mdc-button__ripple"></div>
                                        <span class="mdc-button__label">OK</span>
                                    </button>
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="mdc-dialog__scrim"></div>
                    </div>
                    <li role="separator" class="mdc-list-divider"></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

    <!--</main>-->
    {% endif %}

