{% set loggedin = __SELF__.loggedIn %}
{% set user = __SELF__.employee %}
{% set urlaub = __SELF__.urlaub %}
{% set sickArray = __SELF__.sick %}
{% set urlaubstage_verbraucht = __SELF__.urlaubsTage %}
{% set krankheitstage = __SELF__.sickDays %}
{% set toolate = __SELF__.tooLate %}
{% set weekdays = __SELF__.weekdays %}
{% set lastYears = __SELF__.lastYears %}


{% if loggedin %}
<!--<div class="emt&#45;&#45;login-wrapper">-->
<!--<main class="main-content" id="main-content">-->
<div class="emt--time-container emt--request-wrapper noPrint">
    <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
            <div class="mdc-snackbar__label" aria-atomic="false">
                Can't send photo. Retry in 5 seconds.
            </div>
            <div class="mdc-snackbar__actions" aria-atomic="true">
                <button type="button" class="mdc-button mdc-snackbar__action">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Ok</span>
                </button>
            </div>
        </div>
    </div>

    <div class="emt--statics-wrapper noPrint">
        <div class="mdc-tab-bar" role="tablist">
            <div class="mdc-tab-scroller noPrint">
                <div class="mdc-tab-scroller__scroll-area">
                    <div class="mdc-tab-scroller__scroll-content">
                        <button class="mdc-tab mdc-tab--stacked mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                            <span class="mdc-tab__content">
                                <span class="mdc-tab__icon material-icons" aria-hidden="true">sports_bar</span>
                                <span class="mdc-tab__text-label">Urlaub</span>
                            </span>
                            <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab mdc-tab--stacked" role="tab" aria-selected="true" tabindex="0">
                          <span class="mdc-tab__content">
                            <span class="mdc-tab__icon material-icons" aria-hidden="true">healing</span>
                            <span class="mdc-tab__text-label">Krank</span>
                          </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab mdc-tab--stacked" role="tab" aria-selected="true" tabindex="0">
                          <span class="mdc-tab__content">
                            <span class="mdc-tab__icon material-icons" aria-hidden="true">schedule</span>
                            <span class="mdc-tab__text-label">Stunden</span>
                          </span>
                            <span class="mdc-tab-indicator">
                                <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                            </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="vacation-tab tab-content tab-content--active">
            <h4 class="emt--headline-4 mdc-typography--headline4">Urlaubstage pro Jahr: {{user[0]['vac_days']}}</h4>

            <div class="mdc-list-divider emt--divider"></div>
            <ul class="mdc-list mdc-list--two-line" style="margin-top: 30px;" id="emt--time_listOut">
            {% for item in urlaub %}
                {% if loop.index == 1 %}
                    <div class="emt--vacation-wrapper">
                {% else %}
                    <div class="emt--vacation-wrapper noPrint">
                {% endif %}
                <h4 style="margin-bottom: 5px;" class="emt--color-grey emt--headline-4 mdc-typography--headline4"><span class="mdc-tab__icon material-icons" aria-hidden="true">today</span>{{item['jahr']}}</h4>
                <h5 class="emt--headline-5 mdc-typography--headline5">Urlaubstage verbraucht: {{item['tage']}}</h5>
                <h5 class="emt--headline-5 mdc-typography--headline5">Urlaubstage über: {{item['über']}}</h5>
                    {% if loop.index == 1 %}
                    <h5 class="emt--headline-5 mdc-typography--headline5">Resturlaub vorheriger Jahre: {{lastYears}}</h5>
                    {% endif %}
                        {% if  user[0]['rest_urlaub_21'] %}
                        <h5 class="emt--headline-5 mdc-typography--headline5">Resturlaub 2021: {{item['einundzwanzig']}}</h5>
                        {% endif %}
                <li role="separator" class="mdc-list-divider"></li>
                    {% for entry in item['urlaub'] %}
                    <li class="emt--list-summary mdc-list-item emt--list-item">
                        <span class="mdc-list-item__ripple"></span>
                        <span class="mdc-list-item__text">
                            <span class="mdc-list-item__primary-text">Von: {{entry['start_date']|date('d.m.Y')}} Bis: {{entry['end_date']|date('d.m.Y')}}</span>
                            <span class="mdc-list-item__secondary-text">Status: {{entry['status']}}</span>
                            <span class="mdc-list-item__overline-text">Durch: {{entry['approved']}}</span>
                        </span>
                    </li>
                    {% if not loop.last %}
                        <li role="separator" class="mdc-list-divider"></li>
                    {% endif %}
                {% endfor %}
                </div>
            {% endfor %}
            </ul>
        </div>
        <div class="sick-tab tab-content">
            <h4 class="emt--headline-4 mdc-typography--headline4">Krankheitstage</h4>
            <div class="mdc-list-divider emt--divider"></div>
            <ul class="mdc-list mdc-list--two-line" style="margin-top: 50px;" id="">
            {% for sick in krankheitstage %}
                {% if not loop.first %}
                <li role="separator" class="mdc-list-divider"></li>
                {% endif %}
                <li class="emt--list-summary mdc-list-item emt--list-item">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text">
                        <span class="emt--list-sick_text1 mdc-list-item__primary-text">{{sick['jahr']}}</span>
                        <span class="emt--list-sick_text2 mdc-list-item__secondary-text">Krank: {{sick['tage']}}{% if sick['tage'] == 1 %} Tag {% else %} Tage {% endif %}</span>
                        {% for item in sickArray %}
                            {% if sick['jahr'] ==  item['start_day']|date('Y') %}
                            <p class="emt--list-sick_text3">{{item['start_day']|date('d.m.Y')}} - {{item['end_day']|date('d.m.Y')}}</p>
                            {% endif %}
                        {% endfor %}
                    </span>
                </li>
                {% if loop.last %}
                <li role="separator" class="mdc-list-divider"></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <div class="tab-content">
            <h4 class="emt--headline-4 mdc-typography--headline4">Stunden</h4>
            <div class="mdc-list-divider emt--divider"></div>
            <h4 style="margin-bottom: 5px;" class="emt--color-grey emt--headline-4 mdc-typography--headline4">
                <span class="mdc-tab__icon material-icons" aria-hidden="true">alarm_on</span>
                Aktuelle Startzeit: {{user[0]['start_time']|date('H:i')}}Uhr
            </h4>
            <ul class="mdc-list mdc-list--two-line" style="margin-top: 50px;" >
                {% for item in toolate %}
                <li class="emt--list-summary mdc-list-item emt--list-item emt--list-toolate">
                    <span class="mdc-list-item__ripple"></span>
                    <span class="mdc-list-item__text">
                        <span class="mdc-list-item__primary-text">{{item['timestamp']|date('d.m.Y - H:i')}}</span>
                        <span class="mdc-list-item__secondary-text">{{weekdays[item['timestamp']|date('l')]}}</span>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</div>
{% else %}
{% endif %}


