subject = 'Mitarbeiter Zeiterfassung'
==

<div class="wrapper" style="padding: 20px 10px;">
    <p>Hallo,</p>
    <p>{{text}}</p>
    {% if time %}
    <p>ZEIT: {{time|date('d.m.Y')}}</p>
    {% endif %}
    <a href="{{url('/')}}{{link}}" style="text-decoration: none; padding: 10px 20px; background-color: #a71680; color: white;">Hier klicken</a>
</div>