subject = 'Mitarbeiter Zeiterfassung'
==

<div class="wrapper" style="padding: 20px 10px;">
    <p>Hallo,</p>
    <p>{{text}}</p>
    {% if start and end %}
    <p>von {{start|date('d.m.Y')}} bis {{end|date('d.m.Y')}}</p>
    {% endif %}
</div>