{% set loggedin = __SELF__.loggedIn %}
{% set user = __SELF__.employee %}
{% set employees = __SELF__.employees %}
{% set department = __SELF__.department %}

{% if loggedin %}
<!--<div class="emt&#45;&#45;login-wrapper">-->
<!--<main class="main-content" id="main-content">-->
<div class="emt--time-container emt--request-wrapper">
    <h4 style="margin: 20px 0;" class="emt--headline-4 mdc-typography--headline4">Pünktlichkeit</h4>
    <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
            <div class="mdc-snackbar__label" aria-atomic="false">
                Can't send photo. Retry in 5 seconds.
            </div>
            <div class="mdc-snackbar__actions" aria-atomic="true">
                <button type="button" class="mdc-button mdc-snackbar__action">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Ok</span>
                </button>
            </div>
        </div>
    </div>

    <div class="emt--punctually-wrapper">
        <h3 class="emt--headline-3">Toleranz: {{department['punctuallity']}} Minuten</h3>
        <form data-request="onChangeTolerance">
            <label class="mdc-text-field mdc-text-field1 emt--login-label emp--label-wrapper mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" >Ändern</span>
                <input class="mdc-text-field__input" name="tolerance" type="text" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
            <input type="hidden" name="department_relation_id" value="{{department['id']}}">
            <button type="submit" class="mdc-button mdc-button--outlined" data-mdc-dialog-action="accept">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">OK</span>
            </button>
        </form>
        <ul class="mdc-list mdc-list--two-line">
            {% for item in employees %}
            {% if loop.index == 1 %}

            <li role="separator" class="mdc-list-divider"></li>
            {% endif %}
            <li class="emt--list-summary punctually--item mdc-list-item emt--list-item">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text" style="width: 100%;">
                    <span class="mdc-list-item__primary-text">{{item['user']['first_name']}} {{item['user']['last_name']}}</span>
                    <span class="mdc-list-item__secondary-text">Anzahl Unpünktlich ges.: {{ item['count']}}</span>
                    <div class="punctually--timeitem-wrapper">
                        {% set year = "now"|date("Y") %}
                        {% set start = 2022 %}
                        {% for time in item['sorted'] %}
                            {% for entry in time %}
                                {% if loop.index == 1%}
                                <h4>{{entry}} Anzahl: {{(time|length)-1}}</h4>
                                {% else %}
                                <p class="punctually--timeitem-entry">{{entry|date('d.m.Y - H:i')}}</p>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <span class="mdc-list-item__third-text emt--list-item__third-text">
                        <span class="emt--list-old emt--mobile-list_third_part">
                        </span>
                    </span>
                    <span class="mdc-list-item__secondary-text" style="text-align: center;">
                        <i class="material-icons mdc-list-item__graphic punctually--icon punctually--icon-open" aria-hidden="true">expand_more</i>
                        <i class="material-icons mdc-list-item__graphic punctually--icon punctually--icon-close" aria-hidden="true">expand_less</i>
                    </span>
                </span>
            </li>
            <li role="separator" class="mdc-list-divider"></li>
            {% endfor %}
        </ul>

    </div>

</div>
{% else %}
{% endif %}


