title = "Demonstration"
url = "/"
layout = "default"
==
<div class="home-wrapper" style="background-color: #00678a; padding: 20px">
    <h1 class="text-center" style="color: #FFFFFF">Welcome to the Employee Management Tool</h1>
    <h2 class="text-center" style="color: #FFFFFF">To enter the EMT click <a href="/backend/jannesnagelschmidt/mitarbeiter/employee">here</a></h2>
</div>