{% set presence = __SELF__.presence %}
{% set users = __SELF__.users %}
{% set count = 0 %}

{% set newArray = [] %}
<p class="component-headline">Wer ist gerade da?</p>
<ul class="presence-list">
{% for arbeitszeit in presence|sort((a, b) => b.timestamp <=> a.timestamp) %}
    {% if arbeitszeit.user_id not in newArray %}
       {% if arbeitszeit.status != 'leaving' and arbeitszeit.timestamp|date('Y-m-d') == "now"|date('Y-m-d')%}


        {% for mitarbeiter in users %}
            {% if mitarbeiter.id == arbeitszeit.user_id %}
            <li>{{mitarbeiter.first_name}} {{mitarbeiter.last_name}} ({{arbeitszeit.timestamp|date('Y-m-d')}})</li>
            {% set count = count + 1 %}
            {% endif %}
        {% endfor %}

        {% endif %}

        {% set newArray = newArray|merge([ arbeitszeit.user_id]) %}
    {% endif %}
{% endfor %}
    <li>Patrick Moldenhauer (Anwesenheit unklar)</li>
    <li>Michael Hans (Anwesenheit unklar)</li>
    <li>Claudia Ranft (Anwesenheit unklar)</li>
</ul>
<p>Anzahl der Personen: {{count+3}}</p>
<p>Auszug erstellt: {{ "now"|date("d.m.Y H:i:s","Europe/Berlin") }}</p>




