{% set loggedin = __SELF__.loggedIn %}
{% set user = __SELF__.employee %}
{% set employees = __SELF__.employees %}
{% set test = __SELF__.test %}
{% set department = __SELF__.department %}
{% set capacities = __SELF__.capacities %}
{% set timestamp_status = __SELF__.timestamp_status %}

{% if loggedin %}
<!--<div class="emt&#45;&#45;login-wrapper">-->
<!--<main class="main-content" id="main-content">-->
<div class="emt--time-container emt--request-wrapper">
    <h4 style="margin: 20px 0;" class="emt--headline-4 mdc-typography--headline4">Kapazitäten</h4>
    <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
            <div class="mdc-snackbar__label" aria-atomic="false">
                Can't send photo. Retry in 5 seconds.
            </div>
            <div class="mdc-snackbar__actions" aria-atomic="true">
                <button type="button" class="mdc-button mdc-snackbar__action">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Ok</span>
                </button>
            </div>
        </div>
    </div>
    <div class="help--wrapper-row emt--capacity-headwrapper">
        <div class="help--wrapper-column">
            <h3 class="emt--headline">Mitarbeiter Stunden verfügbar: {{capacities['available']}}</h3>
            <h3 class="emt--headline">Mitarbeiter verfügbar: {{capacities['number']}}</h3>
            <h3 class="emt--headline">Mitarbeiter im Urlaub: {{capacities['vacation']}}</h3>
            <h3 class="emt--headline">Mitarbeiter krank: {{capacities['sick']}}</h3>
        </div>
        <div class="help--wrapper-column">
            <h3 class="emt--headline">Minijob Stunden verfügbar: {{capacities['available_mini']}}</h3>
            <h3 class="emt--headline">Minijob Mitarbeiter verfügbar: {{capacities['mini_number']}}</h3>
            <h3 class="emt--headline">Minijob Mitarbeiter im Urlaub: {{capacities['vacationmini']}}</h3>
            <h3 class="emt--headline">Minijob Mitarbeiter krank: {{capacities['sickmini']}}</h3>
        </div>
    </div>
    <div class="emt--capacity-wrapper">
        {% for item in employees %}
        {% if item['working'] == 'working' %}
        <div class="emt--capacity-card mdc-card emt--capacity-available">
        {% elseif item['working'] == 'vacation' %}
            <div class="emt--capacity-card mdc-card emt--capacity-vacation">
        {% elseif item['working'] == 'sick' %}
            <div class="emt--capacity-card mdc-card emt--capacity-sick">
        {% else %}
        <div class="emt--capacity-card mdc-card emt--capacity-unavailable">
        {% endif %}
            <div class="mdc-card__content">
                <div class=" emt--capacity-text_name">{{item['employee']['last_name']}} {{item['employee']['first_name']}}</div>
                {% if item['employee']['is_minijob'] %}
                <div class="mdc-drawer__title" style="text-decoration: underline; font-size: 12px; color: white; position: absolute; bottom: 10px;">MINIJOB</div>
                {% endif %}
                {% if item['working'] == 'working' %}
                <div class="mdc-drawer__subtitle emt--capacity-text2">ANWESEND</div>
                <i class="fas fa-tools emt--capacity-available_icon"></i>
                <!--<div class="emt&#45;&#45;capacity-times">
                    {% for times in item['last_time'] %}
                    <span class="emt&#45;&#45;capacity-timestamp emt&#45;&#45;capacity-text1">{{timestamp_status[times['status']]}} - {{times['timestamp']|date('H:i')}}</span></br>
                    {% endfor %}
                </div>-->
                <!--<div class="mdc-drawer__subtitle emt&#45;&#45;capacity-text2">SOLL: {{item['workHours']}}</div>
                <div class="mdc-drawer__subtitle emt&#45;&#45;capacity-text2">Pause: {{item['breaks']}}</div>-->
                <!--<div class="mdc-drawer__subtitle emt&#45;&#45;capacity-text2">IST: {{item['left']}}</div>-->
                {% else %}
                    {% if item['working'] == 'vacation' %}
                    <div class="mdc-drawer__subtitle emt--capacity-text2">URLAUB</div>
                    <i class="fas fa-umbrella-beach emt--capacity-vacation_icon"></i>
                    {% elseif  item['working'] == 'sick' %}
                    <div class="mdc-drawer__subtitle emt--capacity-text2">KRANK</div>
                    <i class="fas fa-medkit emt--capacity-sick_icon"></i>
                    {% else %}
                    <div class="mdc-drawer__subtitle emt--capacity-text2">ABWESEND</div>
                    <i class="fas fa-ban emt--capacity-unavailable_icon"></i>
                {% endif %}
                {% endif %}
            </div>
        </div>

        {% endfor %}
    </div>

</div>
{% else %}
{% endif %}


