{% set loggedin = __SELF__.loggedIn %}
{% set user = __SELF__.employee %}
{% set employees = __SELF__.employees %}
{% set department = __SELF__.department %}
{% set corrections = __SELF__.corrections %}
{% set types = __SELF__.type %}


{% if loggedin %}
<!--<div class="emt&#45;&#45;login-wrapper">-->
<!--<main class="main-content" id="main-content">-->
<div class="emt--time-container emt--request-wrapper">
    <h4 style="margin: 20px 0;" class="emt--headline-4 mdc-typography--headline4">Interne Korrektur</h4>
    <div class="mdc-snackbar">
        <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
            <div class="mdc-snackbar__label" aria-atomic="false">
                Can't send photo. Retry in 5 seconds.
            </div>
            <div class="mdc-snackbar__actions" aria-atomic="true">
                <button type="button" class="mdc-button mdc-snackbar__action">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">Ok</span>
                </button>
            </div>
        </div>
    </div>

    <div class="emt--internalcorrection-wrapper noPrint">
        <div class="emt--internalcorrection-entrywrapper">
            {% for item in corrections %}
                <div class="emt--internalcorrection-entry" style="margin-bottom: 25px">
                    <div class="help--wrapper-row emt--internalcorrection-person" style="margin-bottom: 5px">
                        <i class="material-icons mdc-button__icon delete--correction-icon">person</i>
                        <p class="emt--internalcorrection-text" style="margin-bottom: auto; font-size: 1.5rem; margin-top: auto;">{{item['employee']['last_name']}} {{item['employee']['first_name']}} - {{item['hours_per_day']}}h pro Tag</p>
                    </div>
                    {% for time in item['timestamps'] %}
                    <form class="emt--internalcorrection-entryform" data-request-confirm="Wirklich löschen?" data-request="onDeleteCorrection">
                        <input type="hidden" id="thisuserAlso" name="thisuser" value="{{user['0']['first_name']}} {{user['0']['last_name']}}">
                        <div class="help--wrapper-row" style="justify-content: space-between;">
                            <div class="help--wrapper-column" style="margin-right: 30px;">
                                <p class="emt--internalcorrection-text"><span class="emt--internalcorrection-lighttext" style="font-weight: 500;">Datum: </span>{{time['lu_date']|date('d.m.Y')}}</p>
                                <p class="emt--internalcorrection-text"><span class="emt--internalcorrection-lighttext" style="font-weight: 500;">Zeit: </span> {% if time['negative'] %}-{% endif %}{{time['worked']}}h </p>
                                <p class="emt--internalcorrection-text"><span class="emt--internalcorrection-lighttext"style="font-weight: 500;">Notiz:</span> {{time['note']}}</p>
                                <p class="emt--internalcorrection-text"><span class="emt--internalcorrection-lighttext"style="font-weight: 500;">Typ:</span> {{types[time['type']]}}</p>
                            </div>
                            <input type="hidden" name="id" value="{{time['id']}}">
                            <button class="mdc-button mdc-button--touch emt--internalcorrection-delete" type="submit">
                                <i class="material-icons mdc-button__icon delete--correction-icon">delete</i>
                            </button>
                        </div>
                    </form>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <form class="emt--internalcorrection-form" data-request-confirm="Wirklich erstellen?" data-request="onAddCorrection">
            <span class="mdc-button mdc-button--outlined mdc-button--touch c-datepicker-btn" id="correction_date_picker">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__label">Datum wählen</span>
                    <span class="mdc-button__touch"></span>
        </span>
            <label class="mdc-text-field mdc-text-field4 emt--login-label emp--label-wrapper mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" id="correction_date_show">Datum</span>
                <span class="mdc-line-ripple"></span>
            </label>
            <input type="hidden" name="date" id="input_date" value="">
            <div class="mdc-select mdc-select_internalcorrection mdc-select&#45;&#45;filled emt&#45;&#45;select-wrapper">
                <div class="mdc-select__anchor">
                    <span class="mdc-select__ripple"></span>
                    <span class="mdc-floating-label mdc-floating-label&#45;&#45;float-above">Mitarbeiter wählen</span>
                    <span class="mdc-select__selected-text-container">
                              <span class="mdc-select__selected-text"></span>
                            </span>
                    <span class="mdc-select__dropdown-icon">
                            <svg
                                    class="mdc-select__dropdown-icon-graphic"
                                    viewBox="7 10 10 5" focusable="false">
                                <polygon
                                        class="mdc-select__dropdown-icon-inactive"
                                        stroke="none"
                                        fill-rule="evenodd"
                                        points="7 10 12 15 17 10">
                                </polygon>
                                <polygon
                                        class="mdc-select__dropdown-icon-active"
                                        stroke="none"
                                        fill-rule="evenodd"
                                        points="7 15 12 10 17 15">
                                </polygon>
                              </svg>
                            </span>
                    <span class="mdc-line-ripple"></span>
                </div>
                <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface&#45;&#45;fullwidth">
                    <ul class="mdc-list" role="listbox" aria-label="Food picker listbox">
                        <li class="mdc-list-item mdc-list-item&#45;&#45;selected" aria-selected="true" data-value="" role="option">
                            <span class="mdc-list-item__ripple"></span>
                        </li>

                        {% for employ in employees %}
                        <li class="mdc-list-item" aria-selected="false" data-value="{{employ['id']}}" role="option">
                            <span class="mdc-list-item__ripple"></span>
                            <span class="mdc-list-item__text">{{employ['last_name']}} {{employ['first_name']}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <input type="hidden" id="employ_id" name="user_id">
            <input type="hidden" id="type" name="type">
            <input type="hidden" id="thisuser" name="thisuser" value="{{user['0']['first_name']}} {{user['0']['last_name']}}">
            <label class="mdc-text-field mdc-text-field_vacation emt--login-label emp--label-wrapper mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" >Stunden</span>
                <input class="mdc-text-field__input" name="hours" type="number" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
            <label class="mdc-text-field mdc-text-field3 emt--login-label emp--label-wrapper mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" >Minuten</span>
                <input class="mdc-text-field__input" name="minutes" type="number" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
            <div class="mdc-select mdc-select_internalcorrection2 mdc-select&#45;&#45;filled emt&#45;&#45;select-wrapper">
                <div class="mdc-select__anchor">
                    <span class="mdc-select__ripple"></span>
                    <span class="mdc-floating-label mdc-floating-label&#45;&#45;float-above">Typ wählen</span>
                    <span class="mdc-select__selected-text-container">
                              <span class="mdc-select__selected-text"></span>
                            </span>
                    <span class="mdc-select__dropdown-icon">
                            <svg
                                    class="mdc-select__dropdown-icon-graphic"
                                    viewBox="7 10 10 5" focusable="false">
                                <polygon
                                        class="mdc-select__dropdown-icon-inactive"
                                        stroke="none"
                                        fill-rule="evenodd"
                                        points="7 10 12 15 17 10">
                                </polygon>
                                <polygon
                                        class="mdc-select__dropdown-icon-active"
                                        stroke="none"
                                        fill-rule="evenodd"
                                        points="7 15 12 10 17 15">
                                </polygon>
                              </svg>
                            </span>
                    <span class="mdc-line-ripple"></span>
                </div>
                <div class="mdc-select__menu mdc-menu mdc-menu-surface mdc-menu-surface&#45;&#45;fullwidth">
                    <ul class="mdc-list" role="listbox" aria-label="Food picker listbox">
                        <li class="mdc-list-item mdc-list-item&#45;&#45;selected" aria-selected="true" data-value="" role="option">
                            <span class="mdc-list-item__ripple"></span>
                        </li>
                        <li class="mdc-list-item" aria-selected="false" data-value="correction" role="option">
                            <span class="mdc-list-item__ripple"></span>
                            <span class="mdc-list-item__text">Korrektur</span>
                        </li>
                        <li class="mdc-list-item" aria-selected="false" data-value="special_vacation" role="option">
                            <span class="mdc-list-item__ripple"></span>
                            <span class="mdc-list-item__text">Sonderurlaub</span>
                        </li>
                        <li class="mdc-list-item" aria-selected="false" data-value="quarantine" role="option">
                            <span class="mdc-list-item__ripple"></span>
                            <span class="mdc-list-item__text">Quarantäne</span>
                        </li>
                        <li class="mdc-list-item" aria-selected="false" data-value="school" role="option">
                            <span class="mdc-list-item__ripple"></span>
                            <span class="mdc-list-item__text">Berufsschule</span>
                        </li>
                    </ul>
                </div>
            </div>
            <label class="mdc-text-field mdc-text-field2 emt--login-label emp--label-wrapper mdc-text-field--filled">
                <span class="mdc-text-field__ripple"></span>
                <span class="mdc-floating-label" >Bemerkung</span>
                <input class="mdc-text-field__input" name="note" type="text" aria-labelledby="my-label-id">
                <span class="mdc-line-ripple"></span>
            </label>
            <div class="emt--internalcorrection-buttonwrapper">
                <button type="submit" class="mdc-button mdc-dialog__button mdc-button--outlined" data-mdc-dialog-action="accept">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">OK</span>
                </button>
            </div>
        </form>
    </div>

</div>
{% else %}
{% endif %}


