{% set corona = __SELF__.corona%}
<script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['line']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
    var realData = [];
    var Header = ['Date', 'Cases'];
    realData.push(Header);
    var entries = $('.created').length;
    $('.created').each(function(index) {
            if(index >= (entries)-7) {
                    var date = $(this).data('date');
                    var cases = $(this).data('case');
                    var temp=[];
                    temp.push(date);
                    temp.push(cases);
                    realData.push(temp);
            }
    })

    var data = new google.visualization.arrayToDataTable(realData);

    var options = {
        title: 'Corona Cases',
        curveType: 'function',
        legend: { position: 'bottom' }
    };

    var chart = new google.charts.Line(document.getElementById('curve_chart'));

    chart.draw(data, options);
}
        </script>
</head>
<body>
{% for item in corona %}
<p type="hidden" class="created created_at-{{loop.index}}" data-case="{{item.cases}}" data-date="{{item.created_at|e}}"></p>
{% endfor %}

<div id="curve_chart" style="width: 1800px; height: 800px; margin: auto;"></div>
</body>